In [1]:
import pandas as pd, numpy as np
import lsff_output_processing as lop

!whoami
!date

ndbs
Fri Mar 27 13:54:53 PDT 2020

In [2]:
%load_ext autoreload
%autoreload 2

## Load all count space data tables and see what they are

In [3]:
base_directory = '/share/costeffectiveness/results/vivarium_conic_lsff/v4.0_folic_acid_fortification'

locations_rundates = {
    'Ethiopia': '2020_03_18_23_04_26',
    'India': '2020_03_18_23_04_36',
    'Nigeria': '2020_03_18_23_04_42',
}

In [4]:
data = lop.load_all_transformed_count_data(base_directory, locations_rundates)

In [5]:
data.keys()

dict_keys([('ethiopia', 'gestational_age'), ('ethiopia', 'transition_count'), ('ethiopia', 'deaths'), ('ethiopia', 'state_person_time'), ('ethiopia', 'births_with_ntd'), ('ethiopia', 'population'), ('ethiopia', 'person_time'), ('ethiopia', 'ylls'), ('ethiopia', 'ylds'), ('ethiopia', 'births'), ('ethiopia', 'birth_weight'), ('india', 'gestational_age'), ('india', 'transition_count'), ('india', 'deaths'), ('india', 'state_person_time'), ('india', 'births_with_ntd'), ('india', 'population'), ('india', 'person_time'), ('india', 'ylls'), ('india', 'ylds'), ('india', 'births'), ('india', 'birth_weight'), ('nigeria', 'gestational_age'), ('nigeria', 'transition_count'), ('nigeria', 'deaths'), ('nigeria', 'state_person_time'), ('nigeria', 'births_with_ntd'), ('nigeria', 'population'), ('nigeria', 'person_time'), ('nigeria', 'ylls'), ('nigeria', 'ylds'), ('nigeria', 'births'), ('nigeria', 'birth_weight')])

In [6]:
[k for k in data.keys() if k[0] == 'ethiopia']

[('ethiopia', 'gestational_age'),
 ('ethiopia', 'transition_count'),
 ('ethiopia', 'deaths'),
 ('ethiopia', 'state_person_time'),
 ('ethiopia', 'births_with_ntd'),
 ('ethiopia', 'population'),
 ('ethiopia', 'person_time'),
 ('ethiopia', 'ylls'),
 ('ethiopia', 'ylds'),
 ('ethiopia', 'births'),
 ('ethiopia', 'birth_weight')]

## See what some tables look like

I don't see any vitamin A deficiency or neural tube defects data in the person-time dataframes.

In [7]:
data[('ethiopia', 'person_time')].head()

,year,age_group,sex,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,false,person_time,21,baseline,0.0
1,2020,1_to_4,female,false,person_time,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,false,person_time,29,baseline,0.0
3,2020,1_to_4,female,false,person_time,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,false,person_time,55,baseline,0.0

In [8]:
data[('ethiopia', 'person_time')].measure.unique()

array(['person_time'], dtype=object)

In [9]:
data[('ethiopia', 'state_person_time')].head()

,year,age_group,sex,cause,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,diarrheal_diseases,false,person_time,21,baseline,0.0
1,2020,1_to_4,female,diarrheal_diseases,false,person_time,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,diarrheal_diseases,false,person_time,29,baseline,0.0
3,2020,1_to_4,female,diarrheal_diseases,false,person_time,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,diarrheal_diseases,false,person_time,55,baseline,0.0

In [11]:
data[('ethiopia', 'state_person_time')].measure.unique()

array(['person_time'], dtype=object)

In [12]:
data[('ethiopia', 'state_person_time')]['cause'].unique()

array(['diarrheal_diseases', 'lower_respiratory_infections', 'measles',
       'susceptible_to_diarrheal_diseases',
       'susceptible_to_lower_respiratory_infections',
       'susceptible_to_measles'], dtype=object)

## Check the YLDs

Hmm, some values are 0 that shouldn't be (in year 2020).

In [13]:
data[('ethiopia', 'ylds')].head()

,year,age_group,sex,cause,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,diarrheal_diseases,false,ylds,21,baseline,0.0
1,2020,1_to_4,female,diarrheal_diseases,false,ylds,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,diarrheal_diseases,false,ylds,29,baseline,0.0
3,2020,1_to_4,female,diarrheal_diseases,false,ylds,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,diarrheal_diseases,false,ylds,55,baseline,0.0

In [14]:
data[('ethiopia', 'ylds')]['cause'].unique()

array(['diarrheal_diseases', 'iron_deficiency',
       'lower_respiratory_infections', 'measles', 'neural_tube_defects',
       'vitamin_a_deficiency'], dtype=object)

In [15]:
data[('ethiopia', 'ylds')]['value'].unique()

array([0.00000000e+00, 2.49106450e+02, 3.25143567e+02, ...,
       5.47812127e-03, 1.05790782e+02, 2.75478832e+01])

In [16]:
data[('ethiopia', 'ylds')].query(
    'year == "2020" and fortification_group == "false"'
    + 'and age_group == "1_to_4" and cause == "diarrheal_diseases"'
).value.unique()

array([0.])

## Look at NTD birth prevalence data

In [17]:
data[('ethiopia', 'births_with_ntd')].head()

,year,sex,fortification_group,measure,input_draw,scenario,value
0,2020,female,false,live_births_with_ntds,21,baseline,42.0
1,2020,female,false,live_births_with_ntds,21,folic_acid_fortification_scale_up,40.0
2,2020,female,false,live_births_with_ntds,29,baseline,38.0
3,2020,female,false,live_births_with_ntds,29,folic_acid_fortification_scale_up,38.0
4,2020,female,false,live_births_with_ntds,55,baseline,27.0

In [18]:
data[('ethiopia', 'births')].head()

,year,sex,fortification_group,measure,input_draw,scenario,value
0,2020,female,false,live_births,21,baseline,21508.0
1,2020,female,false,live_births,21,folic_acid_fortification_scale_up,20577.0
2,2020,female,false,live_births,29,baseline,21827.0
3,2020,female,false,live_births,29,folic_acid_fortification_scale_up,20978.0
4,2020,female,false,live_births,55,baseline,21611.0