In [1]:
import pandas as pd, numpy as np
import vivarium_output_loader as vol
import lsff_output_processing as lop

!whoami
!date

ndbs
Tue Mar 31 11:52:35 PDT 2020

In [2]:
%load_ext autoreload
%autoreload 2

# Check deaths, YLLs, and YLDs in count data

## 1. Load all count space data tables and see what they are

In [3]:
base_directory = '/share/costeffectiveness/results/vivarium_conic_lsff/v4.0_folic_acid_fortification'

locations_rundates = {
    'Ethiopia': '2020_03_18_23_04_26',
    'India': '2020_03_18_23_04_36',
    'Nigeria': '2020_03_18_23_04_42',
}

In [4]:
data = vol.load_all_transformed_count_data(base_directory, locations_rundates)

In [5]:
[k for k in data.keys() if k[0] == 'nigeria']

[('nigeria', 'gestational_age'),
 ('nigeria', 'transition_count'),
 ('nigeria', 'deaths'),
 ('nigeria', 'state_person_time'),
 ('nigeria', 'births_with_ntd'),
 ('nigeria', 'population'),
 ('nigeria', 'person_time'),
 ('nigeria', 'ylls'),
 ('nigeria', 'ylds'),
 ('nigeria', 'births'),
 ('nigeria', 'birth_weight')]

## 2. Load the death, yll, yld tables

In [6]:
deaths = data[('nigeria', 'deaths')]
deaths.head()

,year,age_group,sex,cause,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,diarrheal_diseases,false,death,21,baseline,0.0
1,2020,1_to_4,female,diarrheal_diseases,false,death,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,diarrheal_diseases,false,death,29,baseline,0.0
3,2020,1_to_4,female,diarrheal_diseases,false,death,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,diarrheal_diseases,false,death,55,baseline,0.0

In [7]:
deaths.cause.unique()

array(['diarrheal_diseases', 'lower_respiratory_infections', 'measles',
       'neural_tube_defects', 'other_causes'], dtype=object)

In [8]:
ylls = data[('nigeria', 'ylls')]
ylls.head()

,year,age_group,sex,cause,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,diarrheal_diseases,false,ylls,21,baseline,0.0
1,2020,1_to_4,female,diarrheal_diseases,false,ylls,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,diarrheal_diseases,false,ylls,29,baseline,0.0
3,2020,1_to_4,female,diarrheal_diseases,false,ylls,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,diarrheal_diseases,false,ylls,55,baseline,0.0

In [9]:
ylls.cause.unique()

array(['diarrheal_diseases', 'lower_respiratory_infections', 'measles',
       'neural_tube_defects', 'other_causes'], dtype=object)

In [10]:
ylds = data[('nigeria', 'ylds')]
ylds.head()

,year,age_group,sex,cause,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,diarrheal_diseases,false,ylds,21,baseline,0.0
1,2020,1_to_4,female,diarrheal_diseases,false,ylds,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,diarrheal_diseases,false,ylds,29,baseline,0.0
3,2020,1_to_4,female,diarrheal_diseases,false,ylds,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,diarrheal_diseases,false,ylds,55,baseline,0.0

In [11]:
ylds.cause.unique()

array(['diarrheal_diseases', 'iron_deficiency',
       'lower_respiratory_infections', 'measles', 'neural_tube_defects',
       'vitamin_a_deficiency'], dtype=object)

## 3. Check the tables since many rows seem to be 0

I think the zero rows are due to stratification, particularly by coverage.

In [12]:
# This is the typical groupby we'd want:
# groupby_cols = ['year', 'age_group']

def summary_for_cause(df, cause, groupby_cols):
    cause_data = df.query('cause == @cause')
    
    index_cols = ['input_draw','scenario'] + groupby_cols
    
    cause_data = cause_data.groupby(index_cols).value.sum().reset_index()
    cause_data = cause_data.groupby(['scenario']+groupby_cols).value.describe()
    
    return cause_data

### Check diarrheal diseases

In [13]:
groupby_cols = ['year', 'age_group']
summary = summary_for_cause(deaths, 'diarrheal_diseases', groupby_cols)
# summary.head()
# summary.groupby(['scenario']+groupby_cols).value.describe()
summary

                                                       count    mean  \
scenario                          year age_group
baseline                          2020 1_to_4           25.0  293.00
                                       early_neonatal   25.0    9.40
                                       late_neonatal    25.0   18.32
                                       post_neonatal    25.0  316.00
                                  2021 1_to_4           25.0  596.32
                                       early_neonatal   25.0   19.88
                                       late_neonatal    25.0   40.40
                                       post_neonatal    25.0  644.64
                                  2022 1_to_4           25.0  605.76
                                       early_neonatal   25.0   19.76
                                       late_neonatal    25.0   36.96
                                       post_neonatal    25.0  644.24
                                  2023 1_to_4           25.0  615.96
                                       early_neonatal   25.0   19.20
                                       late_neonatal    25.0   36.76
                                       post_neonatal    25.0  650.64
                                  2024 1_to_4           25.0  618.36
                                       early_neonatal   25.0   19.56
                                       late_neonatal    25.0   36.96
                                       post_neonatal    25.0  658.20
folic_acid_fortification_scale_up 2020 1_to_4           25.0  293.00
                                       early_neonatal   25.0    9.40
                                       late_neonatal    25.0   18.32
                                       post_neonatal    25.0  316.00
                                  2021 1_to_4           25.0  596.32
                                       early_neonatal   25.0   19.88
                                       late_neonatal    25.0   40.44
                                       post_neonatal    25.0  644.64
                                  2022 1_to_4           25.0  605.72
                                       early_neonatal   25.0   19.76
                                       late_neonatal    25.0   36.96
                                       post_neonatal    25.0  644.28
                                  2023 1_to_4           25.0  616.00
                                       early_neonatal   25.0   19.20
                                       late_neonatal    25.0   36.80
                                       post_neonatal    25.0  650.56
                                  2024 1_to_4           25.0  618.40
                                       early_neonatal   25.0   19.56
                                       late_neonatal    25.0   36.96
                                       post_neonatal    25.0  658.20

                                                              std    min  \
scenario                          year age_group
baseline                          2020 1_to_4           57.789128  195.0
                                       early_neonatal    3.068659    5.0
                                       late_neonatal     6.853953    8.0
                                       post_neonatal    55.631975  212.0
                                  2021 1_to_4          104.066373  430.0
                                       early_neonatal    4.475116   14.0
                                       late_neonatal    11.937336   25.0
                                       post_neonatal   108.989250  460.0
                                  2022 1_to_4          119.242847  396.0
                                       early_neonatal    7.281712    5.0
                                       late_neonatal    10.748953   21.0
                                       post_neonatal   107.483828  453.0
                                  2023 1_to_4          111.967808  423.0
                                       early_neonatal    6.150881   11.0
                                       late_neonatal    13.295613   16.0
                                       post_neonatal   103.555895  460.0
                                  2024 1_to_4          113.070362  467.0
                                       early_neonatal    5.408943    6.0
                                       late_neonatal    12.703280   21.0
                                       post_neonatal   111.864129  459.0
folic_acid_fortification_scale_up 2020 1_to_4           57.789128  195.0
                                       early_neonatal    3.068659    5.0
                                       late_neonatal     6.853953    8.0
                                       post_neonatal    55.631975  212.0
                                  2021 1_to_4          104.066373  430.0
                                       early_neonatal    4.475116   14.0
                                       late_neonatal    11.927140   25.0
                                       post_neonatal   108.989250  460.0
                                  2022 1_to_4          119.248522  396.0
                                       early_neonatal    7.281712    5.0
                                       late_neonatal    10.748953   21.0
                                       post_neonatal   107.254573  453.0
                                  2023 1_to_4          111.896157  424.0
                                       early_neonatal    6.150881   11.0
                                       late_neonatal    13.316656   16.0
                                       post_neonatal   103.553159  460.0
                                  2024 1_to_4          112.991150  467.0
                                       early_neonatal    5.408943    6.0
                                       late_neonatal    12.703280   21.0
                                       post_neonatal   111.864129  459.0

                                                         25%    50%    75%  \
scenario                          year age_group
baseline                          2020 1_to_4          247.0  290.0  330.0
                                       early_neonatal    7.0    9.0   11.0
                                       late_neonatal    12.0   18.0   21.0
                                       post_neonatal   279.0  312.0  345.0
                                  2021 1_to_4          521.0  573.0  664.0
                                       early_neonatal   17.0   19.0   21.0
                                       late_neonatal    31.0   39.0   46.0
                                       post_neonatal   567.0  648.0  715.0
                                  2022 1_to_4          509.0  600.0  681.0
                                       early_neonatal   15.0   22.0   24.0
                                       late_neonatal    29.0   34.0   43.0
                                       post_neonatal   595.0  643.0  714.0
                                  2023 1_to_4          518.0  631.0  681.0
                                       early_neonatal   15.0   20.0   23.0
                                       late_neonatal    29.0   35.0   43.0
                                       post_neonatal   588.0  643.0  723.0
                                  2024 1_to_4          525.0  620.0  696.0
                                       early_neonatal   16.0   19.0   23.0
                                       late_neonatal    29.0   34.0   39.0
                                       post_neonatal   579.0  662.0  711.0
folic_acid_fortification_scale_up 2020 1_to_4          247.0  290.0  330.0
                                       early_neonatal    7.0    9.0   11.0
                                       late_neonatal    12.0   18.0   21.0
                                       post_neonatal   279.0  312.0  345.0
                                  2021 1_to_4          521.0  573.0  664.0
                                       early_neonatal   17.0   19.0   21.0
                                       late_neonatal    31.0   39.0   46.0
                                       post_neonatal   567.0  648.0  715.0
                                  2022 1_to_4          509.0  600.0  681.0
                                       early_neonatal   15.0   22.0   24.0
                                       late_neonatal    29.0   34.0   43.0
                                       post_neonatal   596.0  643.0  714.0
                                  2023 1_to_4          518.0  631.0  681.0
                                       early_neonatal   15.0   20.0   23.0
                                       late_neonatal    29.0   35.0   44.0
                                       post_neonatal   588.0  643.0  722.0
                                  2024 1_to_4          526.0  620.0  696.0
                                       early_neonatal   16.0   19.0   23.0
                                       late_neonatal    29.0   34.0   39.0
                                       post_neonatal   579.0  662.0  711.0

                                                         max
scenario                          year age_group
baseline                          2020 1_to_4          418.0
                                       early_neonatal   17.0
                                       late_neonatal    32.0
                                       post_neonatal   450.0
                                  2021 1_to_4          838.0
                                       early_neonatal   33.0
                                       late_neonatal    69.0
                                       post_neonatal   958.0
                                  2022 1_to_4          885.0
                                       early_neonatal   34.0
                                       late_neonatal    57.0
                                       post_neonatal   923.0
                                  2023 1_to_4          814.0
                                       early_neonatal   36.0
                                       late_neonatal    75.0
                                       post_neonatal   924.0
                                  2024 1_to_4          855.0
                                       early_neonatal   31.0
                                       late_neonatal    72.0
                                       post_neonatal   954.0
folic_acid_fortification_scale_up 2020 1_to_4          418.0
                                       early_neonatal   17.0
                                       late_neonatal    32.0
                                       post_neonatal   450.0
                                  2021 1_to_4          838.0
                                       early_neonatal   33.0
                                       late_neonatal    69.0
                                       post_neonatal   958.0
                                  2022 1_to_4          885.0
                                       early_neonatal   34.0
                                       late_neonatal    57.0
                                       post_neonatal   922.0
                                  2023 1_to_4          814.0
                                       early_neonatal   36.0
                                       late_neonatal    75.0
                                       post_neonatal   924.0
                                  2024 1_to_4          855.0
                                       early_neonatal   31.0
                                       late_neonatal    72.0
                                       post_neonatal   954.0

In [14]:
summary_for_cause(ylds, 'diarrheal_diseases', groupby_cols)

                                                       count         mean  \
scenario                          year age_group
baseline                          2020 1_to_4           25.0   524.563184
                                       early_neonatal   25.0     1.731685
                                       late_neonatal    25.0    11.395741
                                       post_neonatal    25.0   195.953981
                                  2021 1_to_4           25.0  1060.187979
                                       early_neonatal   25.0     3.451898
                                       late_neonatal    25.0    22.859792
                                       post_neonatal    25.0   397.087003
                                  2022 1_to_4           25.0  1080.377369
                                       early_neonatal   25.0     3.455020
                                       late_neonatal    25.0    22.833076
                                       post_neonatal    25.0   397.778991
                                  2023 1_to_4           25.0  1096.592949
                                       early_neonatal   25.0     3.450295
                                       late_neonatal    25.0    22.997668
                                       post_neonatal    25.0   397.392058
                                  2024 1_to_4           25.0  1109.799425
                                       early_neonatal   25.0     3.441130
                                       late_neonatal    25.0    22.957024
                                       post_neonatal    25.0   399.025777
folic_acid_fortification_scale_up 2020 1_to_4           25.0   524.563184
                                       early_neonatal   25.0     1.731685
                                       late_neonatal    25.0    11.395884
                                       post_neonatal    25.0   195.954936
                                  2021 1_to_4           25.0  1060.189447
                                       early_neonatal   25.0     3.451898
                                       late_neonatal    25.0    22.860273
                                       post_neonatal    25.0   397.095893
                                  2022 1_to_4           25.0  1080.389952
                                       early_neonatal   25.0     3.455020
                                       late_neonatal    25.0    22.833332
                                       post_neonatal    25.0   397.790057
                                  2023 1_to_4           25.0  1096.619456
                                       early_neonatal   25.0     3.450340
                                       late_neonatal    25.0    22.997825
                                       post_neonatal    25.0   397.399905
                                  2024 1_to_4           25.0  1109.838587
                                       early_neonatal   25.0     3.441130
                                       late_neonatal    25.0    22.957487
                                       post_neonatal    25.0   399.039556

                                                              std         min  \
scenario                          year age_group
baseline                          2020 1_to_4          106.979294  314.415391
                                       early_neonatal    0.348613    1.203632
                                       late_neonatal     2.206952    7.805664
                                       post_neonatal    41.017866  107.065815
                                  2021 1_to_4          215.142487  634.428523
                                       early_neonatal    0.674878    2.261821
                                       late_neonatal     4.283543   15.920998
                                       post_neonatal    83.155083  218.380860
                                  2022 1_to_4          219.714295  646.054443
                                       early_neonatal    0.679495    2.306485
                                       late_neonatal     4.343404   15.558647
                                       post_neonatal    82.883662  218.364827
                                  2023 1_to_4          222.503839  659.666470
                                       early_neonatal    0.676142    2.313585
                                       late_neonatal     4.404727   15.781279
                                       post_neonatal    83.525427  217.793328
                                  2024 1_to_4          224.219943  666.808425
                                       early_neonatal    0.690243    2.271899
                                       late_neonatal     4.361499   15.645455
                                       post_neonatal    83.654215  217.221376
folic_acid_fortification_scale_up 2020 1_to_4          106.979294  314.415391
                                       early_neonatal    0.348613    1.203632
                                       late_neonatal     2.206903    7.805664
                                       post_neonatal    41.018038  107.065815
                                  2021 1_to_4          215.143116  634.429440
                                       early_neonatal    0.674878    2.261821
                                       late_neonatal     4.283812   15.920998
                                       post_neonatal    83.156790  218.394603
                                  2022 1_to_4          219.714701  646.075290
                                       early_neonatal    0.679495    2.306485
                                       late_neonatal     4.343172   15.559334
                                       post_neonatal    82.885127  218.373989
                                  2023 1_to_4          222.507282  659.705643
                                       early_neonatal    0.676161    2.313585
                                       late_neonatal     4.404710   15.781279
                                       post_neonatal    83.525962  217.807072
                                  2024 1_to_4          224.228669  666.841641
                                       early_neonatal    0.690243    2.271899
                                       late_neonatal     4.361267   15.650265
                                       post_neonatal    83.658858  217.228934

                                                               25%  \
scenario                          year age_group
baseline                          2020 1_to_4           471.179393
                                       early_neonatal     1.555979
                                       late_neonatal     10.056288
                                       post_neonatal    179.531761
                                  2021 1_to_4           953.030922
                                       early_neonatal     3.090190
                                       late_neonatal     20.792331
                                       post_neonatal    366.417428
                                  2022 1_to_4           970.636140
                                       early_neonatal     3.149966
                                       late_neonatal     20.301255
                                       post_neonatal    366.064470
                                  2023 1_to_4           984.950379
                                       early_neonatal     3.124042
                                       late_neonatal     20.451862
                                       post_neonatal    365.746419
                                  2024 1_to_4          1000.286498
                                       early_neonatal     3.149966
                                       late_neonatal     20.597650
                                       post_neonatal    367.856752
folic_acid_fortification_scale_up 2020 1_to_4           471.179393
                                       early_neonatal     1.555979
                                       late_neonatal     10.056288
                                       post_neonatal    179.531761
                                  2021 1_to_4           953.030922
                                       early_neonatal     3.090190
                                       late_neonatal     20.792331
                                       post_neonatal    366.418839
                                  2022 1_to_4           970.646206
                                       early_neonatal     3.149966
                                       late_neonatal     20.301255
                                       post_neonatal    366.082100
                                  2023 1_to_4           984.990034
                                       early_neonatal     3.124042
                                       late_neonatal     20.451862
                                       post_neonatal    365.746419
                                  2024 1_to_4          1000.324323
                                       early_neonatal     3.149966
                                       late_neonatal     20.597650
                                       post_neonatal    367.874030

                                                               50%  \
scenario                          year age_group
baseline                          2020 1_to_4           501.082719
                                       early_neonatal     1.677215
                                       late_neonatal     11.194058
                                       post_neonatal    191.573214
                                  2021 1_to_4          1011.638197
                                       early_neonatal     3.321179
                                       late_neonatal     22.276819
                                       post_neonatal    388.034847
                                  2022 1_to_4          1034.246287
                                       early_neonatal     3.335819
                                       late_neonatal     22.334819
                                       post_neonatal    390.374295
                                  2023 1_to_4          1051.659594
                                       early_neonatal     3.358029
                                       late_neonatal     22.971749
                                       post_neonatal    389.153448
                                  2024 1_to_4          1064.730967
                                       early_neonatal     3.289211
                                       late_neonatal     22.259182
                                       post_neonatal    393.632187
folic_acid_fortification_scale_up 2020 1_to_4           501.082719
                                       early_neonatal     1.677215
                                       late_neonatal     11.194058
                                       post_neonatal    191.583051
                                  2021 1_to_4          1011.638197
                                       early_neonatal     3.321179
                                       late_neonatal     22.276819
                                       post_neonatal    388.036650
                                  2022 1_to_4          1034.270405
                                       early_neonatal     3.335819
                                       late_neonatal     22.334819
                                       post_neonatal    390.376458
                                  2023 1_to_4          1051.666628
                                       early_neonatal     3.358029
                                       late_neonatal     22.971749
                                       post_neonatal    389.166057
                                  2024 1_to_4          1064.753746
                                       early_neonatal     3.289211
                                       late_neonatal     22.259182
                                       post_neonatal    393.633988

                                                               75%  \
scenario                          year age_group
baseline                          2020 1_to_4           605.589294
                                       early_neonatal     1.896712
                                       late_neonatal     12.296345
                                       post_neonatal    212.945485
                                  2021 1_to_4          1223.657355
                                       early_neonatal     3.739297
                                       late_neonatal     23.939876
                                       post_neonatal    429.054002
                                  2022 1_to_4          1247.656500
                                       early_neonatal     3.695961
                                       late_neonatal     24.217962
                                       post_neonatal    430.641942
                                  2023 1_to_4          1265.341934
                                       early_neonatal     3.612496
                                       late_neonatal     24.556988
                                       post_neonatal    432.214742
                                  2024 1_to_4          1281.886895
                                       early_neonatal     3.662838
                                       late_neonatal     24.388935
                                       post_neonatal    429.420415
folic_acid_fortification_scale_up 2020 1_to_4           605.589294
                                       early_neonatal     1.896712
                                       late_neonatal     12.296345
                                       post_neonatal    212.945485
                                  2021 1_to_4          1223.657355
                                       early_neonatal     3.739297
                                       late_neonatal     23.939876
                                       post_neonatal    429.062709
                                  2022 1_to_4          1247.667006
                                       early_neonatal     3.695961
                                       late_neonatal     24.217962
                                       post_neonatal    430.651405
                                  2023 1_to_4          1265.364892
                                       early_neonatal     3.612496
                                       late_neonatal     24.558169
                                       post_neonatal    432.234048
                                  2024 1_to_4          1281.930086
                                       early_neonatal     3.662838
                                       late_neonatal     24.388935
                                       post_neonatal    429.434799

                                                               max
scenario                          year age_group
baseline                          2020 1_to_4           801.457636
                                       early_neonatal     2.486068
                                       late_neonatal     16.523270
                                       post_neonatal    287.128381
                                  2021 1_to_4          1614.769729
                                       early_neonatal     4.807606
                                       late_neonatal     32.697536
                                       post_neonatal    577.728397
                                  2022 1_to_4          1651.053795
                                       early_neonatal     5.026978
                                       late_neonatal     32.601447
                                       post_neonatal    576.385795
                                  2023 1_to_4          1675.466666
                                       early_neonatal     5.128506
                                       late_neonatal     33.352938
                                       post_neonatal    583.202598
                                  2024 1_to_4          1692.660165
                                       early_neonatal     4.957631
                                       late_neonatal     33.037475
                                       post_neonatal    580.199203
folic_acid_fortification_scale_up 2020 1_to_4           801.457636
                                       early_neonatal     2.486068
                                       late_neonatal     16.523270
                                       post_neonatal    287.128381
                                  2021 1_to_4          1614.769729
                                       early_neonatal     4.807606
                                       late_neonatal     32.697536
                                       post_neonatal    577.728397
                                  2022 1_to_4          1651.055609
                                       early_neonatal     5.026978
                                       late_neonatal     32.601447
                                       post_neonatal    576.393048
                                  2023 1_to_4          1675.481625
                                       early_neonatal     5.128506
                                       late_neonatal     33.352938
                                       post_neonatal    583.203505
                                  2024 1_to_4          1692.682377
                                       early_neonatal     4.957631
                                       late_neonatal     33.037475
                                       post_neonatal    580.209628

### Check neural tube defects

In [15]:
summary_for_cause(deaths, 'neural_tube_defects', groupby_cols)

                                                       count   mean  \
scenario                          year age_group
baseline                          2020 1_to_4           25.0  12.36
                                       early_neonatal   25.0   9.36
                                       late_neonatal    25.0   2.16
                                       post_neonatal    25.0  10.88
                                  2021 1_to_4           25.0  23.08
                                       early_neonatal   25.0  17.20
                                       late_neonatal    25.0   5.00
                                       post_neonatal    25.0  25.72
                                  2022 1_to_4           25.0  26.44
                                       early_neonatal   25.0  19.40
                                       late_neonatal    25.0   4.28
                                       post_neonatal    25.0  25.80
                                  2023 1_to_4           25.0  33.48
                                       early_neonatal   25.0  19.84
                                       late_neonatal    25.0   5.08
                                       post_neonatal    25.0  28.04
                                  2024 1_to_4           25.0  38.20
                                       early_neonatal   25.0  19.04
                                       late_neonatal    25.0   4.80
                                       post_neonatal    25.0  27.64
folic_acid_fortification_scale_up 2020 1_to_4           25.0  12.36
                                       early_neonatal   25.0   8.80
                                       late_neonatal    25.0   2.04
                                       post_neonatal    25.0  10.68
                                  2021 1_to_4           25.0  22.92
                                       early_neonatal   25.0  15.64
                                       late_neonatal    25.0   4.56
                                       post_neonatal    25.0  23.92
                                  2022 1_to_4           25.0  25.96
                                       early_neonatal   25.0  18.32
                                       late_neonatal    25.0   4.04
                                       post_neonatal    25.0  23.96
                                  2023 1_to_4           25.0  31.96
                                       early_neonatal   25.0  18.44
                                       late_neonatal    25.0   4.76
                                       post_neonatal    25.0  26.08
                                  2024 1_to_4           25.0  35.60
                                       early_neonatal   25.0  17.28
                                       late_neonatal    25.0   4.52
                                       post_neonatal    25.0  25.84

                                                             std   min   25%  \
scenario                          year age_group
baseline                          2020 1_to_4           6.556676   2.0   8.0
                                       early_neonatal   3.569314   4.0   6.0
                                       late_neonatal    1.312758   0.0   2.0
                                       post_neonatal    4.502962   1.0   9.0
                                  2021 1_to_4           9.349332   9.0  16.0
                                       early_neonatal   6.075909   7.0  14.0
                                       late_neonatal    2.843120   0.0   3.0
                                       post_neonatal   10.506030   9.0  19.0
                                  2022 1_to_4           9.772751  10.0  18.0
                                       early_neonatal   4.813176  10.0  16.0
                                       late_neonatal    3.129430   0.0   2.0
                                       post_neonatal    9.831921   7.0  19.0
                                  2023 1_to_4          12.247857  14.0  26.0
                                       early_neonatal   4.793051  12.0  16.0
                                       late_neonatal    2.691344   1.0   3.0
                                       post_neonatal   13.324414   8.0  20.0
                                  2024 1_to_4          13.988090  17.0  30.0
                                       early_neonatal   6.160898  10.0  14.0
                                       late_neonatal    2.273030   2.0   3.0
                                       post_neonatal   11.082569   6.0  20.0
folic_acid_fortification_scale_up 2020 1_to_4           6.556676   2.0   8.0
                                       early_neonatal   3.651484   2.0   6.0
                                       late_neonatal    1.135782   0.0   2.0
                                       post_neonatal    4.317793   1.0   9.0
                                  2021 1_to_4           9.402659   9.0  16.0
                                       early_neonatal   5.964338   7.0  12.0
                                       late_neonatal    2.785079   0.0   3.0
                                       post_neonatal   10.066115   8.0  17.0
                                  2022 1_to_4           9.576360   9.0  18.0
                                       early_neonatal   4.696807  10.0  15.0
                                       late_neonatal    2.936551   0.0   2.0
                                       post_neonatal    9.502105   7.0  19.0
                                  2023 1_to_4          11.879534  14.0  25.0
                                       early_neonatal   4.646504   9.0  15.0
                                       late_neonatal    2.521243   1.0   3.0
                                       post_neonatal   12.874134   7.0  17.0
                                  2024 1_to_4          13.546217  16.0  26.0
                                       early_neonatal   5.511503  10.0  13.0
                                       late_neonatal    2.084067   2.0   3.0
                                       post_neonatal   10.573867   5.0  18.0

                                                        50%   75%   max
scenario                          year age_group
baseline                          2020 1_to_4          10.0  16.0  25.0
                                       early_neonatal   9.0  12.0  16.0
                                       late_neonatal    2.0   2.0   6.0
                                       post_neonatal   11.0  12.0  22.0
                                  2021 1_to_4          20.0  31.0  46.0
                                       early_neonatal  16.0  19.0  34.0
                                       late_neonatal    4.0   7.0  13.0
                                       post_neonatal   24.0  33.0  51.0
                                  2022 1_to_4          27.0  35.0  42.0
                                       early_neonatal  19.0  23.0  27.0
                                       late_neonatal    4.0   5.0  12.0
                                       post_neonatal   27.0  32.0  46.0
                                  2023 1_to_4          31.0  44.0  59.0
                                       early_neonatal  20.0  22.0  30.0
                                       late_neonatal    5.0   6.0  11.0
                                       post_neonatal   25.0  33.0  65.0
                                  2024 1_to_4          36.0  46.0  66.0
                                       early_neonatal  18.0  24.0  32.0
                                       late_neonatal    5.0   6.0   9.0
                                       post_neonatal   28.0  33.0  51.0
folic_acid_fortification_scale_up 2020 1_to_4          10.0  16.0  25.0
                                       early_neonatal   9.0  11.0  16.0
                                       late_neonatal    2.0   2.0   5.0
                                       post_neonatal   11.0  12.0  21.0
                                  2021 1_to_4          20.0  31.0  46.0
                                       early_neonatal  15.0  17.0  32.0
                                       late_neonatal    4.0   6.0  13.0
                                       post_neonatal   23.0  31.0  47.0
                                  2022 1_to_4          27.0  34.0  42.0
                                       early_neonatal  18.0  21.0  27.0
                                       late_neonatal    4.0   5.0  11.0
                                       post_neonatal   23.0  29.0  43.0
                                  2023 1_to_4          29.0  43.0  57.0
                                       early_neonatal  18.0  21.0  27.0
                                       late_neonatal    5.0   6.0  10.0
                                       post_neonatal   25.0  32.0  60.0
                                  2024 1_to_4          34.0  42.0  65.0
                                       early_neonatal  16.0  22.0  30.0
                                       late_neonatal    4.0   6.0   9.0
                                       post_neonatal   26.0  30.0  50.0

In [16]:
summary_for_cause(ylls, 'neural_tube_defects', groupby_cols)

                                                       count         mean  \
scenario                          year age_group
baseline                          2020 1_to_4           25.0  1051.056855
                                       early_neonatal   25.0   822.585755
                                       late_neonatal    25.0   189.754407
                                       post_neonatal    25.0   951.695163
                                  2021 1_to_4           25.0  1966.761840
                                       early_neonatal   25.0  1511.577254
                                       late_neonatal    25.0   439.250471
                                       post_neonatal    25.0  2249.161368
                                  2022 1_to_4           25.0  2258.460765
                                       early_neonatal   25.0  1704.924766
                                       late_neonatal    25.0   375.990567
                                       post_neonatal    25.0  2255.448571
                                  2023 1_to_4           25.0  2861.217414
                                       early_neonatal   25.0  1743.594901
                                       late_neonatal    25.0   446.266580
                                       post_neonatal    25.0  2451.755173
                                  2024 1_to_4           25.0  3258.021853
                                       early_neonatal   25.0  1673.290070
                                       late_neonatal    25.0   421.666970
                                       post_neonatal    25.0  2416.707665
folic_acid_fortification_scale_up 2020 1_to_4           25.0  1051.056855
                                       early_neonatal   25.0   773.371424
                                       late_neonatal    25.0   179.211968
                                       post_neonatal    25.0   934.157702
                                  2021 1_to_4           25.0  1952.871661
                                       early_neonatal   25.0  1374.478808
                                       late_neonatal    25.0   400.592285
                                       post_neonatal    25.0  2091.728038
                                  2022 1_to_4           25.0  2216.998353
                                       early_neonatal   25.0  1610.010485
                                       late_neonatal    25.0   354.908150
                                       post_neonatal    25.0  2094.630897
                                  2023 1_to_4           25.0  2730.524562
                                       early_neonatal   25.0  1620.557844
                                       late_neonatal    25.0   418.151887
                                       post_neonatal    25.0  2280.333909
                                  2024 1_to_4           25.0  3036.033050
                                       early_neonatal   25.0  1518.614801
                                       late_neonatal    25.0   397.067712
                                       post_neonatal    25.0  2259.423350

                                                               std  \
scenario                          year age_group
baseline                          2020 1_to_4           557.427150
                                       early_neonatal   313.683079
                                       late_neonatal    115.321005
                                       post_neonatal    393.721297
                                  2021 1_to_4           796.844634
                                       early_neonatal   533.967496
                                       late_neonatal    249.759118
                                       post_neonatal    918.762704
                                  2022 1_to_4           836.355490
                                       early_neonatal   422.994579
                                       late_neonatal    274.912587
                                       post_neonatal    859.496061
                                  2023 1_to_4          1046.951896
                                       early_neonatal   421.222814
                                       late_neonatal    236.429666
                                       post_neonatal   1164.916809
                                  2024 1_to_4          1192.119235
                                       early_neonatal   541.428547
                                       late_neonatal    199.676832
                                       post_neonatal    969.111903
folic_acid_fortification_scale_up 2020 1_to_4           557.427150
                                       early_neonatal   320.905931
                                       late_neonatal     99.772285
                                       post_neonatal    377.492007
                                  2021 1_to_4           801.466971
                                       early_neonatal   524.162391
                                       late_neonatal    244.657072
                                       post_neonatal    880.313009
                                  2022 1_to_4           819.273091
                                       early_neonatal   412.767073
                                       late_neonatal    257.970185
                                       post_neonatal    830.611106
                                  2023 1_to_4          1015.336572
                                       early_neonatal   408.346160
                                       late_neonatal    221.485635
                                       post_neonatal   1125.462261
                                  2024 1_to_4          1154.431775
                                       early_neonatal   484.358037
                                       late_neonatal    183.076223
                                       post_neonatal    924.629369

                                                               min  \
scenario                          year age_group
baseline                          2020 1_to_4           171.313624
                                       early_neonatal   351.525916
                                       late_neonatal      0.000000
                                       post_neonatal     87.648643
                                  2021 1_to_4           773.205063
                                       early_neonatal   615.183532
                                       late_neonatal      0.000000
                                       post_neonatal    787.326556
                                  2022 1_to_4           855.724097
                                       early_neonatal   878.832362
                                       late_neonatal      0.000000
                                       post_neonatal    611.879904
                                  2023 1_to_4          1196.832104
                                       early_neonatal  1054.586534
                                       late_neonatal     87.833154
                                       post_neonatal    698.605992
                                  2024 1_to_4          1454.855087
                                       early_neonatal   878.858720
                                       late_neonatal    175.657522
                                       post_neonatal    524.529993
folic_acid_fortification_scale_up 2020 1_to_4           171.313624
                                       early_neonatal   175.754172
                                       late_neonatal      0.000000
                                       post_neonatal     87.648643
                                  2021 1_to_4           773.205063
                                       early_neonatal   615.183532
                                       late_neonatal      0.000000
                                       post_neonatal    699.976645
                                  2022 1_to_4           769.004810
                                       early_neonatal   878.832362
                                       late_neonatal      0.000000
                                       post_neonatal    611.879904
                                  2023 1_to_4          1196.832104
                                       early_neonatal   790.937704
                                       late_neonatal     87.833154
                                       post_neonatal    610.895845
                                  2024 1_to_4          1370.429555
                                       early_neonatal   878.832362
                                       late_neonatal    175.657522
                                       post_neonatal    437.478814

                                                               25%  \
scenario                          year age_group
baseline                          2020 1_to_4           677.896605
                                       early_neonatal   527.315232
                                       late_neonatal    175.675095
                                       post_neonatal    786.544581
                                  2021 1_to_4          1361.929752
                                       early_neonatal  1230.367064
                                       late_neonatal    263.543394
                                       post_neonatal   1660.737804
                                  2022 1_to_4          1534.137046
                                       early_neonatal  1406.112450
                                       late_neonatal    175.683882
                                       post_neonatal   1661.484639
                                  2023 1_to_4          2214.257898
                                       early_neonatal  1406.130022
                                       late_neonatal    263.578539
                                       post_neonatal   1748.421598
                                  2024 1_to_4          2563.399015
                                       early_neonatal  1230.331920
                                       late_neonatal    263.543394
                                       post_neonatal   1748.773046
folic_acid_fortification_scale_up 2020 1_to_4           677.896605
                                       early_neonatal   527.315232
                                       late_neonatal    175.666309
                                       post_neonatal    786.544581
                                  2021 1_to_4          1361.929752
                                       early_neonatal  1054.577748
                                       late_neonatal    263.534608
                                       post_neonatal   1486.134630
                                  2022 1_to_4          1534.137046
                                       early_neonatal  1318.235364
                                       late_neonatal    175.683882
                                       post_neonatal   1660.860814
                                  2023 1_to_4          2135.869611
                                       early_neonatal  1318.244150
                                       late_neonatal    263.508249
                                       post_neonatal   1486.029201
                                  2024 1_to_4          2220.285213
                                       early_neonatal  1142.481192
                                       late_neonatal    263.543394
                                       post_neonatal   1574.319238

                                                               50%  \
scenario                          year age_group
baseline                          2020 1_to_4           856.081567
                                       early_neonatal   790.955276
                                       late_neonatal    175.701453
                                       post_neonatal    961.956091
                                  2021 1_to_4          1706.562794
                                       early_neonatal  1406.112450
                                       late_neonatal    351.438052
                                       post_neonatal   2098.840443
                                  2022 1_to_4          2306.706610
                                       early_neonatal  1669.752494
                                       late_neonatal    351.402907
                                       post_neonatal   2359.932478
                                  2023 1_to_4          2645.034307
                                       early_neonatal  1757.682296
                                       late_neonatal    439.218488
                                       post_neonatal   2185.478671
                                  2024 1_to_4          3074.351054
                                       early_neonatal  1581.892980
                                       late_neonatal    439.183344
                                       post_neonatal   2447.106664
folic_acid_fortification_scale_up 2020 1_to_4           856.081567
                                       early_neonatal   790.946490
                                       late_neonatal    175.692668
                                       post_neonatal    961.560709
                                  2021 1_to_4          1704.924399
                                       early_neonatal  1318.217792
                                       late_neonatal    351.411694
                                       post_neonatal   2011.393883
                                  2022 1_to_4          2306.706610
                                       early_neonatal  1581.866622
                                       late_neonatal    351.385334
                                       post_neonatal   2010.172600
                                  2023 1_to_4          2479.817507
                                       early_neonatal  1581.919338
                                       late_neonatal    439.200916
                                       post_neonatal   2185.478671
                                  2024 1_to_4          2886.355574
                                       early_neonatal  1406.130022
                                       late_neonatal    351.420480
                                       post_neonatal   2272.204758

                                                               75%  \
scenario                          year age_group
baseline                          2020 1_to_4          1359.119652
                                       early_neonatal  1054.595320
                                       late_neonatal    175.736598
                                       post_neonatal   1050.615151
                                  2021 1_to_4          2647.576304
                                       early_neonatal  1669.787638
                                       late_neonatal    614.963874
                                       post_neonatal   2885.112655
                                  2022 1_to_4          2984.990476
                                       early_neonatal  2021.304768
                                       late_neonatal    439.262421
                                       post_neonatal   2797.244354
                                  2023 1_to_4          3750.867435
                                       early_neonatal  1933.410110
                                       late_neonatal    527.095574
                                       post_neonatal   2885.130227
                                  2024 1_to_4          3930.134728
                                       early_neonatal  2109.199426
                                       late_neonatal    527.121933
                                       post_neonatal   2882.714011
folic_acid_fortification_scale_up 2020 1_to_4          1359.119652
                                       early_neonatal   966.709448
                                       late_neonatal    175.736598
                                       post_neonatal   1049.472941
                                  2021 1_to_4          2647.576304
                                       early_neonatal  1494.024680
                                       late_neonatal    527.130720
                                       post_neonatal   2712.354590
                                  2022 1_to_4          2887.934395
                                       early_neonatal  1845.550596
                                       late_neonatal    439.262421
                                       post_neonatal   2537.127593
                                  2023 1_to_4          3670.096022
                                       early_neonatal  1845.524238
                                       late_neonatal    527.095574
                                       post_neonatal   2797.850606
                                  2024 1_to_4          3582.026302
                                       early_neonatal  1933.401324
                                       late_neonatal    527.086788
                                       post_neonatal   2623.915186

                                                               max
scenario                          year age_group
baseline                          2020 1_to_4          2131.450903
                                       early_neonatal  1406.147594
                                       late_neonatal    527.104361
                                       post_neonatal   1923.938540
                                  2021 1_to_4          3929.370144
                                       early_neonatal  2987.979072
                                       late_neonatal   1141.927655
                                       post_neonatal   4460.301729
                                  2022 1_to_4          3598.509563
                                       early_neonatal  2372.830684
                                       late_neonatal   1054.138433
                                       post_neonatal   4021.680705
                                  2023 1_to_4          5041.578125
                                       early_neonatal  2636.444370
                                       late_neonatal    966.252561
                                       post_neonatal   5682.357008
                                  2024 1_to_4          5616.004078
                                       early_neonatal  2812.233686
                                       late_neonatal    790.586251
                                       post_neonatal   4459.739408
folic_acid_fortification_scale_up 2020 1_to_4          2131.450903
                                       early_neonatal  1406.147594
                                       late_neonatal    439.236062
                                       post_neonatal   1836.377759
                                  2021 1_to_4          3929.370144
                                       early_neonatal  2812.207328
                                       late_neonatal   1141.927655
                                       post_neonatal   4110.629710
                                  2022 1_to_4          3598.509563
                                       early_neonatal  2372.830684
                                       late_neonatal    966.314065
                                       post_neonatal   3759.279521
                                  2023 1_to_4          4870.621970
                                       early_neonatal  2372.857042
                                       late_neonatal    878.410620
                                       post_neonatal   5244.228013
                                  2024 1_to_4          5529.264931
                                       early_neonatal  2636.470728
                                       late_neonatal    790.586251
                                       post_neonatal   4372.011688

In [17]:
summary_for_cause(ylds, 'neural_tube_defects', groupby_cols)

                                                       count       mean  \
scenario                          year age_group
baseline                          2020 1_to_4           25.0  29.535715
                                       early_neonatal   25.0   0.388258
                                       late_neonatal    25.0   1.035753
                                       post_neonatal    25.0  10.911390
                                  2021 1_to_4           25.0  61.511151
                                       early_neonatal   25.0   0.771514
                                       late_neonatal    25.0   2.080997
                                       post_neonatal    25.0  29.601197
                                  2022 1_to_4           25.0  73.159132
                                       early_neonatal   25.0   0.766744
                                       late_neonatal    25.0   2.073980
                                       post_neonatal    25.0  31.169032
                                  2023 1_to_4           25.0  86.056052
                                       early_neonatal   25.0   0.777569
                                       late_neonatal    25.0   2.095764
                                       post_neonatal    25.0  30.596274
                                  2024 1_to_4           25.0  97.728396
                                       early_neonatal   25.0   0.758939
                                       late_neonatal    25.0   2.044181
                                       post_neonatal    25.0  30.361595
folic_acid_fortification_scale_up 2020 1_to_4           25.0  29.535715
                                       early_neonatal   25.0   0.360517
                                       late_neonatal    25.0   0.966928
                                       post_neonatal    25.0  10.666904
                                  2021 1_to_4           25.0  61.216593
                                       early_neonatal   25.0   0.714852
                                       late_neonatal    25.0   1.927430
                                       post_neonatal    25.0  27.598032
                                  2022 1_to_4           25.0  70.916499
                                       early_neonatal   25.0   0.715837
                                       late_neonatal    25.0   1.936732
                                       post_neonatal    25.0  29.045431
                                  2023 1_to_4           25.0  81.865212
                                       early_neonatal   25.0   0.723164
                                       late_neonatal    25.0   1.945042
                                       post_neonatal    25.0  28.425476
                                  2024 1_to_4           25.0  91.797626
                                       early_neonatal   25.0   0.704051
                                       late_neonatal    25.0   1.899605
                                       post_neonatal    25.0  28.123012

                                                             std        min  \
scenario                          year age_group
baseline                          2020 1_to_4           5.415171  21.286813
                                       early_neonatal   0.078582   0.255471
                                       late_neonatal    0.207543   0.694986
                                       post_neonatal    2.118764   7.997003
                                  2021 1_to_4          11.248537  44.863161
                                       early_neonatal   0.146479   0.493382
                                       late_neonatal    0.385501   1.314151
                                       post_neonatal    5.222020  20.368658
                                  2022 1_to_4          13.026611  49.187864
                                       early_neonatal   0.131453   0.559671
                                       late_neonatal    0.378332   1.481409
                                       post_neonatal    5.691867  22.077414
                                  2023 1_to_4          16.262863  53.599870
                                       early_neonatal   0.133905   0.605679
                                       late_neonatal    0.369470   1.629381
                                       post_neonatal    5.176770  21.248237
                                  2024 1_to_4          19.156846  55.886854
                                       early_neonatal   0.146773   0.535834
                                       late_neonatal    0.382003   1.429882
                                       post_neonatal    5.135992  22.045432
folic_acid_fortification_scale_up 2020 1_to_4           5.415171  21.286813
                                       early_neonatal   0.071915   0.241175
                                       late_neonatal    0.192455   0.655124
                                       post_neonatal    2.072427   7.866710
                                  2021 1_to_4          11.218352  44.863161
                                       early_neonatal   0.134536   0.458960
                                       late_neonatal    0.351931   1.219109
                                       post_neonatal    4.784567  18.884458
                                  2022 1_to_4          12.532125  47.613803
                                       early_neonatal   0.123753   0.514745
                                       late_neonatal    0.357700   1.370018
                                       post_neonatal    5.161840  21.067721
                                  2023 1_to_4          15.217039  51.456344
                                       early_neonatal   0.125402   0.569055
                                       late_neonatal    0.342382   1.467035
                                       post_neonatal    4.809872  20.461924
                                  2024 1_to_4          17.628930  53.598494
                                       early_neonatal   0.135373   0.504990
                                       late_neonatal    0.354672   1.343879
                                       post_neonatal    4.728090  20.822106

                                                             25%        50%  \
scenario                          year age_group
baseline                          2020 1_to_4          25.021984  30.472780
                                       early_neonatal   0.332925   0.371761
                                       late_neonatal    0.867875   0.989191
                                       post_neonatal    9.463608  10.627046
                                  2021 1_to_4          53.014202  62.404505
                                       early_neonatal   0.698780   0.750773
                                       late_neonatal    1.840982   2.052732
                                       post_neonatal   26.815501  29.556656
                                  2022 1_to_4          65.807742  71.219567
                                       early_neonatal   0.656882   0.780800
                                       late_neonatal    1.726182   2.121753
                                       post_neonatal   27.927448  31.808815
                                  2023 1_to_4          77.816748  86.299095
                                       early_neonatal   0.651511   0.755957
                                       late_neonatal    1.756326   2.050591
                                       post_neonatal   27.324104  29.649102
                                  2024 1_to_4          87.893518  97.152463
                                       early_neonatal   0.668510   0.765214
                                       late_neonatal    1.809426   2.115741
                                       post_neonatal   25.364206  29.851808
folic_acid_fortification_scale_up 2020 1_to_4          25.021984  30.472780
                                       early_neonatal   0.316170   0.355840
                                       late_neonatal    0.830926   0.926180
                                       post_neonatal    9.105637  10.263310
                                  2021 1_to_4          52.835574  62.404505
                                       early_neonatal   0.645024   0.704275
                                       late_neonatal    1.697266   1.918314
                                       post_neonatal   24.891088  27.192755
                                  2022 1_to_4          63.539483  69.394289
                                       early_neonatal   0.606967   0.712057
                                       late_neonatal    1.604379   1.929898
                                       post_neonatal   26.534789  29.395984
                                  2023 1_to_4          73.896300  80.531575
                                       early_neonatal   0.600635   0.709757
                                       late_neonatal    1.615891   1.885039
                                       post_neonatal   25.928445  27.673070
                                  2024 1_to_4          85.184377  92.000129
                                       early_neonatal   0.612761   0.706629
                                       late_neonatal    1.674209   1.945082
                                       post_neonatal   23.514872  28.671178

                                                              75%         max
scenario                          year age_group
baseline                          2020 1_to_4           32.585688   40.410090
                                       early_neonatal    0.421924    0.611747
                                       late_neonatal     1.150500    1.564499
                                       post_neonatal    12.611428   16.257776
                                  2021 1_to_4           69.006855   85.294847
                                       early_neonatal    0.855691    1.176435
                                       late_neonatal     2.300924    3.214277
                                       post_neonatal    31.503523   44.929772
                                  2022 1_to_4           80.940243  105.548075
                                       early_neonatal    0.863869    1.100189
                                       late_neonatal     2.308216    3.042463
                                       post_neonatal    34.290147   44.348338
                                  2023 1_to_4           95.090581  124.854819
                                       early_neonatal    0.873593    1.079455
                                       late_neonatal     2.382651    2.941476
                                       post_neonatal    34.568208   40.511339
                                  2024 1_to_4          109.653135  138.089160
                                       early_neonatal    0.829075    1.207277
                                       late_neonatal     2.206587    3.205850
                                       post_neonatal    33.738475   41.301945
folic_acid_fortification_scale_up 2020 1_to_4           32.585688   40.410090
                                       early_neonatal    0.381161    0.576208
                                       late_neonatal     1.028309    1.493251
                                       post_neonatal    12.314849   16.005147
                                  2021 1_to_4           68.601564   85.085785
                                       early_neonatal    0.806754    1.082692
                                       late_neonatal     2.147579    2.956352
                                       post_neonatal    29.191148   41.918971
                                  2022 1_to_4           77.218493  102.916850
                                       early_neonatal    0.797395    1.024440
                                       late_neonatal     2.168484    2.854720
                                       post_neonatal    32.284380   41.401700
                                  2023 1_to_4           88.917805  119.911378
                                       early_neonatal    0.814328    0.992282
                                       late_neonatal     2.210122    2.701835
                                       post_neonatal    32.712887   37.480443
                                  2024 1_to_4          103.892512  130.678898
                                       early_neonatal    0.760153    1.115595
                                       late_neonatal     2.033485    2.983408
                                       post_neonatal    30.636036   37.573072

## Load person time and try to compute some rates

In [18]:
person_time = data[('nigeria', 'person_time')]
person_time.head()

,year,age_group,sex,fortification_group,measure,input_draw,scenario,value
0,2020,1_to_4,female,false,person_time,21,baseline,0.0
1,2020,1_to_4,female,false,person_time,21,folic_acid_fortification_scale_up,0.0
2,2020,1_to_4,female,false,person_time,29,baseline,0.0
3,2020,1_to_4,female,false,person_time,29,folic_acid_fortification_scale_up,0.0
4,2020,1_to_4,female,false,person_time,55,baseline,0.0

In [19]:
person_time.input_draw.nunique()

25

In [20]:
index_columns = ['year', 'age_group', 'sex', 'input_draw', 'scenario']
summed_pt = person_time.groupby(index_columns).value.sum().reset_index()
summed_pt.head()

,year,age_group,sex,input_draw,scenario,value
0,2020,1_to_4,female,21,baseline,79094.679865
1,2020,1_to_4,female,21,folic_acid_fortification_scale_up,79094.679865
2,2020,1_to_4,female,29,baseline,78919.836742
3,2020,1_to_4,female,29,folic_acid_fortification_scale_up,78919.836742
4,2020,1_to_4,female,55,baseline,79070.200691

In [21]:
summed_pt.query('year == "2021"').head()

,year,age_group,sex,input_draw,scenario,value
400,2021,1_to_4,female,21,baseline,158693.529307
401,2021,1_to_4,female,21,folic_acid_fortification_scale_up,158693.532045
402,2021,1_to_4,female,29,baseline,158671.005431
403,2021,1_to_4,female,29,folic_acid_fortification_scale_up,158671.482521
404,2021,1_to_4,female,55,baseline,158238.324268

In [38]:
def compute_rate(count_data, person_time, multiplier=100_000):
    index_cols = ['input_draw', 'scenario']
    strata = ['year', 'age_group', 'sex']
    groupby_cols = strata + index_cols
    
    broadcast_cols = ['cause']
    
    count_data = count_data.groupby(groupby_cols + broadcast_cols).value.sum()
    person_time = person_time.groupby(groupby_cols).value.sum()
    
    rate = multiplier * count_data / person_time
    
    return rate.reset_index()

def compute_rate_or_ratio(numerator, denominator,
                          numerator_strata, denominator_strata,
                          multiplier=1
                         ):
    index_cols = ['input_draw', 'scenario']
    
    # The numerator has to be a subset of the denominator
#     numerator_strata = list(set(numerator_strata).union(denominator_strata))
#     print(numerator_strata)

    broadcast_cols = 
    
    numerator = numerator.groupby(index_cols+numerator_strata).value.sum()
    denominator = denominator.groupby(index_cols+denominator_strata).value.sum()
    
    rate_or_ratio = multiplier * numerator / denominator
    
    return rate_or_ratio.reset_index()

In [30]:
mortality_rate = compute_rate(deaths, person_time)
mortality_rate.head()

,year,age_group,sex,input_draw,scenario,cause,value
0,2020,1_to_4,female,21,baseline,diarrheal_diseases,132.752292
1,2020,1_to_4,female,21,baseline,lower_respiratory_infections,152.981212
2,2020,1_to_4,female,21,baseline,measles,37.929226
3,2020,1_to_4,female,21,baseline,neural_tube_defects,11.378768
4,2020,1_to_4,female,21,baseline,other_causes,557.559624

In [31]:
mortality_rate.query('value != value')

Empty DataFrame
Columns: [year, age_group, sex, input_draw, scenario, cause, value]
Index: []

## Test my general division function to see if it gives the same result as the simpler rate function

### AAaarrrggghh!!! Indexing!!!!!

The answer is yes, but you have to re-index one of the dataframes by the index of the other in order to compare them because things ended up in different orders.

In [46]:
strata = ['year', 'age_group', 'sex']
mortality_rate2 = compute_rate_or_ratio(deaths, person_time,
                                        strata+['cause'], strata,
                                       100_000)
print(mortality_rate2.equals(mortality_rate[mortality_rate2.columns]))
mortality_rate2.head()

False

,input_draw,scenario,year,age_group,sex,cause,value
0,21,baseline,2020,1_to_4,female,diarrheal_diseases,132.752292
1,21,baseline,2020,1_to_4,female,lower_respiratory_infections,152.981212
2,21,baseline,2020,1_to_4,female,measles,37.929226
3,21,baseline,2020,1_to_4,female,neural_tube_defects,11.378768
4,21,baseline,2020,1_to_4,female,other_causes,557.559624

In [45]:
print(mortality_rate.shape)
print(mortality_rate2.shape)

(10000, 7)
(10000, 7)

In [47]:
index_cols = ['year', 'age_group', 'sex', 'input_draw', 'scenario', 'cause']
mortality_rate2.set_index(index_cols).equals(
    mortality_rate.set_index(index_cols)
)

False

In [61]:
mortality_rate2.set_index(index_cols).head(10)

                                                                             value
year age_group sex    input_draw scenario cause
2020 1_to_4    female 21         baseline diarrheal_diseases            132.752292
                                          lower_respiratory_infections  152.981212
                                          measles                        37.929226
                                          neural_tube_defects            11.378768
                                          other_causes                  557.559624
               male   21         baseline diarrheal_diseases            161.174643
                                          lower_respiratory_infections  183.664128
                                          measles                        19.990653
                                          neural_tube_defects             1.249416
                                          other_causes                  635.952660

In [62]:
mortality_rate.set_index(index_cols).head(10)

                                                                                                      value
year age_group sex    input_draw scenario                          cause
2020 1_to_4    female 21         baseline                          diarrheal_diseases            132.752292
                                                                   lower_respiratory_infections  152.981212
                                                                   measles                        37.929226
                                                                   neural_tube_defects            11.378768
                                                                   other_causes                  557.559624
                                 folic_acid_fortification_scale_up diarrheal_diseases            132.752292
                                                                   lower_respiratory_infections  152.981212
                                                                   measles                        37.929226
                                                                   neural_tube_defects            11.378768
                                                                   other_causes                  557.559624

In [53]:
mortality_rate2.set_index(index_cols).tail() == mortality_rate.set_index(index_cols).tail()

                                                                                                   value
year age_group     sex  input_draw scenario                          cause
2024 post_neonatal male 946        folic_acid_fortification_scale_up diarrheal_diseases             True
                                                                     lower_respiratory_infections   True
                                                                     measles                        True
                                                                     neural_tube_defects            True
                                                                     other_causes                   True

In [54]:
df1 = mortality_rate.set_index(index_cols)
df2 = mortality_rate2.set_index(index_cols)
df1.equals(df2)

False

In [60]:
df1[df1.index == df2.index]

                                                                                                           value
year age_group     sex    input_draw scenario                          cause
2020 1_to_4        female 21         baseline                          diarrheal_diseases             132.752292
                                                                       lower_respiratory_infections   152.981212
                                                                       measles                         37.929226
                                                                       neural_tube_defects             11.378768
                                                                       other_causes                   557.559624
2024 post_neonatal male   946        folic_acid_fortification_scale_up diarrheal_diseases            1099.791114
                                                                       lower_respiratory_infections   756.871836
                                                                       measles                         71.033279
                                                                       neural_tube_defects             14.696541
                                                                       other_causes                  1702.349275

In [64]:
df2.reindex(df1.index).head(10)

                                                                                                      value
year age_group sex    input_draw scenario                          cause
2020 1_to_4    female 21         baseline                          diarrheal_diseases            132.752292
                                                                   lower_respiratory_infections  152.981212
                                                                   measles                        37.929226
                                                                   neural_tube_defects            11.378768
                                                                   other_causes                  557.559624
                                 folic_acid_fortification_scale_up diarrheal_diseases            132.752292
                                                                   lower_respiratory_infections  152.981212
                                                                   measles                        37.929226
                                                                   neural_tube_defects            11.378768
                                                                   other_causes                  557.559624

In [65]:
df2.reindex(df1.index).equals(df1)

True

## Compute averted deaths

In [25]:
def compute_averted(df):
    baseline = df.query('scenario == "baseline"')
    intervention = df.query('scenario != "baseline"')
    
    index_columns = list(set(baseline.columns) - set(['scenario', 'value']))
    print(index_columns)
    
    baseline = baseline.set_index(index_columns).value
    intervention = intervention.set_index(index_columns).value
    
    averted = baseline - intervention
    
    return averted.reset_index()

In [26]:
averted_deaths = compute_averted(mortality_rate)
averted_deaths.head()

['cause', 'year', 'sex', 'input_draw', 'age_group']

,cause,year,sex,input_draw,age_group,value
0,diarrheal_diseases,2020,female,21,1_to_4,2.842171e-14
1,lower_respiratory_infections,2020,female,21,1_to_4,2.842171e-14
2,measles,2020,female,21,1_to_4,7.105427e-15
3,neural_tube_defects,2020,female,21,1_to_4,1.776357e-15
4,other_causes,2020,female,21,1_to_4,1.136868e-13

In [27]:
df = averted_deaths.query('cause == "neural_tube_defects"')
index_columns = ['year','age_group', 'input_draw']
df = df.groupby(index_columns).value.sum()
df = df.reset_index()
df.groupby(['year', 'age_group']).value.describe().round(4)

                     count      mean       std     min       25%       50%  \
year age_group
2020 1_to_4           25.0   -0.0000    0.0000 -0.0000   -0.0000    0.0000
     early_neonatal   25.0  128.6535  163.2809 -0.0000   -0.0000    0.0000
     late_neonatal    25.0    9.2717   25.6265 -0.0000    0.0000    0.0000
     post_neonatal    25.0    0.9984    2.4981  0.0000    0.0000    0.0001
2021 1_to_4           25.0    0.1005    0.2350 -0.0000    0.0000    0.0000
     early_neonatal   25.0  181.4824  143.2781 -0.0000  114.1680  119.0370
     late_neonatal    25.0   17.1200   25.3095 -0.0001    0.0009    0.0053
     post_neonatal    25.0    4.4752    3.5680  0.0000    2.4436    4.9746
2022 1_to_4           25.0    0.2949    0.5379  0.0000    0.0001    0.0003
     early_neonatal   25.0  125.2031  133.4191 -0.0000    0.0005  114.7925
     late_neonatal    25.0    9.4011   20.5028 -0.0001    0.0000    0.0000
     post_neonatal    25.0    4.5861    4.1654  0.0001    2.4221    4.9216
2023 1_to_4           25.0    0.9191    0.7838  0.0002    0.5934    0.6134
     early_neonatal   25.0  163.2125  150.7027 -0.0000    0.0087  118.0597
     late_neonatal    25.0   12.5496   18.6717 -0.0000    0.0000    0.0034
     post_neonatal    25.0    4.8638    3.7320  0.0001    2.4576    2.5471
2024 1_to_4           25.0    1.5525    1.0928  0.0002    0.6098    1.1813
     early_neonatal   25.0  203.2139  170.7524 -0.0000  113.1875  228.5561
     late_neonatal    25.0   10.8402   17.7380 -0.0000    0.0017    0.0035
     post_neonatal    25.0    4.4627    2.9413  0.0004    2.4606    4.8691

                          75%       max
year age_group
2020 1_to_4            0.0000    0.0000
     early_neonatal  229.0384  464.7363
     late_neonatal     0.0035   79.1514
     post_neonatal     0.0004   10.0097
2021 1_to_4            0.0000    0.6316
     early_neonatal  232.5675  581.0859
     late_neonatal    38.6248   78.5986
     post_neonatal     5.0678   12.3074
2022 1_to_4            0.6057    1.8594
     early_neonatal  118.9237  468.4155
     late_neonatal     0.0052   78.6327
     post_neonatal     7.3329   14.7912
2023 1_to_4            1.2140    3.0223
     early_neonatal  237.8154  582.9674
     late_neonatal    38.6128   40.2561
     post_neonatal     7.4714   12.3401
2024 1_to_4            2.3860    4.7702
     early_neonatal  236.3720  693.9701
     late_neonatal    38.0989   39.9107
     post_neonatal     7.4494    9.7781

In [68]:
l1 = [1,3,4]
l1.index

In [69]:
l1.index(1)

0

In [71]:
l1.index(4)

2