In [1]:
import pandas as pd, numpy as np
import vivarium_output_loader as vol
import lsff_output_processing as lop
import lsff_summarizer
from lsff_summarizer import LSFFOutputSummarizer

!whoami
!date

ndbs
Fri Jun 19 14:15:29 PDT 2020

In [2]:
%load_ext autoreload
%autoreload 2

## 1. Define directories

In [3]:
base_directory = '/share/costeffectiveness/results/vivarium_conic_lsff/00_bugfix'
nigeria_v7_directory = base_directory + '/v7.0_nigeria'
locations_paths = {'Nigeria': nigeria_v7_directory}

## 2. Load raw output

In [4]:
raw_output = vol.load_output_by_location(locations_paths)
raw_output.head()

                               total_population_untracked  \
input_draw_number random_seed
357.0             15.0                             9705.0
602.0             15.0                             9659.0
                  9.0                              9664.0
                  15.0                             9659.0
                  9.0                              9659.0

                               total_population_tracked  total_population  \
input_draw_number random_seed
357.0             15.0                          11672.0           21377.0
602.0             15.0                          11502.0           21161.0
                  9.0                           11605.0           21269.0
                  15.0                          11502.0           21161.0
                  9.0                           11610.0           21269.0

                               diarrheal_diseases_prevalent_cases_at_sim_end  \
input_draw_number random_seed
357.0             15.0                                                 343.0
602.0             15.0                                                 282.0
                  9.0                                                  292.0
                  15.0                                                 282.0
                  9.0                                                  313.0

                               susceptible_to_diarrheal_diseases_event_count  \
input_draw_number random_seed
357.0             15.0                                               54966.0
602.0             15.0                                               54113.0
                  9.0                                                52326.0
                  15.0                                               54113.0
                  9.0                                                54503.0

                               diarrheal_diseases_event_count  \
input_draw_number random_seed
357.0             15.0                                55498.0
602.0             15.0                                54596.0
                  9.0                                 52839.0
                  15.0                                54596.0
                  9.0                                 55046.0

                               measles_prevalent_cases_at_sim_end  \
input_draw_number random_seed
357.0             15.0                                      335.0
602.0             15.0                                     1568.0
                  9.0                                      1404.0
                  15.0                                     1568.0
                  9.0                                      1500.0

                               susceptible_to_measles_event_count  \
input_draw_number random_seed
357.0             15.0                                        0.0
602.0             15.0                                        0.0
                  9.0                                         0.0
                  15.0                                        0.0
                  9.0                                         0.0

                               measles_event_count  \
input_draw_number random_seed
357.0             15.0                       365.0
602.0             15.0                      1702.0
                  9.0                       1511.0
                  15.0                      1702.0
                  9.0                       1613.0

                               recovered_from_measles_event_count  ...  \
input_draw_number random_seed                                      ...
357.0             15.0                                      354.0  ...
602.0             15.0                                     1636.0  ...
                  9.0                                      1451.0  ...
                  15.0                                     1636.0  ...
                  9.0                                      1547.0  ...

                               anemia_severe_person_time_in_2025_among_male_in_age_group_early_neonatal  \
input_draw_number random_seed
357.0             15.0                                                  0.262834
602.0             15.0                                                  3.323751
                  9.0                                                   3.698836
                  15.0                                                  3.323751
                  9.0                                                   3.698836

                               anemia_severe_person_time_in_2025_among_female_in_age_group_early_neonatal  \
input_draw_number random_seed
357.0             15.0                                                  1.511294
602.0             15.0                                                  0.342231
                  9.0                                                   0.454483
                  15.0                                                  0.342231
                  9.0                                                   0.454483

                               anemia_severe_person_time_in_2025_among_male_in_age_group_late_neonatal  \
input_draw_number random_seed
357.0             15.0                                                  5.059548
602.0             15.0                                                  6.149213
                  9.0                                                   7.564682
                  15.0                                                  6.149213
                  9.0                                                   7.564682

                               anemia_severe_person_time_in_2025_among_female_in_age_group_late_neonatal  \
input_draw_number random_seed
357.0             15.0                                                  5.106092
602.0             15.0                                                  3.783710
                  9.0                                                   3.756331
                  15.0                                                  3.783710
                  9.0                                                   3.756331

                               anemia_severe_person_time_in_2025_among_male_in_age_group_post_neonatal  \
input_draw_number random_seed
357.0             15.0                                                 91.003422
602.0             15.0                                                 24.057495
                  9.0                                                  25.470226
                  15.0                                                 24.057495
                  9.0                                                  25.470226

                               anemia_severe_person_time_in_2025_among_female_in_age_group_post_neonatal  \
input_draw_number random_seed
357.0             15.0                                                  9.240246
602.0             15.0                                                 12.673511
                  9.0                                                  14.091718
                  15.0                                                 12.673511
                  9.0                                                  14.091718

                               anemia_severe_person_time_in_2025_among_male_in_age_group_1_to_4  \
input_draw_number random_seed
357.0             15.0                                                126.343600
602.0             15.0                                                150.899384
                  9.0                                                 124.703628
                  15.0                                                150.899384
                  9.0                                                 124.703628

                               anemia_severe_person_time_in_2025_among_female_in_age_group_1_to_4  \
input_draw_number random_seed
357.0             15.0                                                 69.431896
602.0             15.0                                                 50.214921
                  9.0                                                  66.595483
                  15.0                                                 50.214921
                  9.0                                                  66.595483

                               fortification_intervention.scenario  location
input_draw_number random_seed
357.0             15.0            vitamin_a_fortification_scale_up   Nigeria
602.0             15.0                                    baseline   Nigeria
                  9.0             vitamin_a_fortification_scale_up   Nigeria
                  15.0                 iron_fortification_scale_up   Nigeria
                  9.0            folic_acid_fortification_scale_up   Nigeria

[5 rows x 15674 columns]

In [5]:
raw_output.shape

(16, 15674)

## 3. Create summarizer and print column report

In [22]:
output = LSFFOutputSummarizer(raw_output)
output.print_column_report()

Number of data columns in output: 15674
Total number of columns captured in categories: 15674

Number of columns in each category:
 {'input_draw': 1, 'random_seed': 1, 'location': 1, 'intervention': 1, 'run_time': 0, 'diseases_at_end': 4, 'transition_count': 3465, 'population': 5, 'person_time': 432, 'state_person_time': 4512, 'treated_days': 0, 'mortality': 2160, 'total_daly': 2, 'yld': 2592, 'yll': 2160, 'categorical_risk': 0, 'birth_prevalence': 108, 'live_births': 108, 'proportion': 2, 'distribution_mean': 60, 'distribution_variance': 32, 'distribution_std_dev': 28, 'prevalence': 0}

Missing (0 data column(s) not captured in a category):
 set()

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (4 categories with no matching data columns):
 ['run_time', 'treated_days', 'categorical_risk', 'prevalence']

## 4. Get random seed counts

In [9]:
output.subdata('random_seed')

                               random_seed
input_draw_number random_seed
357.0             15.0                15.0
602.0             15.0                15.0
                  9.0                  9.0
                  15.0                15.0
                  9.0                  9.0
357.0             9.0                  9.0
                  9.0                  9.0
                  9.0                  9.0
                  15.0                15.0
                  9.0                  9.0
602.0             9.0                  9.0
                  9.0                  9.0
357.0             15.0                15.0
                  15.0                15.0
602.0             15.0                15.0
                  15.0                15.0

In [12]:
output.columns('intervention', 'random_seed')

['fortification_intervention.scenario', 'random_seed']

In [19]:
output.columns('input_draw')

['input_draw']

In [15]:
output.random_seed_counts()

                                                         random_seed
location fortification_intervention.scenario input_draw
Nigeria  baseline                            357.0                 2
                                             602.0                 2
         folic_acid_fortification_scale_up   357.0                 2
                                             602.0                 2
         iron_fortification_scale_up         357.0                 2
                                             602.0                 2
         vitamin_a_fortification_scale_up    357.0                 2
                                             602.0                 2

## 5. Write a function to print row/seed data

In [49]:
output.print_random_seed_report()

Shape of output: (16, 15674)
Locations in output: ['Nigeria']
2 input draws found: [357.0, 602.0]
2 random seeds found: [9.0, 15.0]
4 scenarios found: ['baseline', 'folic_acid_fortification_scale_up', 'iron_fortification_scale_up', 'vitamin_a_fortification_scale_up']
Number of (location, draw, scenario) tuples: 8
Random seed count == 2 for each (location, draw, scenario)? True

### Testing stuff for the above function

In [21]:
output.subdata('random_seed').squeeze().unique()

array([15.,  9.])

In [24]:
print(output.random_seeds)
print(output.input_draws)

[15.  9.]
[357. 602.]

In [32]:
np.array([])

array([], dtype=float64)

In [52]:
seed_counts = output.random_seed_counts()
seed_counts.reset_index('input_draw')

                                              input_draw  random_seed
location fortification_intervention.scenario
Nigeria  baseline                                  357.0            2
         baseline                                  602.0            2
         folic_acid_fortification_scale_up         357.0            2
         folic_acid_fortification_scale_up         602.0            2
         iron_fortification_scale_up               357.0            2
         iron_fortification_scale_up               602.0            2
         vitamin_a_fortification_scale_up          357.0            2
         vitamin_a_fortification_scale_up          602.0            2

In [45]:
seed_counts = output.random_seed_counts()
seed_counts = seed_counts.reset_index(['input_draw'])
seed_counts.index.to_flat_index().unique()

Index([                         ('Nigeria', 'baseline'),
       ('Nigeria', 'folic_acid_fortification_scale_up'),
             ('Nigeria', 'iron_fortification_scale_up'),
        ('Nigeria', 'vitamin_a_fortification_scale_up')],
      dtype='object')

In [47]:
seed_counts = output.random_seed_counts()
seed_counts = seed_counts.reset_index(['input_draw', 'location'])
seed_counts.index.to_flat_index().unique()

Index(['baseline', 'folic_acid_fortification_scale_up',
       'iron_fortification_scale_up', 'vitamin_a_fortification_scale_up'],
      dtype='object', name='fortification_intervention.scenario')

## 6. Check hemoglobin output

Stratified by sex but not year

In [8]:
raw_output.filter(regex=r'hemoglobin')

                               hemoglobin_mean_among_male_at_age_0.5_status_covered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                 84.375842
602.0             15.0                                                 97.518803
                  9.0                                                  96.901795
                  15.0                                                 97.518803
                  9.0                                                  96.901795
357.0             9.0                                                  83.489662
                  9.0                                                  83.489662
                  9.0                                                  83.489662
                  15.0                                                 84.375842
                  9.0                                                  83.489662
602.0             9.0                                                  96.901795
                  9.0                                                  96.901795
357.0             15.0                                                 84.375842
                  15.0                                                 84.375842
602.0             15.0                                                 97.518803
                  15.0                                                 97.518803

                               hemoglobin_variance_among_male_at_age_0.5_status_covered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                331.130795
602.0             15.0                                                275.287840
                  9.0                                                 254.270262
                  15.0                                                275.287840
                  9.0                                                 254.270262
357.0             9.0                                                 294.978241
                  9.0                                                 294.978241
                  9.0                                                 294.978241
                  15.0                                                331.130795
                  9.0                                                 294.978241
602.0             9.0                                                 254.270262
                  9.0                                                 254.270262
357.0             15.0                                                331.130795
                  15.0                                                331.130795
602.0             15.0                                                275.287840
                  15.0                                                275.287840

                               hemoglobin_mean_among_female_at_age_0.5_status_covered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                101.705193
602.0             15.0                                                102.045221
                  9.0                                                 103.869484
                  15.0                                                102.045221
                  9.0                                                 103.869484
357.0             9.0                                                 100.456116
                  9.0                                                 100.456116
                  9.0                                                 100.456116
                  15.0                                                101.705193
                  9.0                                                 100.456116
602.0             9.0                                                 103.869484
                  9.0                                                 103.869484
357.0             15.0                                                101.705193
                  15.0                                                101.705193
602.0             15.0                                                102.045221
                  15.0                                                102.045221

                               hemoglobin_variance_among_female_at_age_0.5_status_covered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                215.525941
602.0             15.0                                                284.072104
                  9.0                                                 255.949513
                  15.0                                                284.072104
                  9.0                                                 255.949513
357.0             9.0                                                 260.204707
                  9.0                                                 260.204707
                  9.0                                                 260.204707
                  15.0                                                215.525941
                  9.0                                                 260.204707
602.0             9.0                                                 255.949513
                  9.0                                                 255.949513
357.0             15.0                                                215.525941
                  15.0                                                215.525941
602.0             15.0                                                284.072104
                  15.0                                                284.072104

                               hemoglobin_mean_among_male_at_age_0.5_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                 80.816235
602.0             15.0                                                 84.840973
                  9.0                                                  87.489044
                  15.0                                                 84.840973
                  9.0                                                  87.489044
357.0             9.0                                                  81.523659
                  9.0                                                  81.523659
                  9.0                                                  81.523659
                  15.0                                                 80.816235
                  9.0                                                  81.523659
602.0             9.0                                                  87.489044
                  9.0                                                  87.489044
357.0             15.0                                                 80.816235
                  15.0                                                 80.816235
602.0             15.0                                                 84.840973
                  15.0                                                 84.840973

                               hemoglobin_variance_among_male_at_age_0.5_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                338.533067
602.0             15.0                                                402.675163
                  9.0                                                 379.174312
                  15.0                                                402.675163
                  9.0                                                 379.174312
357.0             9.0                                                 433.120264
                  9.0                                                 433.120264
                  9.0                                                 433.120264
                  15.0                                                338.533067
                  9.0                                                 433.120264
602.0             9.0                                                 379.174312
                  9.0                                                 379.174312
357.0             15.0                                                338.533067
                  15.0                                                338.533067
602.0             15.0                                                402.675163
                  15.0                                                402.675163

                               hemoglobin_mean_among_female_at_age_0.5_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                 90.335498
602.0             15.0                                                 89.073161
                  9.0                                                  88.099751
                  15.0                                                 89.073161
                  9.0                                                  88.099751
357.0             9.0                                                  91.790811
                  9.0                                                  91.790811
                  9.0                                                  91.790811
                  15.0                                                 90.335498
                  9.0                                                  91.790811
602.0             9.0                                                  88.099751
                  9.0                                                  88.099751
357.0             15.0                                                 90.335498
                  15.0                                                 90.335498
602.0             15.0                                                 89.073161
                  15.0                                                 89.073161

                               hemoglobin_variance_among_female_at_age_0.5_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                321.919869
602.0             15.0                                                518.324611
                  9.0                                                 563.198034
                  15.0                                                518.324611
                  9.0                                                 563.198034
357.0             9.0                                                 397.838368
                  9.0                                                 397.838368
                  9.0                                                 397.838368
                  15.0                                                321.919869
                  9.0                                                 397.838368
602.0             9.0                                                 563.198034
                  9.0                                                 563.198034
357.0             15.0                                                321.919869
                  15.0                                                321.919869
602.0             15.0                                                518.324611
                  15.0                                                518.324611

                               hemoglobin_mean_among_male_at_age_0.5_status_uncovered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                 83.985923
602.0             15.0                                                 96.812038
                  9.0                                                  96.816302
                  15.0                                                 96.812038
                  9.0                                                  96.816302
357.0             9.0                                                  84.365899
                  9.0                                                  84.365899
                  9.0                                                  84.365899
                  15.0                                                 83.985923
                  9.0                                                  84.365899
602.0             9.0                                                  96.816302
                  9.0                                                  96.816302
357.0             15.0                                                 83.985923
                  15.0                                                 83.985923
602.0             15.0                                                 96.812038
                  15.0                                                 96.812038

                               hemoglobin_variance_among_male_at_age_0.5_status_uncovered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                269.329334
602.0             15.0                                                233.684847
                  9.0                                                 221.298287
                  15.0                                                233.684847
                  9.0                                                 221.298287
357.0             9.0                                                 271.400077
                  9.0                                                 271.400077
                  9.0                                                 271.400077
                  15.0                                                269.329334
                  9.0                                                 271.400077
602.0             9.0                                                 221.298287
                  9.0                                                 221.298287
357.0             15.0                                                269.329334
                  15.0                                                269.329334
602.0             15.0                                                233.684847
                  15.0                                                233.684847

                               ...  \
input_draw_number random_seed  ...
357.0             15.0         ...
602.0             15.0         ...
                  9.0          ...
                  15.0         ...
                  9.0          ...
357.0             9.0          ...
                  9.0          ...
                  9.0          ...
                  15.0         ...
                  9.0          ...
602.0             9.0          ...
                  9.0          ...
357.0             15.0         ...
                  15.0         ...
602.0             15.0         ...
                  15.0         ...

                               hemoglobin_mean_among_female_at_age_3_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                 90.482832
602.0             15.0                                                 90.341442
                  9.0                                                  89.525653
                  15.0                                                 93.367465
                  9.0                                                  89.525653
357.0             9.0                                                  90.896544
                  9.0                                                  90.896544
                  9.0                                                  92.649994
                  15.0                                                 90.482832
                  9.0                                                  90.896544
602.0             9.0                                                  89.525653
                  9.0                                                  92.497080
357.0             15.0                                                 90.482832
                  15.0                                                 91.562425
602.0             15.0                                                 90.509582
                  15.0                                                 90.341442

                               hemoglobin_variance_among_female_at_age_3_status_covered_responsive_non-responsive  \
input_draw_number random_seed
357.0             15.0                                                359.848396
602.0             15.0                                                434.112954
                  9.0                                                 400.083456
                  15.0                                                304.864711
                  9.0                                                 400.083456
357.0             9.0                                                 329.637110
                  9.0                                                 329.637110
                  9.0                                                 269.192956
                  15.0                                                359.848396
                  9.0                                                 329.637110
602.0             9.0                                                 400.083456
                  9.0                                                 268.928823
357.0             15.0                                                359.848396
                  15.0                                                292.407080
602.0             15.0                                                422.670940
                  15.0                                                434.112954

                               hemoglobin_mean_among_male_at_age_3_status_uncovered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                 95.538104
602.0             15.0                                                 93.451521
                  9.0                                                  93.585628
                  15.0                                                 93.423149
                  9.0                                                  93.585628
357.0             9.0                                                  95.811511
                  9.0                                                  95.811511
                  9.0                                                  95.728360
                  15.0                                                 95.538104
                  9.0                                                  95.808463
602.0             9.0                                                  93.585628
                  9.0                                                  93.618730
357.0             15.0                                                 95.538104
                  15.0                                                 95.545734
602.0             15.0                                                 93.452307
                  15.0                                                 93.451521

                               hemoglobin_variance_among_male_at_age_3_status_uncovered_responsive_responsive  \
input_draw_number random_seed
357.0             15.0                                                231.976813
602.0             15.0                                                218.362765
                  9.0                                                 210.824343
                  15.0                                                218.881567
                  9.0                                                 210.824343
357.0             9.0                                                 244.699064

## 7. Check whether birthweight changes between scenarios

Mean birthweight should be larger in iron fortification scenario than in baseline, and it should be equal to baseline in other scenarios. In this output it is the same between all scenarios, which is incorrect.

The intention of the below function is to automate this check, but I haven't finished writing the function yet.

In [53]:
output.columns('distribution_mean')

['birth_weight_mean_in_2020_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2020_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2020_among_female_iron_fortification_group_unknown',
 'birth_weight_mean_in_2020_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2020_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2020_among_male_iron_fortification_group_unknown',
 'birth_weight_mean_in_2021_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2021_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2021_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2021_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2022_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2022_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2022_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2022_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2023_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2023_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2023_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2023_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2024_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2024_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2024_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2024_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2025_among_female_iron_fortification_group_covered',
 'birth_weight_mean_in_2025_among_female_iron_fortification_group_uncovered',
 'birth_weight_mean_in_2025_among_male_iron_fortification_group_covered',
 'birth_weight_mean_in_2025_among_male_iron_fortification_group_uncovered',
 'birth_weight_mean',
 'gestational_age_mean',
 'hemoglobin_mean_among_male_at_age_0.5_status_covered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_0.5_status_covered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_0.5_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_0.5_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_0.5_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_0.5_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_0.5_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_0.5_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_1_status_covered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_1_status_covered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_1_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_1_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_1_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_1_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_1_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_1_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_2_status_covered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_2_status_covered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_2_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_2_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_2_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_2_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_2_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_2_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_3_status_covered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_3_status_covered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_3_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_3_status_covered_responsive_non-responsive',
 'hemoglobin_mean_among_male_at_age_3_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_female_at_age_3_status_uncovered_responsive_responsive',
 'hemoglobin_mean_among_male_at_age_3_status_uncovered_responsive_non-responsive',
 'hemoglobin_mean_among_female_at_age_3_status_uncovered_responsive_non-responsive']

In [59]:
bw_mean = raw_output.filter(regex=r'^birth_weight_mean$|scenario')
bw_mean.set_index('fortification_intervention.scenario', append=True, inplace=True)
bw_mean.sort_index()

                                                                   birth_weight_mean
input_draw_number random_seed fortification_intervention.scenario
357.0             9.0         baseline                                   3404.350742
                              folic_acid_fortification_scale_up          3404.350742
                              iron_fortification_scale_up                3404.350742
                              vitamin_a_fortification_scale_up           3404.350742
                  15.0        baseline                                   3481.311300
                              folic_acid_fortification_scale_up          3481.311300
                              iron_fortification_scale_up                3481.311300
                              vitamin_a_fortification_scale_up           3481.311300
602.0             9.0         baseline                                   2978.886460
                              folic_acid_fortification_scale_up          2978.886460
                              iron_fortification_scale_up                2978.886460
                              vitamin_a_fortification_scale_up           2978.886460
                  15.0        baseline                                   3098.439382
                              folic_acid_fortification_scale_up          3098.439382
                              iron_fortification_scale_up                3098.439382
                              vitamin_a_fortification_scale_up           3098.439382

In [88]:
def test_birthweight_between_scenarios(raw_output):
    bw_mean = raw_output.filter(regex=r'^birth_weight_mean$|scenario')
    bw_mean = bw_mean.rename(columns={'fortification_intervention.scenario': 'scenario'})
    bw_mean_baseline = bw_mean.query('scenario == "baseline"')
    bw_mean_iron = bw_mean.query('scenario == "iron_fortification_scale_up"')
    bw_mean_not_iron = bw_mean.query('scenario != "iron_fortification_scale_up"')
#     bw_mean_not_iron.set_index('scenario', append=True, inplace=True)
    bw_mean_not_iron_var = bw_mean_not_iron.groupby(level=bw_mean_not_iron.index.names).var()
    assert np.allclose(bw_mean_not_iron_var, 0), \
        "mean birthweight should be equal in all scenarios except iron fortification"
     
    return bw_mean_baseline, bw_mean_iron

In [89]:
df1, df2 = test_birthweight_between_scenarios(raw_output)

In [90]:
df2

                               birth_weight_mean                     scenario
input_draw_number random_seed
602.0             15.0               3098.439382  iron_fortification_scale_up
357.0             9.0                3404.350742  iron_fortification_scale_up
602.0             9.0                2978.886460  iron_fortification_scale_up
357.0             15.0               3481.311300  iron_fortification_scale_up

In [91]:
df1

                               birth_weight_mean  scenario
input_draw_number random_seed
602.0             15.0               3098.439382  baseline
357.0             9.0                3404.350742  baseline
602.0             9.0                2978.886460  baseline
357.0             15.0               3481.311300  baseline

In [92]:
df1.equals(df2)

False