In [1]:
import pandas as pd, numpy as np
import sys, os.path
sys.path.append(os.path.abspath("../.."))
from pre_processing.id_helper import *
import rank_countries_by_stunting as rbs
import pull_gbd2019_data as pgd

from db_queries import get_ids, get_population, get_outputs, get_best_model_versions
from get_draws.api import get_draws

!date
!whoami

Tue Jan 19 12:14:28 PST 2021
ndbs

In [2]:
%load_ext autoreload
%autoreload 2

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# Test going back and forth between a MultiIndex and a flat index

Looks like it works!

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.from_tuples.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.to_flat_index.html

In [3]:
tuples = [(1, 'red'), (1, 'blue'),
          (2, 'red'), (2, 'blue')]
idx = pd.MultiIndex.from_tuples(tuples, names=('number', 'color'))
idx

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['number', 'color'])

In [4]:
idx.to_flat_index()

Index([(1, 'red'), (1, 'blue'), (2, 'red'), (2, 'blue')], dtype='object')

In [6]:
pd.MultiIndex.from_tuples(idx.to_flat_index(), names=idx.names)

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['number', 'color'])

# Define locations

In [7]:
locations = pgd.get_locations('top25')
locations = pgd.get_or_append_global_location(locations)
locations

                       location_name  location_id
0                             Angola          168
1                         Bangladesh          161
2                       Burkina Faso          201
3                           Cameroon          202
4                              China            6
5                      Côte d'Ivoire          205
6   Democratic Republic of the Congo          171
7                              Egypt          141
8                           Ethiopia          179
9                              Ghana          207
10                             India          163
11                         Indonesia           11
12                             Kenya          180
13                        Madagascar          181
14                        Mozambique          184
15                           Myanmar           15
16                             Nepal          164
17                             Niger          213
18                           Nigeria          214
19                          Pakistan          165
20                      South Africa          196
21                             Sudan          522
22                            Uganda          190
23       United Republic of Tanzania          189
24                          Viet Nam           20
25                            Global            1

# Load zinc data

In [8]:
!ls data

all_countries_with_ids.csv
bgmf_countries.csv
bgmf_countries_with_ids.csv
bmgf_top_25_countries_20201203.csv
countries_ranked_by_number_stunted_2019.csv
countries_with_over_20_percent_stunting_ranked_by_number_stunted_2019.csv
lsff_gbd_data_summary.hdf
neural_tube_defects_output_gbd2017.csv
percent_global_burden_mn_deficiency_for_top25.csv
stunting_prevalence_2019.hdf
top_25_countries_with_stunting_above_18_percent_in_2019.csv
top_25_countries_with_stunting_above_20_percent_in_2019.csv
vitamin_a_data_summary.csv

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [49]:
hdf_filepath='data/lsff_gbd_data_summary.hdf'

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [10]:
zinc_prevalence = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                              'zinc_deficiency/prevalence_among_1_to_4')
zinc_population = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                              'zinc_deficiency/population_1_to_4')
zinc_burden = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                         'zinc_deficiency/daly_burden')

In [11]:
zinc_preprocessed = pgd.preprocess_zinc_data((zinc_prevalence, zinc_population, zinc_burden))
len(zinc_preprocessed)

3

In [51]:
zinc_prevalence.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,rei_id,modelable_entity_id,location_id,year_id,age_group_id,sex_id,parameter,measure_id,metric_id,draw_0,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
0,97,2544.0,1,2019,5,1,cat1,18,3,0.079500,...,0.096346,0.132976,0.060709,0.071232,0.128059,0.139341,0.087399,0.067168,0.080435,0.130299
1,97,2544.0,1,2019,5,2,cat1,18,3,0.077895,...,0.093071,0.127964,0.053030,0.065427,0.124007,0.133193,0.086742,0.059063,0.075436,0.126039
2,97,2544.0,11,2019,5,1,cat1,18,3,0.068182,...,0.085701,0.139703,0.046390,0.063405,0.132635,0.142091,0.080776,0.059324,0.072853,0.131697
3,97,2544.0,11,2019,5,2,cat1,18,3,0.068561,...,0.085989,0.137388,0.036832,0.050506,0.110897,0.146077,0.072973,0.045500,0.065609,0.129610
4,97,2544.0,141,2019,5,1,cat1,18,3,0.021719,...,0.029482,0.054900,0.006386,0.015178,0.049381,0.060945,0.025866,0.012109,0.020428,0.056824

In [52]:
zinc_population.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,location_id,year_id,sex_id,population,upper,lower,run_id
0,5,1,2019,1,2.741937e+08,2.822446e+08,2.662198e+08,192
1,5,1,2019,2,2.566635e+08,2.639914e+08,2.493610e+08,192
2,5,1,2019,3,5.308572e+08,5.462795e+08,5.156214e+08,192
3,5,6,2019,1,3.575678e+07,4.016035e+07,3.114844e+07,192
4,5,6,2019,2,3.066608e+07,3.444171e+07,2.671444e+07,192

In [53]:
zinc_burden.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,metric_id,rei_id,sex_id,year_id
0,5,294,127295.614263,45664.775930,63403.650313,116720.947920,35218.124496,30873.467379,40736.543242,128643.398992,...,91531.825555,74724.512286,79480.297639,101998.204573,1,2,1,97,2,2019
1,5,294,125464.769419,52515.863706,68302.347137,134367.755366,38005.300731,32689.250201,44763.301712,129657.854605,...,104645.816809,71854.306497,82522.959922,116909.205102,1,2,1,97,1,2019
2,5,294,0.001749,0.000769,0.001035,0.001643,0.000574,0.000510,0.000722,0.001875,...,0.001741,0.001066,0.001321,0.001885,1,2,2,97,1,2019
3,5,294,0.001906,0.000718,0.001036,0.001593,0.000571,0.000518,0.000693,0.002000,...,0.001635,0.001197,0.001371,0.001781,1,2,2,97,2,2019
4,5,294,954.532812,197.702087,436.339271,1209.191167,371.705455,208.350528,464.778852,1270.639991,...,1282.128241,957.580283,1063.576027,1460.532078,11,2,1,97,2,2019

# Make tables

In [31]:
zinc_summary = pgd.get_binary_risk_data_summary(zinc_preprocessed)
zinc_summary

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

measure                                      prevalence_of_zinc_deficiency_in_age_group_1_to_4  \
estimate                                                                                  mean
location_id location_name
168         Angola                                                                    0.141217
161         Bangladesh                                                                0.096903
201         Burkina Faso                                                              0.030959
202         Cameroon                                                                  0.047513
6           China                                                                     0.011407
205         Côte d'Ivoire                                                             0.059209
171         Democratic Republic of the Congo                                          0.325234
141         Egypt                                                                     0.028587
179         Ethiopia                                                                  0.028854
207         Ghana                                                                     0.042126
163         India                                                                     0.114851
11          Indonesia                                                                 0.079103
180         Kenya                                                                     0.051549
181         Madagascar                                                                0.069270
184         Mozambique                                                                0.139459
15          Myanmar                                                                   0.060132
164         Nepal                                                                     0.038835
213         Niger                                                                     0.042498
214         Nigeria                                                                   0.045405
165         Pakistan                                                                  0.267418
196         South Africa                                                              0.034747
522         Sudan                                                                     0.337664
190         Uganda                                                                    0.090285
189         United Republic of Tanzania                                               0.068614
20          Viet Nam                                                                  0.048809
1           Global                                                                    0.087841

measure                                                           \
estimate                                         lower     upper
location_id location_name
168         Angola                            0.025294  0.287093
161         Bangladesh                        0.010825  0.231075
201         Burkina Faso                      0.000000  0.098123
202         Cameroon                          0.000000  0.137640
6           China                             0.000000  0.033833
205         Côte d'Ivoire                     0.002605  0.160208
171         Democratic Republic of the Congo  0.180352  0.438343
141         Egypt                             0.000000  0.092144
179         Ethiopia                          0.000000  0.090044
207         Ghana                             0.000000  0.125638
163         India                             0.020721  0.240093
11          Indonesia                         0.008081  0.188562
180         Kenya                             0.001115  0.149923
181         Madagascar                        0.004496  0.183884
184         Mozambique                        0.023622  0.288831
15          Myanmar                           0.001875  0.168489
164         Nepal                             0.000000  0.120274
213         Niger                             0.000000  0.126781
214         Nigeria                           0.000613  0.133841
165         Pakistan                          0.156941  0.379092
196         South Africa                      0.000189  0.104724
522         Sudan                             0.188733  0.440169
190         Uganda                            0.009099  0.217391
189         United Republic of Tanzania       0.003932  0.183759
20          Viet Nam                          0.000355  0.141882
1           Global                            0.028854  0.176006

measure                                      number_in_age_group_1_to_4_with_zinc_deficiency  \
estimate                                                                                mean
location_id location_name
168         Angola                                                              5.770476e+05
161         Bangladesh                                                          1.076757e+06
201         Burkina Faso                                                        9.782485e+04
202         Cameroon                                                            1.588382e+05
6           China                                                               7.577129e+05
205         Côte d'Ivoire                                                       1.874518e+05
171         Democratic Republic of the Congo                                    3.519411e+06
141         Egypt                                                               2.495456e+05
179         Ethiopia                                                            3.802899e+05
207         Ghana                                                               1.326753e+05
163         India                                                               1.081599e+07
11          Indonesia                                                           1.259078e+06
180         Kenya                                                               2.638312e+05
181         Madagascar                                                          2.159860e+05
184         Mozambique                                                          5.630282e+05
15          Myanmar                                                             2.407016e+05
164         Nepal                                                               9.303764e+04
213         Niger                                                               1.602185e+05
214         Nigeria                                                             1.198739e+06
165         Pakistan                                                            6.469308e+06
196         South Africa                                                        1.419465e+05
522         Sudan                                                               1.476633e+06
190         Uganda                                                              5.039197e+05
189         United Republic of Tanzania                                         5.028911e+05
20          Viet Nam                                                            2.734966e+05
1           Global                                                              4.663120e+07

measure                                                                   \
estimate                                             lower         upper
location_id location_name
168         Angola                            1.033564e+05  1.173133e+06
161         Bangladesh                        1.202808e+05  2.567633e+06
201         Burkina Faso                      0.000000e+00  3.100520e+05
202         Cameroon                          0.000000e+00  4.601380e+05
6           China                             0.000000e+00  2.247276e+06
205         Côte d'Ivoire                     8.245986e+03  5.072115e+05
171         Democratic Republic of the Congo  1.951616e+06  4.743373e+06
141         Egypt                             0.000000e+00  8.043507e+05
179         Ethiopia                          0.000000e+00  1.186746e+06
207         Ghana                             0.000000e+00  3.956912e+05
163         India                             1.951373e+06  2.261056e+07
11          Indonesia                         1.286216e+05  3.001328e+06
180         Kenya                             5.708454e+03  7.673150e+05
181         Madagascar                        1.401752e+04  5.733571e+05
184         Mozambique                        9.536587e+04  1.166079e+06
15          Myanmar                           7.507284e+03  6.744482e+05
164         Nepal                             0.000000e+00  2.881430e+05
213         Niger                             0.000000e+00  4.779655e+05
214         Nigeria                           1.617672e+04  3.533537e+06
165         Pakistan                          3.796668e+06  9.170916e+06
196         South Africa                      7.723540e+02  4.278136e+05
522         Sudan                             8.253458e+05  1.924893e+06
190         Uganda                            5.078473e+04  1.213345e+06
189         United Republic of Tanzania       2.882205e+04  1.346823e+06
20          Viet Nam                          1.988743e+03  7.950193e+05
1           Global                            1.531760e+07  9.343388e+07

measure                                      dalys_attributable_to_zinc_deficiency_in_age_group_1_to_4  \
estimate                                                                                          mean
location_id location_name
168         Angola                                                                  5150.114104
161         Bangladesh                                                               957.394251
201         Burkina Faso                                                            1693.518523
202         Cameroon                                                                3795.571168
6           China                                                                    221.834640
205         Côte d'Ivoire                                                           1627.155879
171         Democratic Republic of the Congo                                       28539.815244
141         Egypt                                                                    719.287717
179         Ethiopia                                                                4194.901787
207         Ghana                                                                    674.080086
163         India                                                                  31741.385904
11          Indonesia                                                               2825.142448
180         Kenya                                                                   1708.764677
181         Madagascar                                                              3974.917946
184         Mozambique                                                              2552.568020
15          Myanmar                                                                  345.172096
164         Nepal                                                                    126.290884
213         Niger                                                                   6970.558379
214         Nigeria                                                                38748.277862
165         Pakistan                                                               41008.892461
196         South Africa                                                             357.746361
522         Sudan                                                                   7362.702051
190         Uganda                                                                  2313.981531
189         United Republic of Tanzania                                             1453.807908
20          Viet Nam                                                                 112.913147
1           Global                                                                258812.803459

measure                                                                    \
estimate                                             lower          upper
location_id location_name
168         Angola                              767.607541   13767.079061
161         Bangladesh                           90.193038    2849.796608
201         Burkina Faso                          0.000000    6199.902944
202         Cameroon                              0.000000   13324.296023
6           China                                 0.000000     743.348676
205         Côte d'Ivoire                        38.962458    6068.165571
171         Democratic Republic of the Congo   4984.407705   79052.150750
141         Egypt                                 0.000000    2487.810635
179         Ethiopia                              0.000000   15205.492988
207         Ghana                                 0.000000    2563.704469
163         India                              6409.329819   72354.221385
11          Indonesia                           292.283129    7659.904100
180         Kenya                                46.026307    5583.713135
181         Madagascar                          162.855415   11982.601609
184         Mozambique                          294.029274    7249.659193
15          Myanmar                              10.081763    1111.534989
164         Nepal                                 0.000000     443.164236
213         Niger                                 0.000000   24872.150524
214         Nigeria                             690.070141  123680.274003
165         Pakistan                          14735.533038   83036.668875
196         South Africa                          1.354661    1219.215998
522         Sudan                              2278.214988   17063.579974
190         Uganda                              179.247401    7362.503974
189         United Republic of Tanzania          78.520110    4598.308705
20          Viet Nam                              0.505919     350.644640
1           Global                            66896.529478  597019.176688

measure                                      dalys_attributable_to_zinc_deficiency_per_100000_py_in_age_group_1_to_4  \
estimate                                                                                                        mean
location_id location_name
168         Angola                                                                   126.035134
161         Bangladesh                                                                 8.616112
201         Burkina Faso                                                              53.595416
202         Cameroon                                                                 113.536157
6           China                                                                      0.333973
205         Côte d'Ivoire                                                             51.395497
171         Democratic Republic of the Congo                                         263.741090
141         Egypt                                                                      8.239989
179         Ethiopia                                                                  31.828721
207         Ghana                                                                     21.403039
163         India                                                                     33.704943
11          Indonesia                                                                 17.749280
180         Kenya                                                                     33.386863
181         Madagascar                                                               127.481685
184         Mozambique                                                                63.225611
15          Myanmar                                                                    8.623006
164         Nepal                                                                      5.271523
213         Niger                                                                    184.894907
214         Nigeria                                                                  146.767823
165         Pakistan                                                                 169.515895
196         South Africa                                                               8.757253
522         Sudan                                                                    168.364205
190         Uganda                                                                    41.458762
189         United Republic of Tanzania                                               19.835545
20          Viet Nam                                                                   2.015084
1           Global                                                                    48.753750

measure
estimate                                          lower       upper
location_id location_name
168         Angola                            18.785121  336.912079
161         Bangladesh                         0.811696   25.646870
201         Burkina Faso                       0.000000  196.210653
202         Cameroon                           0.000000  398.566988
6           China                              0.000000    1.119116
205         Côte d'Ivoire                      1.230672  191.669642
171         Democratic Republic of the Congo  46.061725  730.533824
141         Egypt                              0.000000   28.499767
179         Ethiopia                           0.000000  115.371330
207         Ghana                              0.000000   81.401405
163         India                              6.805818   76.830134
11          Indonesia                          1.836302   48.124223
180         Kenya                              0.899289  109.097917
181         Madagascar                         5.223022  384.300321
184         Mozambique                         7.282932  179.569801
15          Myanmar                            0.251860   27.768100
164         Nepal                              0.000000   18.498171
213         Niger                              0.000000  659.736813
214         Nigeria                            2.613796  468.466874
165         Pakistan                          60.911352  343.243487
196         South Africa                       0.033161   29.845121
522         Sudan                             52.096344  390.195890
190         Uganda                             3.211510  131.911296
189         United Republic of Tanzania        1.071317   62.738660
20          Viet Nam                           0.009029    6.257716
1           Global                            12.601605  112.463230

In [32]:
zinc_summary_filename='data/zinc_data_summary.csv'
zinc_summary.to_csv(zinc_summary_filename)
pd.read_csv(zinc_summary_filename, index_col=[0,1], header=[0,1]).head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

measure                   prevalence_of_zinc_deficiency_in_age_group_1_to_4  \
estimate                                                               mean
location_id location_name
168         Angola                                                 0.141217
161         Bangladesh                                             0.096903
201         Burkina Faso                                           0.030959
202         Cameroon                                               0.047513
6           China                                                  0.011407

measure                                        \
estimate                      lower     upper
location_id location_name
168         Angola         0.025294  0.287093
161         Bangladesh     0.010825  0.231075
201         Burkina Faso   0.000000  0.098123
202         Cameroon       0.000000  0.137640
6           China          0.000000  0.033833

measure                   number_in_age_group_1_to_4_with_zinc_deficiency  \
estimate                                                             mean
location_id location_name
168         Angola                                           5.770476e+05
161         Bangladesh                                       1.076757e+06
201         Burkina Faso                                     9.782485e+04
202         Cameroon                                         1.588382e+05
6           China                                            7.577129e+05

measure                                                 \
estimate                           lower         upper
location_id location_name
168         Angola         103356.373557  1.173133e+06
161         Bangladesh     120280.818575  2.567633e+06
201         Burkina Faso        0.000000  3.100520e+05
202         Cameroon            0.000000  4.601380e+05
6           China               0.000000  2.247276e+06

measure                   dalys_attributable_to_zinc_deficiency_in_age_group_1_to_4  \
estimate                                                                       mean
location_id location_name
168         Angola                                               5150.114104
161         Bangladesh                                            957.394251
201         Burkina Faso                                         1693.518523
202         Cameroon                                             3795.571168
6           China                                                 221.834640

measure                                              \
estimate                        lower         upper
location_id location_name
168         Angola         767.607541  13767.079061
161         Bangladesh      90.193038   2849.796608
201         Burkina Faso     0.000000   6199.902944
202         Cameroon         0.000000  13324.296023
6           China            0.000000    743.348676

measure                   dalys_attributable_to_zinc_deficiency_per_100000_py_in_age_group_1_to_4  \
estimate                                                                                     mean
location_id location_name
168         Angola                                                126.035134
161         Bangladesh                                              8.616112
201         Burkina Faso                                           53.595416
202         Cameroon                                              113.536157
6           China                                                   0.333973

measure
estimate                       lower       upper
location_id location_name
168         Angola         18.785121  336.912079
161         Bangladesh      0.811696   25.646870
201         Burkina Faso    0.000000  196.210653
202         Cameroon        0.000000  398.566988
6           China           0.000000    1.119116

In [89]:
zinc_summary.filter(like='prevalence')

measure                                      prevalence_of_zinc_deficiency_in_age_group_1_to_4  \
estimate                                                                                  mean
location_id location_name
168         Angola                                                                    0.141217
161         Bangladesh                                                                0.096903
201         Burkina Faso                                                              0.030959
202         Cameroon                                                                  0.047513
6           China                                                                     0.011407
205         Côte d'Ivoire                                                             0.059209
171         Democratic Republic of the Congo                                          0.325234
141         Egypt                                                                     0.028587
179         Ethiopia                                                                  0.028854
207         Ghana                                                                     0.042126
163         India                                                                     0.114851
11          Indonesia                                                                 0.079103
180         Kenya                                                                     0.051549
181         Madagascar                                                                0.069270
184         Mozambique                                                                0.139459
15          Myanmar                                                                   0.060132
164         Nepal                                                                     0.038835
213         Niger                                                                     0.042498
214         Nigeria                                                                   0.045405
165         Pakistan                                                                  0.267418
196         South Africa                                                              0.034747
522         Sudan                                                                     0.337664
190         Uganda                                                                    0.090285
189         United Republic of Tanzania                                               0.068614
20          Viet Nam                                                                  0.048809
1           Global                                                                    0.087841

measure
estimate                                         lower     upper
location_id location_name
168         Angola                            0.025294  0.287093
161         Bangladesh                        0.010825  0.231075
201         Burkina Faso                      0.000000  0.098123
202         Cameroon                          0.000000  0.137640
6           China                             0.000000  0.033833
205         Côte d'Ivoire                     0.002605  0.160208
171         Democratic Republic of the Congo  0.180352  0.438343
141         Egypt                             0.000000  0.092144
179         Ethiopia                          0.000000  0.090044
207         Ghana                             0.000000  0.125638
163         India                             0.020721  0.240093
11          Indonesia                         0.008081  0.188562
180         Kenya                             0.001115  0.149923
181         Madagascar                        0.004496  0.183884
184         Mozambique                        0.023622  0.288831
15          Myanmar                           0.001875  0.168489
164         Nepal                             0.000000  0.120274
213         Niger                             0.000000  0.126781
214         Nigeria                           0.000613  0.133841
165         Pakistan                          0.156941  0.379092
196         South Africa                      0.000189  0.104724
522         Sudan                             0.188733  0.440169
190         Uganda                            0.009099  0.217391
189         United Republic of Tanzania       0.003932  0.183759
20          Viet Nam                          0.000355  0.141882
1           Global                            0.028854  0.176006

# Check what's in my hdf file

In [33]:
with pd.HDFStore('data/lsff_gbd_data_summary.hdf', mode='r') as store:
    print(store.keys())

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

['/zinc_deficiency/daly_burden', '/zinc_deficiency/population_1_to_4', '/zinc_deficiency/prevalence_among_1_to_4', '/vitamin_a_deficiency/dalys_attributable', '/vitamin_a_deficiency/population_under_5', '/vitamin_a_deficiency/prevalence_under_5']

In [34]:
vad_prevalence = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                              'vitamin_a_deficiency/prevalence_under_5')
vad_population = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                              'vitamin_a_deficiency/population_under_5')
vad_dalys = pd.read_hdf('data/lsff_gbd_data_summary.hdf',
                         'vitamin_a_deficiency/dalys_attributable')

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())

In [35]:
vad_dalys.head()

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,metric_id,rei_id,sex_id,year_id
0,2,294,610.265537,7.129188e+02,584.278363,576.937717,409.973505,607.233541,728.870375,493.579920,...,248.213171,486.247220,438.085573,436.432390,1,2,1,96,2,2019
1,3,294,9363.198293,1.092949e+04,8368.736002,9982.006511,7609.211513,9183.636889,10542.066104,7324.188474,...,4369.326708,7280.572863,7897.450957,6851.663011,1,2,1,96,2,2019
2,4,294,449406.675608,5.545513e+05,338516.272279,590073.349785,126476.979025,158563.491568,136273.580110,484981.100751,...,244008.653919,380229.833318,274865.340592,152344.707050,1,2,1,96,2,2019
3,5,294,854904.099987,1.071534e+06,583597.902356,902017.353676,259573.288255,311673.209653,296055.171332,839221.584272,...,389873.831466,496395.231429,569553.194295,298005.258843,1,2,1,96,2,2019
4,6,294,179144.094706,1.526072e+05,115113.429804,168106.134250,116613.233007,116600.455885,153721.578560,106277.390857,...,61805.345403,122170.134996,118225.047839,110907.411543,1,2,1,96,2,2019

In [36]:
vad_prevalence.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,rei_id,modelable_entity_id,location_id,year_id,age_group_id,sex_id,parameter,measure_id,metric_id,draw_0,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
0,96,2510.0,1,2019,1,3,cat1,18,3,0.160723,...,0.138674,0.156027,0.162336,0.145321,0.148542,0.144228,0.150515,0.163942,0.140099,0.163181
1,96,2510.0,6,2019,1,3,cat1,18,3,0.025171,...,0.024486,0.041571,0.054358,0.036757,0.049439,0.048223,0.033412,0.019751,0.024105,0.055701
2,96,2510.0,11,2019,1,3,cat1,18,3,0.135798,...,0.200273,0.168939,0.174769,0.142576,0.160275,0.142429,0.159862,0.158847,0.143874,0.144510
3,96,2510.0,15,2019,1,3,cat1,18,3,0.120545,...,0.098860,0.159518,0.162904,0.131492,0.123332,0.123488,0.101929,0.180399,0.183362,0.167684
4,96,2510.0,20,2019,1,3,cat1,18,3,0.097730,...,0.076831,0.058292,0.058919,0.107750,0.111074,0.102168,0.067863,0.077999,0.073056,0.102493

In [38]:
vad_population.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,location_id,year_id,sex_id,population,upper,lower,run_id
0,1,1,2019,3,6.628427e+08,6.819745e+08,6.438792e+08,192
1,1,6,2019,3,8.149086e+07,9.152573e+07,7.098894e+07,192
2,1,11,2019,3,1.970635e+07,2.217715e+07,1.722869e+07,192
3,1,15,2019,3,5.018670e+06,5.528959e+06,4.489139e+06,192
4,1,20,2019,3,6.937449e+06,7.846919e+06,5.979573e+06,192

# Test shared functions for neural tube defects

In [41]:
test_location_ids = [15, 164] #Myanmar, Nepal

In [43]:
%%time
ntd_dalys = get_draws(
        gbd_id_type='cause_id',
        gbd_id=list_ids('cause', 'Neural tube defects'),
        source='dalynator',
        measure_id=find_ids('measure', 'DALYs'),
#         metric_id=list_ids('metric', 'Number', 'Percent'),
        location_id=test_location_ids,
        year_id=2019,
        sex_id=list_ids('sex', 'Male', 'Female', 'Both'),
        age_group_id=list_ids('age_group', 'Under 5'),
        gbd_round_id=list_ids('gbd_round', '2019'),
        status='best',
        decomp_step='step5',
    )
ntd_dalys.head()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

CPU times: user 18.2 s, sys: 1.46 s, total: 19.7 s
Wall time: 26 s

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,metric_id,sex_id,year_id
0,1,642,0.012143,0.017883,0.008016,0.010273,0.009223,0.020538,0.006648,0.007467,...,0.010959,0.015911,0.017902,0.014416,0.010359,15,2,3,1,2019
1,1,642,0.007402,0.027347,0.011419,0.008061,0.011936,0.018012,0.008999,0.014890,...,0.007889,0.009454,0.018339,0.013660,0.019215,15,2,3,2,2019
2,1,642,0.009823,0.022515,0.009682,0.009190,0.010551,0.019301,0.007799,0.011100,...,0.009456,0.012750,0.018116,0.014046,0.014694,15,2,3,3,2019
3,1,642,0.010602,0.019600,0.009560,0.010849,0.009380,0.026040,0.007733,0.006914,...,0.011632,0.018269,0.018146,0.019371,0.015868,15,2,2,1,2019
4,1,642,0.008303,0.037343,0.016864,0.010629,0.015285,0.027979,0.013100,0.017499,...,0.010516,0.013583,0.023613,0.022401,0.035572,15,2,2,2,2019

In [46]:
ids_to_names('metric', *ntd_dalys.metric_id.unique())

metric_id
1     Number
2    Percent
3       Rate
Name: metric_name, dtype: object

In [48]:
ntd_population = get_population(
        age_group_id=list_ids('age_group', 'Birth', 'Under 5'),
        sex_id=list_ids('sex', 'Male', 'Female', 'Both'),
        location_id=test_location_ids,
        year_id=2019,
        gbd_round_id=list_ids('gbd_round', '2019'),
        decomp_step='step4',
        with_ui=True,
    )
ntd_population

,age_group_id,location_id,year_id,sex_id,population,upper,lower,run_id
0,1,15,2019,1,2.562164e+06,2.822681e+06,2.291825e+06,192
1,164,15,2019,1,5.414443e+05,6.127138e+05,4.775972e+05,192
2,1,15,2019,2,2.456506e+06,2.706279e+06,2.197314e+06,192
3,164,15,2019,2,5.134675e+05,5.810545e+05,4.529194e+05,192
4,1,15,2019,3,5.018670e+06,5.528959e+06,4.489139e+06,192
5,164,15,2019,3,1.054912e+06,1.193768e+06,9.305166e+05,192
6,1,164,2019,1,1.539103e+06,1.732521e+06,1.346567e+06,192
7,164,164,2019,1,3.181367e+05,3.624567e+05,2.813146e+05,192
8,1,164,2019,2,1.456865e+06,1.639949e+06,1.274617e+06,192
9,164,164,2019,2,2.999425e+05,3.417279e+05,2.652263e+05,192
10,1,164,2019,3,2.995968e+06,3.372471e+06,2.621183e+06,192
11,164,164,2019,3,6.180792e+05,7.041846e+05,5.465409e+05,192

## Pull NTD data, save to my `.hdf` file, and preprocess for the data summary

In [50]:
%%time
ntd_data = pgd.pull_neural_tube_defects_summary_input_data_for_locations(
    locations.location_id, hdf_filepath)
len(ntd_data)

CPU times: user 3min 35s, sys: 17.3 s, total: 3min 52s
Wall time: 4min 52s

3

In [57]:
ntd_preprocessed = pgd.preprocess_neural_tube_defects_data(ntd_data)
len(ntd_preprocessed)

5

In [59]:
ntd_preprocessed.daly_count

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,metric_id,sex_id,year_id
8,1,642,5.970445e+06,6.387010e+06,6.108604e+06,7.404369e+06,6.013689e+06,5.762819e+06,5.136962e+06,6.154354e+06,...,9.133882e+06,8.097010e+06,9.970295e+06,8.110397e+06,1.009944e+07,1,2,1,3,2019
17,1,642,7.116025e+04,7.804144e+04,7.730261e+04,1.473221e+05,1.371189e+05,1.091769e+05,1.011687e+05,1.043757e+05,...,1.368378e+05,1.540637e+05,1.530902e+05,1.195830e+05,1.581032e+05,11,2,1,3,2019
26,1,642,2.486852e+04,4.900662e+04,8.216102e+04,5.442871e+04,2.113676e+04,2.791546e+04,2.928933e+04,3.012447e+04,...,8.187806e+04,4.212335e+04,5.155310e+04,5.343899e+04,5.326659e+04,141,2,1,3,2019
35,1,642,4.929701e+04,1.129964e+05,4.859065e+04,4.612310e+04,5.295202e+04,9.686702e+04,3.914012e+04,5.570949e+04,...,4.745856e+04,6.398923e+04,9.091924e+04,7.049238e+04,7.374320e+04,15,2,1,3,2019
44,1,642,8.144175e+04,7.643334e+04,5.582812e+04,1.249708e+05,1.079833e+05,1.615961e+05,6.812759e+04,2.275002e+05,...,6.581571e+04,7.218776e+04,5.613237e+04,6.695543e+04,8.167159e+04,161,2,1,3,2019
53,1,642,5.056808e+05,8.971136e+05,6.253296e+05,9.860218e+05,8.147714e+05,7.193659e+05,7.154149e+05,7.775107e+05,...,5.293013e+05,3.904036e+05,6.205005e+05,4.404073e+05,6.306940e+05,163,2,1,3,2019
62,1,642,2.407000e+04,2.193964e+04,1.884085e+04,1.609759e+04,1.087132e+04,1.592076e+04,7.288049e+03,1.397640e+04,...,7.562728e+03,9.667764e+03,1.103587e+04,4.735283e+03,1.035855e+04,164,2,1,3,2019
71,1,642,2.768024e+05,1.957462e+05,1.983214e+05,3.170881e+05,2.994353e+05,2.767873e+05,2.340487e+05,2.774027e+05,...,1.532803e+05,2.073852e+05,1.988117e+05,2.083422e+05,2.908698e+05,165,2,1,3,2019
80,1,642,6.666548e+04,9.583775e+04,1.259556e+05,9.690449e+04,6.275474e+04,9.788391e+04,5.791835e+04,7.595988e+04,...,1.730039e+05,1.575076e+05,1.893149e+05,1.549935e+05,1.212606e+05,168,2,1,3,2019
89,1,642,3.763814e+05,2.944268e+05,2.453879e+05,2.988728e+05,1.364877e+05,1.690887e+05,1.422119e+05,3.350577e+05,...,5.191276e+05,2.638715e+05,3.943540e+05,2.570453e+05,4.055070e+05,171,2,1,3,2019
98,1,642,3.038995e+05,2.403277e+05,2.515643e+05,2.850180e+05,2.031392e+05,2.236881e+05,1.769160e+05,2.183280e+05,...,3.447624e+05,4.129889e+05,3.516697e+05,3.571121e+05,3.718864e+05,179,2,1,3,2019
107,1,642,5.474765e+04,5.201260e+04,4.926551e+04,7.021323e+04,5.017795e+04,5.122856e+04,4.472380e+04,4.848716e+04,...,7.849819e+04,7.013781e+04,8.988308e+04,7.510765e+04,9.402744e+04,180,2,1,3,2019
116,1,642,5.081491e+04,4.931706e+04,6.334345e+04,7.553916e+04,6.747978e+04,5.109792e+04,3.893165e+04,5.236220e+04,...,9.390287e+04,9.735021e+04,1.038241e+05,6.956151e+04,1.342721e+05,181,2,1,3,2019
125,1,642,1.577061e+05,1.096819e+05,1.197022e+05,1.770028e+05,9.895725e+04,1.086825e+05,1.210910e+05,8.255387e+04,...,1.328465e+05,1.499040e+05,1.808206e+05,1.165870e+05,1.307751e+05,184,2,1,3,2019
134,1,642,1.966165e+05,1.796838e+05,1.998819e+05,2.449402e+05,1.520539e+05,2.062660e+05,1.588767e+05,2.517679e+05,...,2.486063e+05,2.038435e+05,2.791011e+05,2.103654e+05,4.033720e+05,189,2,1,3,2019
143,1,642,1.346768e+05,7.906350e+04,1.548196e+05,1.276386e+05,6.670279e+04,7.680905e+04,9.763433e+04,1.289116e+05,...,1.582629e+05,5.991082e+04,1.727499e+05,1.354090e+05,2.550526e+05,190,2,1,3,2019
152,1,642,2.564142e+04,2.692074e+04,2.332884e+04,2.717175e+04,1.967166e+04,1.956062e+04,1.923393e+04,2.441962e+04,...,2.405112e+04,1.635730e+04,2.216419e+04,1.652646e+04,2.026934e+04,196,2,1,3,2019
161,1,642,2.712710e+04,2.607652e+04,5.121173e+04,1.391410e+04,1.916607e+04,1.093495e+04,1.011195e+04,1.582073e+04,...,1.375867e+04,9.121554e+03,1.642431e+04,8.210875e+03,8.779448e+03,20,2,1,3,2019
170,1,642,1.771376e+05,1.130206e+05,1.741086e+05,2.019883e+05,1.318057e+05,8.679386e+04,8.997726e+04,1.321246e+05,...,2.026947e+05,1.972548e+05,4.306234e+05,2.421782e+05,2.958869e+05,201,2,1,3,2019
179,1,642,4.690881e+04,1.014973e+05,6.741989e+04,1.226038e+05,6.301342e+04,6.342865e+04,5.457703e+04,4.167627e+04,...,2.467071e+05,1.882712e+05,1.657162e+05,1.352520e+05,2.080341e+05,202,2,1,3,2019
188,1,642,8.560364e+04,7.294095e+04,8.354689e+04,9.662619e+04,6.902070e+04,8.374668e+04,5.244008e+04,5.934553e+04,...,1.498342e+05,1.514013e+05,1.214941e+05,1.521025e+05,1.725013e+05,205,2,1,3,2019
197,1,642,3.727935e+04,4.733413e+04,4.998242e+04,4.894944e+04,4.127099e+04,7.435956e+04,4.791763e+04,4.404368e+04,...,9.274150e+04,8.311650e+04,1.234103e+05,1.000199e+05,1.657133e+05,207,2,1,3,2019
206,1,642,6.280059e+04,9.603516e+04,9.442789e+04,9.960362e+04,7.397662e+04,8.881415e+04,8.307912e+04,5.519192e+04,...,4.339596e+05,2.316670e+05,2.556799e+05,2.127933e+05,4.727923e+05,213,2,1,3,2019
215,1,642,7.484239e+05,8.580045e+05,7.130428e+05,9.579982e+05,7.602295e+05,9.178992e+05,5.646713e+05,6.918157e+05,...,2.341160e+06,1.924538e+06,2.324571e+06,2.120508e+06,2.323905e+06,214,2,1,3,2019
224,1,642,1.350636e+05,2.154688e+05,1.454504e+05,1.434727e+05,2.576119e+05,1.119307e+05,1.457119e+05,1.495257e+05,...,1.386517e+05,7.673424e+04,2.108049e+05,8.046163e+04,2.821954e+05,522,2,1,3,2019
233,1,642,2.492471e+05,2.374986e+05,2.273758e+05,2.328436e+05,2.670156e+05,2.189806e+05,2.477495e+05,2.608663e+05,...,2.580732e+05,2.264264e+05,3.132071e+05,2.120173e+05,2.449056e+05,6,2,1,3,2019

In [60]:
ntd_preprocessed.daly_rate

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,metric_id,sex_id,year_id
2,1,642,0.009007,0.009636,0.009216,0.011171,0.009073,0.008694,0.007750,0.009285,...,0.013780,0.012216,0.015042,0.012236,0.015237,1,2,3,3,2019
11,1,642,0.003611,0.003960,0.003923,0.007476,0.006958,0.005540,0.005134,0.005297,...,0.006944,0.007818,0.007769,0.006068,0.008023,11,2,3,3,2019
20,1,642,0.002297,0.004527,0.007590,0.005028,0.001953,0.002579,0.002706,0.002783,...,0.007564,0.003891,0.004762,0.004937,0.004921,141,2,3,3,2019
29,1,642,0.009823,0.022515,0.009682,0.009190,0.010551,0.019301,0.007799,0.011100,...,0.009456,0.012750,0.018116,0.014046,0.014694,15,2,3,3,2019
38,1,642,0.005925,0.005560,0.004061,0.009091,0.007856,0.011756,0.004956,0.016550,...,0.004788,0.005252,0.004084,0.004871,0.005942,161,2,3,3,2019
47,1,642,0.004319,0.007663,0.005341,0.008422,0.006960,0.006145,0.006111,0.006641,...,0.004521,0.003335,0.005300,0.003762,0.005387,163,2,3,3,2019
56,1,642,0.008034,0.007323,0.006289,0.005373,0.003629,0.005314,0.002433,0.004665,...,0.002524,0.003227,0.003684,0.001581,0.003457,164,2,3,3,2019
65,1,642,0.009068,0.006412,0.006497,0.010387,0.009809,0.009067,0.007667,0.009087,...,0.005021,0.006794,0.006513,0.006825,0.009528,165,2,3,3,2019
74,1,642,0.012952,0.018620,0.024471,0.018827,0.012192,0.019017,0.011253,0.014758,...,0.033612,0.030601,0.036781,0.030112,0.023559,168,2,3,3,2019
83,1,642,0.027615,0.021602,0.018004,0.021928,0.010014,0.012406,0.010434,0.024583,...,0.038089,0.019360,0.028934,0.018860,0.029752,171,2,3,3,2019
92,1,642,0.018220,0.014408,0.015082,0.017088,0.012179,0.013411,0.010607,0.013089,...,0.020670,0.024760,0.021084,0.021410,0.022296,179,2,3,3,2019
101,1,642,0.008533,0.008107,0.007678,0.010943,0.007821,0.007984,0.006971,0.007557,...,0.012235,0.010932,0.014009,0.011706,0.014655,180,2,3,3,2019
110,1,642,0.012900,0.012520,0.016080,0.019176,0.017130,0.012972,0.009883,0.013293,...,0.023838,0.024713,0.026357,0.017659,0.034086,181,2,3,3,2019
119,1,642,0.030892,0.021485,0.023448,0.034672,0.019384,0.021289,0.023720,0.016171,...,0.026023,0.029364,0.035420,0.022838,0.025617,184,2,3,3,2019
128,1,642,0.021125,0.019306,0.021476,0.026317,0.016337,0.022162,0.017070,0.027051,...,0.026711,0.021902,0.029987,0.022602,0.043339,189,2,3,3,2019
137,1,642,0.018996,0.011152,0.021837,0.018003,0.009408,0.010834,0.013771,0.018183,...,0.022323,0.008450,0.024366,0.019099,0.035975,190,2,3,3,2019
146,1,642,0.005033,0.005284,0.004579,0.005334,0.003861,0.003840,0.003775,0.004793,...,0.004721,0.003211,0.004351,0.003244,0.003979,196,2,3,3,2019
155,1,642,0.003910,0.003759,0.007382,0.002006,0.002763,0.001576,0.001458,0.002280,...,0.001983,0.001315,0.002367,0.001184,0.001266,20,2,3,3,2019
164,1,642,0.043792,0.027941,0.043043,0.049936,0.032585,0.021457,0.022244,0.032664,...,0.050110,0.048766,0.106459,0.059872,0.073150,201,2,3,3,2019
173,1,642,0.011150,0.024125,0.016025,0.029142,0.014978,0.015077,0.012973,0.009906,...,0.058641,0.044751,0.039390,0.032148,0.049448,202,2,3,3,2019
182,1,642,0.021337,0.018181,0.020824,0.024084,0.017204,0.020874,0.013071,0.014792,...,0.037347,0.037737,0.030283,0.037912,0.042996,205,2,3,3,2019
191,1,642,0.009389,0.011921,0.012588,0.012328,0.010394,0.018727,0.012068,0.011092,...,0.023357,0.020933,0.031081,0.025190,0.041735,207,2,3,3,2019
200,1,642,0.012941,0.019789,0.019458,0.020525,0.015244,0.018301,0.017120,0.011373,...,0.089423,0.047738,0.052686,0.043849,0.097425,213,2,3,3,2019
209,1,642,0.022327,0.025596,0.021271,0.028579,0.022679,0.027382,0.016845,0.020638,...,0.069840,0.057412,0.069345,0.063258,0.069326,214,2,3,3,2019
218,1,642,0.024500,0.039086,0.026384,0.026026,0.046730,0.020304,0.026432,0.027124,...,0.025151,0.013919,0.038240,0.014596,0.051190,522,2,3,3,2019
227,1,642,0.003059,0.002914,0.002790,0.002857,0.003277,0.002687,0.003040,0.003201,...,0.003167,0.002779,0.003843,0.002602,0.003005,6,2,3,3,2019

In [61]:
ntd_preprocessed.population

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,location_id,year_id,sex_id,population,upper,lower,run_id
5,164,1,2019,3,1.353500e+08,1.440812e+08,1.271671e+08,192
11,164,6,2019,3,1.492184e+07,1.535535e+07,1.446737e+07,192
17,164,11,2019,3,3.837830e+06,4.287325e+06,3.457880e+06,192
23,164,15,2019,3,1.054912e+06,1.193768e+06,9.305166e+05,192
29,164,20,2019,3,1.340431e+06,1.498616e+06,1.213495e+06,192
35,164,141,2019,3,2.107666e+06,2.345984e+06,1.879636e+06,192
41,164,161,2019,3,2.659503e+06,2.945596e+06,2.378522e+06,192
47,164,163,2019,3,2.346104e+07,2.577264e+07,2.114538e+07,192
53,164,164,2019,3,6.180792e+05,7.041846e+05,5.465409e+05,192
59,164,165,2019,3,6.686023e+06,7.548104e+06,5.941982e+06,192
65,164,168,2019,3,1.104439e+06,1.214100e+06,9.990124e+05,192
71,164,171,2019,3,2.935813e+06,3.206062e+06,2.666339e+06,192
77,164,179,2019,3,3.674574e+06,4.002555e+06,3.394849e+06,192
83,164,180,2019,3,1.342680e+06,1.554710e+06,1.166729e+06,192
89,164,181,2019,3,8.618120e+05,9.732689e+05,7.569482e+05,192
95,164,184,2019,3,1.124744e+06,1.206166e+06,1.045272e+06,192
101,164,189,2019,3,2.087508e+06,2.265975e+06,1.926219e+06,192
107,164,190,2019,3,1.593731e+06,1.695336e+06,1.505162e+06,192
113,164,196,2019,3,1.035023e+06,1.172519e+06,9.176605e+05,192
119,164,201,2019,3,9.373014e+05,1.007699e+06,8.735207e+05,192
125,164,202,2019,3,9.037996e+05,1.027670e+06,7.973141e+05,192
131,164,205,2019,3,8.923443e+05,9.816418e+05,8.130834e+05,192
137,164,207,2019,3,8.548916e+05,9.876791e+05,7.348827e+05,192
143,164,213,2019,3,1.142820e+06,1.186026e+06,1.101493e+06,192
149,164,214,2019,3,7.587167e+06,8.238239e+06,7.020691e+06,192
155,164,522,2019,3,1.206679e+06,1.388254e+06,1.051722e+06,192

In [62]:
ntd_preprocessed.prevalence

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
488,164,642.0,0.000875,0.000955,0.001016,0.001200,0.001214,0.001037,0.001077,0.001296,...,0.000907,0.001066,0.000912,0.001146,0.001155,1,6.0,3,2019,3.0
512,164,642.0,0.000244,0.000258,0.000267,0.000304,0.000327,0.000256,0.000270,0.000336,...,0.000238,0.000276,0.000260,0.000289,0.000292,6,6.0,3,2019,3.0
536,164,642.0,0.000344,0.000362,0.000398,0.000432,0.000460,0.000388,0.000397,0.000480,...,0.000347,0.000407,0.000372,0.000451,0.000444,11,6.0,3,2019,3.0
560,164,642.0,0.000921,0.000956,0.001007,0.001107,0.001314,0.000998,0.001095,0.001316,...,0.000917,0.001144,0.000948,0.001179,0.001093,15,6.0,3,2019,3.0
584,164,642.0,0.000343,0.000387,0.000405,0.000435,0.000413,0.000380,0.000386,0.000460,...,0.000350,0.000373,0.000364,0.000401,0.000402,20,6.0,3,2019,3.0
608,164,642.0,0.000743,0.000828,0.000848,0.000971,0.000946,0.000840,0.000944,0.001000,...,0.000762,0.000947,0.000810,0.000970,0.000953,141,6.0,3,2019,3.0
632,164,642.0,0.000697,0.000810,0.000797,0.000904,0.000963,0.000821,0.000851,0.001084,...,0.000737,0.000837,0.000766,0.000921,0.001002,161,6.0,3,2019,3.0
656,164,642.0,0.000801,0.000916,0.000965,0.001110,0.001141,0.000962,0.001008,0.001250,...,0.000858,0.000978,0.000883,0.001099,0.001101,163,6.0,3,2019,3.0
680,164,642.0,0.000592,0.000692,0.000681,0.000818,0.000828,0.000720,0.000703,0.000873,...,0.000617,0.000742,0.000679,0.000765,0.000796,164,6.0,3,2019,3.0
704,164,642.0,0.000779,0.000828,0.000916,0.000989,0.001083,0.000932,0.000977,0.001165,...,0.000840,0.000975,0.000816,0.001149,0.001112,165,6.0,3,2019,3.0
728,164,642.0,0.001579,0.001717,0.001773,0.002353,0.002236,0.001954,0.001998,0.002336,...,0.001658,0.001873,0.001601,0.002078,0.002154,168,6.0,3,2019,3.0
752,164,642.0,0.002381,0.002442,0.002646,0.003392,0.003398,0.002801,0.002986,0.003404,...,0.002343,0.002692,0.002208,0.003003,0.002961,171,6.0,3,2019,3.0
776,164,642.0,0.000974,0.001075,0.001114,0.001339,0.001423,0.001164,0.001234,0.001387,...,0.001026,0.001173,0.000992,0.001269,0.001261,179,6.0,3,2019,3.0
800,164,642.0,0.000837,0.000912,0.000972,0.001110,0.001169,0.000986,0.001002,0.001202,...,0.000879,0.001012,0.000879,0.001090,0.001114,180,6.0,3,2019,3.0
824,164,642.0,0.001314,0.001371,0.001396,0.001842,0.001809,0.001551,0.001640,0.001849,...,0.001372,0.001546,0.001261,0.001611,0.001746,181,6.0,3,2019,3.0
848,164,642.0,0.001545,0.001643,0.001707,0.002077,0.002120,0.001840,0.001934,0.002191,...,0.001531,0.001760,0.001466,0.001921,0.001930,184,6.0,3,2019,3.0
872,164,642.0,0.001580,0.001619,0.001736,0.002148,0.002255,0.001942,0.001866,0.002303,...,0.001533,0.001993,0.001634,0.001920,0.002064,189,6.0,3,2019,3.0
896,164,642.0,0.001782,0.001879,0.002088,0.002505,0.002290,0.002172,0.002084,0.002796,...,0.001843,0.002180,0.001875,0.002167,0.002105,190,6.0,3,2019,3.0
920,164,642.0,0.000475,0.000530,0.000553,0.000669,0.000649,0.000578,0.000574,0.000682,...,0.000530,0.000558,0.000517,0.000597,0.000609,196,6.0,3,2019,3.0
944,164,642.0,0.001889,0.002353,0.002509,0.002938,0.002925,0.002566,0.002574,0.003285,...,0.002212,0.002658,0.002284,0.002587,0.002635,201,6.0,3,2019,3.0
968,164,642.0,0.001634,0.001772,0.001738,0.002219,0.002402,0.001846,0.002044,0.002475,...,0.001750,0.001872,0.001586,0.001860,0.002074,202,6.0,3,2019,3.0
992,164,642.0,0.001951,0.002177,0.002329,0.002784,0.002620,0.002219,0.002376,0.002838,...,0.002033,0.002293,0.002018,0.002421,0.002382,205,6.0,3,2019,3.0
1016,164,642.0,0.001264,0.001373,0.001579,0.001632,0.001630,0.001416,0.001512,0.001883,...,0.001299,0.001488,0.001291,0.001496,0.001628,207,6.0,3,2019,3.0
1040,164,642.0,0.001613,0.001589,0.001704,0.002156,0.002093,0.001842,0.002030,0.002395,...,0.001576,0.001913,0.001519,0.001988,0.002019,213,6.0,3,2019,3.0
1064,164,642.0,0.002034,0.002219,0.002378,0.002966,0.003018,0.002505,0.002627,0.003142,...,0.002109,0.002559,0.002088,0.002834,0.002824,214,6.0,3,2019,3.0
1088,164,642.0,0.001829,0.002234,0.002283,0.002702,0.002826,0.002404,0.002651,0.003025,...,0.001908,0.002416,0.001997,0.002748,0.002584,522,6.0,3,2019,3.0

In [72]:
ntd_data[0].tail()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
1085,30,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,522,6.0,3,2019,3.0
1086,31,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,522,6.0,3,2019,3.0
1087,32,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,522,6.0,3,2019,3.0
1088,164,642.0,0.001829,0.002234,0.002283,0.002702,0.002826,0.002404,0.002651,0.003025,...,0.001908,0.002416,0.001997,0.002748,0.002584,522,6.0,3,2019,3.0
1089,235,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,522,6.0,3,2019,3.0

In [68]:
ntd_data[0].shape

(1090, 1007)

## Above, it looks like there are many extraneous rows with 0's in the raw NTD data

## Try calling `get_draws` with different parameters to get just what we need

It looks like perhaps including the 'Global' location causes `get_draws` to pull incidence data for all age groups, even though it's all 0 except in age group 164.

In [71]:
%%time
ntd_bp = get_draws(
        gbd_id_type='cause_id',
        gbd_id=list_ids('cause', 'Neural tube defects'),
        source='como',
        location_id=test_location_ids,
        year_id=2019,
#         age_group_id=list_ids('age_group', 'Birth'),
        sex_id=list_ids('sex', 'Both'),
        measure_id=list_ids('measure', 'Incidence'),
        gbd_round_id=list_ids('gbd_round', '2019'),
        status='best',
        decomp_step='step5',
    )
ntd_bp.head()

CPU times: user 5.45 s, sys: 339 ms, total: 5.79 s
Wall time: 9.09 s

,metric_id,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,...,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id
0,3,164.0,642.0,0.000921,0.000956,0.001007,0.001107,0.001314,0.000998,0.001095,...,0.000995,0.000917,0.001144,0.000948,0.001179,0.001093,15.0,6.0,3.0,2019.0
1,3,164.0,642.0,0.000592,0.000692,0.000681,0.000818,0.000828,0.000720,0.000703,...,0.000602,0.000617,0.000742,0.000679,0.000765,0.000796,164.0,6.0,3.0,2019.0

In [75]:
ntd_bp.dtypes

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

metric_id         int64
age_group_id    float64
cause_id        float64
draw_0          float64
draw_1          float64
                 ...
draw_999        float64
location_id     float64
measure_id      float64
sex_id          float64
year_id         float64
Length: 1007, dtype: object

In [73]:
ntd_bp.shape

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(2, 1007)

In [74]:
%%time
ntd_bp2 = get_draws(
        gbd_id_type='cause_id',
        gbd_id=list_ids('cause', 'Neural tube defects'),
        source='como',
        location_id=test_location_ids,
        year_id=2019,
#         age_group_id=list_ids('age_group', 'Birth'),
        sex_id=list_ids('sex', 'Male', 'Female', 'Both'),
        measure_id=list_ids('measure', 'Incidence'),
        gbd_round_id=list_ids('gbd_round', '2019'),
        status='best',
        decomp_step='step5',
    )
ntd_bp2.head()

CPU times: user 3.74 s, sys: 177 ms, total: 3.91 s
Wall time: 5.91 s

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
0,164,642,0.000983,0.000996,0.001069,0.001095,0.001351,0.001023,0.001030,0.001337,...,0.000967,0.001186,0.000934,0.001227,0.001122,15,6,1,2019,3
1,164,642,0.000856,0.000914,0.000941,0.001118,0.001274,0.000972,0.001163,0.001294,...,0.000864,0.001099,0.000964,0.001129,0.001064,15,6,2,2019,3
2,164,642,0.000516,0.000564,0.000568,0.000677,0.000674,0.000598,0.000560,0.000723,...,0.000522,0.000619,0.000573,0.000569,0.000643,164,6,1,2019,3
3,164,642,0.000673,0.000828,0.000802,0.000968,0.000992,0.000849,0.000855,0.001031,...,0.000718,0.000873,0.000792,0.000973,0.000958,164,6,2,2019,3
4,164,642,0.000921,0.000956,0.001007,0.001107,0.001314,0.000998,0.001095,0.001316,...,0.000917,0.001144,0.000948,0.001179,0.001093,15,6,3,2019,3

In [79]:
ntd_bp2.shape

(6, 1007)

In [76]:
ntd_bp2.dtypes

age_group_id      int64
cause_id          int64
draw_0          float64
draw_1          float64
draw_10         float64
                 ...
location_id       int64
measure_id        int64
sex_id            int64
year_id           int64
metric_id         int64
Length: 1007, dtype: object

In [77]:
%%time
ntd_bp3 = get_draws(
        gbd_id_type='cause_id',
        gbd_id=list_ids('cause', 'Neural tube defects'),
        source='como',
        location_id=[1, *test_location_ids],
        year_id=2019,
#         age_group_id=list_ids('age_group', 'Birth'),
        sex_id=list_ids('sex', 'Male', 'Female', 'Both'),
        measure_id=list_ids('measure', 'Incidence'),
        gbd_round_id=list_ids('gbd_round', '2019'),
        status='best',
        decomp_step='step5',
    )
ntd_bp3.head()

CPU times: user 4.05 s, sys: 196 ms, total: 4.25 s
Wall time: 7.04 s

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
0,2,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,6.0,1,2019,3.0
1,3,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,6.0,1,2019,3.0
2,4,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,6.0,1,2019,3.0
3,5,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,6.0,1,2019,3.0
4,6,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,6.0,1,2019,3.0

In [78]:
ntd_bp3.shape

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(124, 1007)

In [84]:
ids_to_names('metric', *ntd_bp3.metric_id.unique())

metric_id
3    Rate
Name: metric_name, dtype: object

In [80]:
test_location_ids

[15, 164]

In [81]:
ntd_bp3.query("location_id==15")

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
48,164,642.0,0.000983,0.000996,0.001069,0.001095,0.001351,0.001023,0.001030,0.001337,...,0.000967,0.001186,0.000934,0.001227,0.001122,15,6.0,1,2019,3.0
49,164,642.0,0.000856,0.000914,0.000941,0.001118,0.001274,0.000972,0.001163,0.001294,...,0.000864,0.001099,0.000964,0.001129,0.001064,15,6.0,2,2019,3.0
76,2,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
77,3,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
78,4,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
79,5,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
80,6,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
81,7,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
82,8,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
83,9,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
84,10,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
85,11,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
86,12,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
87,13,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
88,14,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
89,15,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
90,16,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
91,17,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
92,18,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
93,19,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
94,20,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
95,30,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
96,31,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
97,32,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0
98,164,642.0,0.000921,0.000956,0.001007,0.001107,0.001314,0.000998,0.001095,0.001316,...,0.000917,0.001144,0.000948,0.001179,0.001093,15,6.0,3,2019,3.0
99,235,642.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,15,6.0,3,2019,3.0

In [88]:
ntd_bp3.query("location_id==1").shape

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(72, 1007)

In [87]:
ntd_bp3.query("location_id==1").loc[ntd_bp3.query("location_id==1").draw_0>0]

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_group_id,cause_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,...,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure_id,sex_id,year_id,metric_id
22,164,642.0,0.000783,0.000864,0.000918,0.001074,0.001097,0.000928,0.000967,0.001169,...,0.000821,0.000964,0.000827,0.001034,0.001040,1,6.0,1,2019,3.0
46,164,642.0,0.000974,0.001054,0.001121,0.001335,0.001341,0.001154,0.001195,0.001433,...,0.000998,0.001176,0.001003,0.001265,0.001279,1,6.0,2,2019,3.0
74,164,642.0,0.000875,0.000955,0.001016,0.001200,0.001214,0.001037,0.001077,0.001296,...,0.000907,0.001066,0.000912,0.001146,0.001155,1,6.0,3,2019,3.0

In [83]:
ntd_bp3.query("location_id==1").age_group_id.unique()

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

array([  2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  30,  31,  32, 164, 235])

# Make NTD summary

In [105]:
!ls data

all_countries_with_ids.csv
bgmf_countries.csv
bgmf_countries_with_ids.csv
bmgf_top_25_countries_20201203.csv
countries_ranked_by_number_stunted_2019.csv
countries_with_over_20_percent_stunting_ranked_by_number_stunted_2019.csv
lsff_gbd_data_summary.hdf
neural_tube_defects_output_gbd2017.csv
percent_global_burden_mn_deficiency_for_top25.csv
stunting_prevalence_2019.hdf
top_25_countries_with_stunting_above_18_percent_in_2019.csv
top_25_countries_with_stunting_above_20_percent_in_2019.csv
vitamin_a_data_summary.csv
zinc_data_summary.csv

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [106]:
ntd_preprocessed = pgd.preprocess_neural_tube_defects_data(ntd_data)

In [108]:
ntd_summary = pgd.get_binary_outcome_data_summary(
    ntd_preprocessed, 'Neural tube defects', save_filepath='data/neural_tube_defects_data_summary.csv')
ntd_summary

measure                                      Prevalence of Neural tube defects in age group Birth  \
estimate                                                                                     mean
location_id location_name
168         Angola                                                                     0.001819
161         Bangladesh                                                                 0.000816
201         Burkina Faso                                                               0.002470
202         Cameroon                                                                   0.001834
6           China                                                                      0.000264
205         Côte d'Ivoire                                                              0.002211
171         Democratic Republic of the Congo                                           0.002620
141         Egypt                                                                      0.000858
179         Ethiopia                                                                   0.001121
207         Ghana                                                                      0.001403
163         India                                                                      0.000943
11          Indonesia                                                                  0.000382
180         Kenya                                                                      0.000952
181         Madagascar                                                                 0.001457
184         Mozambique                                                                 0.001723
15          Myanmar                                                                    0.001012
164         Nepal                                                                      0.000691
213         Niger                                                                      0.001794
214         Nigeria                                                                    0.002393
165         Pakistan                                                                   0.000899
196         South Africa                                                               0.000544
522         Sudan                                                                      0.002277
190         Uganda                                                                     0.002048
189         United Republic of Tanzania                                                0.001799
20          Viet Nam                                                                   0.000372
1           Global                                                                     0.001005

measure                                                           \
estimate                                         lower     upper
location_id location_name
168         Angola                            0.001417  0.002291
161         Bangladesh                        0.000643  0.001019
201         Burkina Faso                      0.001913  0.003151
202         Cameroon                          0.001431  0.002403
6           China                             0.000213  0.000325
205         Côte d'Ivoire                     0.001763  0.002842
171         Democratic Republic of the Congo  0.002022  0.003334
141         Egypt                             0.000688  0.001068
179         Ethiopia                          0.000868  0.001434
207         Ghana                             0.001123  0.001749
163         India                             0.000745  0.001197
11          Indonesia                         0.000303  0.000480
180         Kenya                             0.000755  0.001192
181         Madagascar                        0.001141  0.001856
184         Mozambique                        0.001339  0.002191
15          Myanmar                           0.000787  0.001295
164         Nepal                             0.000543  0.000873
213         Niger                             0.001368  0.002295
214         Nigeria                           0.001824  0.003077
165         Pakistan                          0.000695  0.001140
196         South Africa                      0.000433  0.000671
522         Sudan                             0.001714  0.002940
190         Uganda                            0.001590  0.002580
189         United Republic of Tanzania       0.001388  0.002283
20          Viet Nam                          0.000308  0.000455
1           Global                            0.000799  0.001255

measure                                      Number in age group Birth with Neural tube defects  \
estimate                                                                                   mean
location_id location_name
168         Angola                                                                  2008.837840
161         Bangladesh                                                              2168.869607
201         Burkina Faso                                                            2314.944352
202         Cameroon                                                                1657.382755
6           China                                                                   3935.991210
205         Côte d'Ivoire                                                           1972.886765
171         Democratic Republic of the Congo                                        7691.998606
141         Egypt                                                                   1807.829666
179         Ethiopia                                                                4119.571303
207         Ghana                                                                   1199.583175
163         India                                                                  22131.773920
11          Indonesia                                                               1465.591992
180         Kenya                                                                   1277.793441
181         Madagascar                                                              1255.937583
184         Mozambique                                                              1938.402927
15          Myanmar                                                                 1067.628503
164         Nepal                                                                    426.949116
213         Niger                                                                   2050.407602
214         Nigeria                                                                18157.789598
165         Pakistan                                                                6009.705421
196         South Africa                                                             563.219952
522         Sudan                                                                   2747.226278
190         Uganda                                                                  3264.056038
189         United Republic of Tanzania                                             3755.084258
20          Viet Nam                                                                 498.224030
1           Global                                                                136011.482595

measure                                                                     \
estimate                                              lower          upper
location_id location_name
168         Angola                              1565.242673    2530.783905
161         Bangladesh                          1710.021161    2711.324203
201         Burkina Faso                        1793.511012    2953.262267
202         Cameroon                            1293.570762    2171.890230
6           China                               3179.088935    4856.202983
205         Côte d'Ivoire                       1573.600477    2536.447174
171         Democratic Republic of the Congo    5936.665065    9787.886999
141         Egypt                               1449.544584    2251.222880
179         Ethiopia                            3189.292151    5267.976740
207         Ghana                                959.667975    1495.482469
163         India                              17467.449260   28077.604021
11          Indonesia                           1161.568107    1843.302739
180         Kenya                               1013.394657    1600.841420
181         Madagascar                           983.109538    1599.218037
184         Mozambique                          1506.323708    2464.148886
15          Myanmar                              829.718133    1366.451032
164         Nepal                                335.790487     539.343346
213         Niger                               1563.287963    2623.024495
214         Nigeria                            13841.819787   23347.561292
165         Pakistan                            4649.889374    7619.355400
196         South Africa                         448.009052     694.249606
522         Sudan                               2068.796711    3547.250432
190         Uganda                              2533.686511    4112.430120
189         United Republic of Tanzania         2897.575603    4765.826596
20          Viet Nam                             412.358941     610.556348
1           Global                            108114.431095  169879.655847

measure                                      DALYs attributable to Neural tube defects in age group Under 5  \
estimate                                                                                               mean
location_id location_name
168         Angola                                                                 1.016579e+05
161         Bangladesh                                                             1.050140e+05
201         Burkina Faso                                                           2.150129e+05
202         Cameroon                                                               1.008631e+05
6           China                                                                  2.258930e+05
205         Côte d'Ivoire                                                          1.068993e+05
171         Democratic Republic of the Congo                                       2.850751e+05
141         Egypt                                                                  3.016399e+04
179         Ethiopia                                                               2.577686e+05
207         Ghana                                                                  6.930451e+04
163         India                                                                  7.009361e+05
11          Indonesia                                                              1.259690e+05
180         Kenya                                                                  4.756212e+04
181         Madagascar                                                             5.578896e+04
184         Mozambique                                                             1.035457e+05
15          Myanmar                                                                7.113116e+04
164         Nepal                                                                  1.543010e+04
213         Niger                                                                  1.931665e+05
214         Nigeria                                                                1.481164e+06
165         Pakistan                                                               2.713976e+05
196         South Africa                                                           2.083561e+04
522         Sudan                                                                  1.417884e+05
190         Uganda                                                                 9.949162e+04
189         United Republic of Tanzania                                            1.919772e+05
20          Viet Nam                                                               1.917272e+04
1           Global                                                                 7.278885e+06

measure                                                                   \
estimate                                             lower         upper
location_id location_name
168         Angola                            4.994505e+04  1.807314e+05
161         Bangladesh                        4.023814e+04  2.258834e+05
201         Burkina Faso                      8.185903e+04  4.557443e+05
202         Cameroon                          4.654192e+04  1.975351e+05
6           China                             1.765340e+05  2.940172e+05
205         Côte d'Ivoire                     5.236050e+04  1.960844e+05
171         Democratic Republic of the Congo  1.423700e+05  5.127974e+05
141         Egypt                             9.029079e+03  8.055692e+04
179         Ethiopia                          1.475862e+05  4.056459e+05
207         Ghana                             3.265161e+04  1.374169e+05
163         India                             3.763534e+05  1.232310e+06
11          Indonesia                         8.207259e+04  1.747903e+05
180         Kenya                             3.030903e+04  7.294941e+04
181         Madagascar                        2.776949e+04  1.021959e+05
184         Mozambique                        5.084301e+04  1.887398e+05
15          Myanmar                           2.870677e+04  1.349486e+05
164         Nepal                             5.992941e+03  3.344476e+04
213         Niger                             6.408256e+04  4.240908e+05
214         Nigeria                           6.821281e+05  2.888345e+06
165         Pakistan                          1.406489e+05  4.877859e+05
196         South Africa                      1.469915e+04  2.802064e+04
522         Sudan                             5.423705e+04  2.819431e+05
190         Uganda                            4.427053e+04  1.870878e+05
189         United Republic of Tanzania       9.303902e+04  3.610836e+05
20          Viet Nam                          7.380118e+03  4.169405e+04
1           Global                            5.347516e+06  1.046905e+07

measure                                      DALYs attributable to Neural tube defects per 100,000 person-years in age group Under 5  \
estimate                                                                                                                        mean
location_id location_name
168         Angola                                                                  1975.032872
161         Bangladesh                                                               763.965221
201         Burkina Faso                                                            5315.578174
202         Cameroon                                                                2397.443904
6           China                                                                    277.200388
205         Côte d'Ivoire                                                           2664.489098
171         Democratic Republic of the Congo                                        2091.608653
141         Egypt                                                                    278.646188
179         Ethiopia                                                                1545.406167
207         Ghana                                                                   1745.426495
163         India                                                                    598.728532
11          Indonesia                                                                639.230519
180         Kenya                                                                    741.299972
181         Madagascar                                                              1416.257651
184         Mozambique                                                              2028.304590
15          Myanmar                                                                 1417.330872
164         Nepal                                                                    515.029071
213         Niger                                                                   3980.463291
214         Nigeria                                                                 4418.529914
165         Pakistan                                                                 889.056380
196         South Africa                                                             408.980166
522         Sudan                                                                   2572.009925
190         Uganda                                                                  1403.316334
189         United Republic of Tanzania                                             2062.656741
20          Viet Nam                                                                 276.365605
1           Global                                                                  1098.131636

measure
estimate                                            lower         upper
location_id location_name
168         Angola                             970.343777   3511.290973
161         Bangladesh                         292.728056   1643.277065
201         Burkina Faso                      2023.730289  11266.974346
202         Cameroon                          1106.268421   4695.269929
6           China                              216.630467    360.797778
205         Côte d'Ivoire                     1305.097612   4887.449444
171         Democratic Republic of the Congo  1044.575074   3762.417449
141         Egypt                               83.408010    744.161436
179         Ethiopia                           884.827154   2431.977688
207         Ghana                              822.327265   3460.829979
163         India                              321.475164   1052.620054
11          Indonesia                          416.477833    886.974410
180         Kenya                              472.394500   1136.984527
181         Madagascar                         704.955789   2594.342631
184         Mozambique                         995.938299   3697.129976
15          Myanmar                            571.999496   2688.930455
164         Nepal                              200.033569   1116.325681
213         Niger                             1320.510293   8738.979450
214         Nigeria                           2034.888810   8616.359370
165         Pakistan                           460.743880   1597.910603
196         South Africa                       288.528179    550.014551
522         Sudan                              983.848066   5114.385666
190         Uganda                             624.430004   2638.848988
189         United Republic of Tanzania        999.637410   3879.583878
20          Viet Nam                           106.380860    600.999691
1           Global                             806.754976   1579.417060

# Recalculate VAD data

In [109]:
vad_data = (vad_prevalence, vad_population, vad_dalys)
vad_preprocessed = pgd.preprocess_binary_risk_summary_input_data(vad_data, 'Vitamin A deficiency')

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [110]:
%%time
vad_summary = pgd.get_binary_outcome_data_summary(
    vad_preprocessed,  'Vitamin A deficiency', save_filepath='data/vitamin_a_data_summary.csv')
vad_summary

CPU times: user 378 ms, sys: 10 ms, total: 388 ms
Wall time: 397 ms

measure                                      Prevalence of Vitamin A deficiency in age group Under 5  \
estimate                                                                                        mean
location_id location_name
168         Angola                                                                     0.263851
161         Bangladesh                                                                 0.084110
201         Burkina Faso                                                               0.354247
202         Cameroon                                                                   0.279080
6           China                                                                      0.038543
205         Côte d'Ivoire                                                              0.261877
171         Democratic Republic of the Congo                                           0.514314
141         Egypt                                                                      0.029521
179         Ethiopia                                                                   0.356954
207         Ghana                                                                      0.266086
163         India                                                                      0.168170
11          Indonesia                                                                  0.166394
180         Kenya                                                                      0.468136
181         Madagascar                                                                 0.365863
184         Mozambique                                                                 0.413208
15          Myanmar                                                                    0.146447
164         Nepal                                                                      0.096260
213         Niger                                                                      0.646669
214         Nigeria                                                                    0.080588
165         Pakistan                                                                   0.068985
196         South Africa                                                               0.108419
522         Sudan                                                                      0.195104
190         Uganda                                                                     0.215768
189         United Republic of Tanzania                                                0.215579
20          Viet Nam                                                                   0.085598
1           Global                                                                     0.151638

measure                                                           \
estimate                                         lower     upper
location_id location_name
168         Angola                            0.183993  0.368989
161         Bangladesh                        0.052888  0.128375
201         Burkina Faso                      0.260300  0.456761
202         Cameroon                          0.189659  0.384803
6           China                             0.023616  0.061301
205         Côte d'Ivoire                     0.182838  0.367594
171         Democratic Republic of the Congo  0.405561  0.624600
141         Egypt                             0.018288  0.045664
179         Ethiopia                          0.258226  0.474010
207         Ghana                             0.178249  0.364197
163         India                             0.111292  0.252074
11          Indonesia                         0.107892  0.238207
180         Kenya                             0.351553  0.582276
181         Madagascar                        0.262471  0.477494
184         Mozambique                        0.305116  0.527623
15          Myanmar                           0.089944  0.219441
164         Nepal                             0.062650  0.139583
213         Niger                             0.547563  0.740328
214         Nigeria                           0.052202  0.121337
165         Pakistan                          0.045005  0.103364
196         South Africa                      0.069681  0.161876
522         Sudan                             0.130388  0.280126
190         Uganda                            0.158383  0.283330
189         United Republic of Tanzania       0.157427  0.285562
20          Viet Nam                          0.054649  0.129269
1           Global                            0.138687  0.167406

measure                                      Number in age group Under 5 with Vitamin A deficiency  \
estimate                                                                                      mean
location_id location_name
168         Angola                                                                 1.358081e+06
161         Bangladesh                                                             1.156171e+06
201         Burkina Faso                                                           1.432914e+06
202         Cameroon                                                               1.174118e+06
6           China                                                                  3.140901e+06
205         Côte d'Ivoire                                                          1.050650e+06
171         Democratic Republic of the Congo                                       7.009822e+06
141         Egypt                                                                  3.195702e+05
179         Ethiopia                                                               5.953873e+06
207         Ghana                                                                  1.056531e+06
163         India                                                                  1.968773e+07
11          Indonesia                                                              3.279013e+06
180         Kenya                                                                  3.003581e+06
181         Madagascar                                                             1.441202e+06
184         Mozambique                                                             2.109444e+06
15          Myanmar                                                                7.349711e+05
164         Nepal                                                                  2.883927e+05
213         Niger                                                                  3.138198e+06
214         Nigeria                                                                2.701451e+06
165         Pakistan                                                               2.105876e+06
196         South Africa                                                           5.523457e+05
522         Sudan                                                                  1.075557e+06
190         Uganda                                                                 1.529741e+06
189         United Republic of Tanzania                                            2.006454e+06
20          Viet Nam                                                               5.938349e+05
1           Global                                                                 1.005118e+08

measure                                                                   \
estimate                                             lower         upper
location_id location_name
168         Angola                            9.470397e+05  1.899242e+06
161         Bangladesh                        7.269890e+05  1.764634e+06
201         Burkina Faso                      1.052902e+06  1.847577e+06
202         Cameroon                          7.979174e+05  1.618906e+06
6           China                             1.924499e+06  4.995488e+06
205         Côte d'Ivoire                     7.335461e+05  1.474786e+06
171         Democratic Republic of the Congo  5.527579e+06  8.512968e+06
141         Egypt                             1.979741e+05  4.943192e+05
179         Ethiopia                          4.307131e+06  7.906338e+06
207         Ghana                             7.077609e+05  1.446093e+06
163         India                             1.302902e+07  2.951048e+07
11          Indonesia                         2.126157e+06  4.694183e+06
180         Kenya                             2.255580e+06  3.735906e+06
181         Madagascar                        1.033921e+06  1.880934e+06
184         Mozambique                        1.557626e+06  2.693535e+06
15          Myanmar                           4.513996e+05  1.101302e+06
164         Nepal                             1.876960e+05  4.181870e+05
213         Niger                             2.657248e+06  3.592709e+06
214         Nigeria                           1.749907e+06  4.067410e+06
165         Pakistan                          1.373832e+06  3.155339e+06
196         South Africa                      3.549930e+05  8.246810e+05
522         Sudan                             7.187943e+05  1.544266e+06
190         Uganda                            1.122899e+06  2.008739e+06
189         United Republic of Tanzania       1.465221e+06  2.657801e+06
20          Viet Nam                          3.791266e+05  8.967948e+05
1           Global                            9.192795e+07  1.109639e+08

measure                                      DALYs attributable to Vitamin A deficiency in age group Under 5  \
estimate                                                                                                mean
location_id location_name
168         Angola                                                                 3.576264e+04
161         Bangladesh                                                             8.177648e+03
201         Burkina Faso                                                           6.759113e+04
202         Cameroon                                                               6.355416e+04
6           China                                                                  1.248588e+04
205         Côte d'Ivoire                                                          1.977218e+04
171         Democratic Republic of the Congo                                       1.760634e+05
141         Egypt                                                                  3.864637e+03
179         Ethiopia                                                               1.519864e+05
207         Ghana                                                                  1.845886e+04
163         India                                                                  2.506889e+05
11          Indonesia                                                              2.915865e+04
180         Kenya                                                                  5.345798e+04
181         Madagascar                                                             6.653687e+04
184         Mozambique                                                             3.624363e+04
15          Myanmar                                                                9.508716e+03
164         Nepal                                                                  3.820797e+03
213         Niger                                                                  3.368922e+05
214         Nigeria                                                                2.312556e+05
165         Pakistan                                                               4.549425e+04
196         South Africa                                                           7.857843e+03
522         Sudan                                                                  1.975324e+04
190         Uganda                                                                 4.073752e+04
189         United Republic of Tanzania                                            3.779488e+04
20          Viet Nam                                                               2.115375e+03
1           Global                                                                 2.625183e+06

measure                                                                    \
estimate                                              lower         upper
location_id location_name
168         Angola                              8980.728880  6.873747e+04
161         Bangladesh                          4455.089507  1.330248e+04
201         Burkina Faso                       17158.637069  1.446597e+05
202         Cameroon                           11725.171399  1.373682e+05
6           China                               7520.831592  1.881070e+04
205         Côte d'Ivoire                       7176.201435  4.266451e+04
171         Democratic Republic of the Congo   50244.728394  3.900504e+05
141         Egypt                               1474.681955  7.442703e+03
179         Ethiopia                           44814.679308  2.909431e+05
207         Ghana                               6906.706492  3.672179e+04
163         India                             118914.536323  4.228026e+05
11          Indonesia                          12121.919927  5.178671e+04
180         Kenya                              16520.014323  9.709258e+04
181         Madagascar                         11445.043148  1.337951e+05
184         Mozambique                         13275.922111  6.688896e+04
15          Myanmar                             4064.647120  1.810290e+04
164         Nepal                               1548.539226  7.560408e+03
213         Niger                              47293.550033  7.291089e+05
214         Nigeria                            51561.333059  4.640439e+05
165         Pakistan                           17186.133803  8.637101e+04
196         South Africa                        1978.191958  1.624461e+04
522         Sudan                               6678.956147  4.452615e+04
190         Uganda                              8169.092580  1.004617e+05
189         United Republic of Tanzania        11805.776830  8.221076e+04
20          Viet Nam                            1057.044420  3.647186e+03
1           Global                            718219.533043  4.899416e+06

measure                                      DALYs attributable to Vitamin A deficiency per 100,000 person-years in age group Under 5  \
estimate                                                                                                                         mean
location_id location_name
168         Angola                                                                   694.804595
161         Bangladesh                                                                59.491491
201         Burkina Faso                                                            1670.997396
202         Cameroon                                                                1510.637247
6           China                                                                     15.321818
205         Côte d'Ivoire                                                            492.826100
171         Democratic Republic of the Congo                                        1291.784898
141         Egypt                                                                     35.700394
179         Ethiopia                                                                 911.207568
207         Ghana                                                                    464.884476
163         India                                                                    214.134486
11          Indonesia                                                                147.965740
180         Kenya                                                                    833.192382
181         Madagascar                                                              1689.104045
184         Mozambique                                                               709.958394
15          Myanmar                                                                  189.466849
164         Nepal                                                                    127.531302
213         Niger                                                                   6942.132113
214         Nigeria                                                                  689.869601
165         Pakistan                                                                 149.032060
196         South Africa                                                             154.240865
522         Sudan                                                                    358.319293
190         Uganda                                                                   574.597497
189         United Republic of Tanzania                                              406.078849
20          Viet Nam                                                                  30.492113
1           Global                                                                   396.049211

measure
estimate                                           lower         upper
location_id location_name
168         Angola                            174.479633   1335.447069
161         Bangladesh                         32.410287     96.774059
201         Burkina Faso                      424.198224   3576.297306
202         Cameroon                          278.699000   3265.145143
6           China                               9.229049     23.083202
205         Côte d'Ivoire                     178.868496   1063.422875
171         Democratic Republic of the Congo  368.647836   2861.817535
141         Egypt                              13.622684     68.753529
179         Ethiopia                          268.678455   1744.297819
207         Ghana                             173.944641    924.834342
163         India                             101.574924    361.151345
11          Indonesia                          61.512749    262.791960
180         Kenya                             257.479803   1513.278283
181         Madagascar                        290.543685   3396.519212
184         Mozambique                        260.055398   1310.254460
15          Myanmar                            80.990521    360.711054
164         Nepal                              51.687448    252.352792
213         Niger                             974.549334  15024.301455
214         Nigeria                           153.815077   1384.311629
165         Pakistan                           56.299095    282.937976
196         South Africa                       38.829746    318.863966
522         Sudan                             121.154776    807.694513
190         Uganda                            115.223989   1416.999439
189         United Republic of Tanzania       126.844585    883.295516
20          Viet Nam                           15.236789     52.572432
1           Global                            108.354449    739.152092

# Recalculate zinc deficiency data

In [111]:
zinc_data = (zinc_prevalence, zinc_population, zinc_burden)
zinc_preprocessed = pgd.preprocess_binary_risk_summary_input_data(zinc_data, 'Zinc deficiency')

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [112]:
%%time
zinc_summary = pgd.get_binary_outcome_data_summary(
    zinc_preprocessed, 'Zinc deficiency', save_filepath='data/zinc_data_summary.csv')
zinc_summary

CPU times: user 419 ms, sys: 877 µs, total: 420 ms
Wall time: 434 ms

measure                                      Prevalence of Zinc deficiency in age group 1 to 4  \
estimate                                                                                  mean
location_id location_name
168         Angola                                                                    0.141217
161         Bangladesh                                                                0.096903
201         Burkina Faso                                                              0.030959
202         Cameroon                                                                  0.047513
6           China                                                                     0.011407
205         Côte d'Ivoire                                                             0.059209
171         Democratic Republic of the Congo                                          0.325234
141         Egypt                                                                     0.028587
179         Ethiopia                                                                  0.028854
207         Ghana                                                                     0.042126
163         India                                                                     0.114851
11          Indonesia                                                                 0.079103
180         Kenya                                                                     0.051549
181         Madagascar                                                                0.069270
184         Mozambique                                                                0.139459
15          Myanmar                                                                   0.060132
164         Nepal                                                                     0.038835
213         Niger                                                                     0.042498
214         Nigeria                                                                   0.045405
165         Pakistan                                                                  0.267418
196         South Africa                                                              0.034747
522         Sudan                                                                     0.337664
190         Uganda                                                                    0.090285
189         United Republic of Tanzania                                               0.068614
20          Viet Nam                                                                  0.048809
1           Global                                                                    0.087841

measure                                                           \
estimate                                         lower     upper
location_id location_name
168         Angola                            0.025294  0.287093
161         Bangladesh                        0.010825  0.231075
201         Burkina Faso                      0.000000  0.098123
202         Cameroon                          0.000000  0.137640
6           China                             0.000000  0.033833
205         Côte d'Ivoire                     0.002605  0.160208
171         Democratic Republic of the Congo  0.180352  0.438343
141         Egypt                             0.000000  0.092144
179         Ethiopia                          0.000000  0.090044
207         Ghana                             0.000000  0.125638
163         India                             0.020721  0.240093
11          Indonesia                         0.008081  0.188562
180         Kenya                             0.001115  0.149923
181         Madagascar                        0.004496  0.183884
184         Mozambique                        0.023622  0.288831
15          Myanmar                           0.001875  0.168489
164         Nepal                             0.000000  0.120274
213         Niger                             0.000000  0.126781
214         Nigeria                           0.000613  0.133841
165         Pakistan                          0.156941  0.379092
196         South Africa                      0.000189  0.104724
522         Sudan                             0.188733  0.440169
190         Uganda                            0.009099  0.217391
189         United Republic of Tanzania       0.003932  0.183759
20          Viet Nam                          0.000355  0.141882
1           Global                            0.028854  0.176006

measure                                      Number in age group 1 to 4 with Zinc deficiency  \
estimate                                                                                mean
location_id location_name
168         Angola                                                              5.770476e+05
161         Bangladesh                                                          1.076757e+06
201         Burkina Faso                                                        9.782485e+04
202         Cameroon                                                            1.588382e+05
6           China                                                               7.577129e+05
205         Côte d'Ivoire                                                       1.874518e+05
171         Democratic Republic of the Congo                                    3.519411e+06
141         Egypt                                                               2.495456e+05
179         Ethiopia                                                            3.802899e+05
207         Ghana                                                               1.326753e+05
163         India                                                               1.081599e+07
11          Indonesia                                                           1.259078e+06
180         Kenya                                                               2.638312e+05
181         Madagascar                                                          2.159860e+05
184         Mozambique                                                          5.630282e+05
15          Myanmar                                                             2.407016e+05
164         Nepal                                                               9.303764e+04
213         Niger                                                               1.602185e+05
214         Nigeria                                                             1.198739e+06
165         Pakistan                                                            6.469308e+06
196         South Africa                                                        1.419465e+05
522         Sudan                                                               1.476633e+06
190         Uganda                                                              5.039197e+05
189         United Republic of Tanzania                                         5.028911e+05
20          Viet Nam                                                            2.734966e+05
1           Global                                                              4.663120e+07

measure                                                                   \
estimate                                             lower         upper
location_id location_name
168         Angola                            1.033564e+05  1.173133e+06
161         Bangladesh                        1.202808e+05  2.567633e+06
201         Burkina Faso                      0.000000e+00  3.100520e+05
202         Cameroon                          0.000000e+00  4.601380e+05
6           China                             0.000000e+00  2.247276e+06
205         Côte d'Ivoire                     8.245986e+03  5.072115e+05
171         Democratic Republic of the Congo  1.951616e+06  4.743373e+06
141         Egypt                             0.000000e+00  8.043507e+05
179         Ethiopia                          0.000000e+00  1.186746e+06
207         Ghana                             0.000000e+00  3.956912e+05
163         India                             1.951373e+06  2.261056e+07
11          Indonesia                         1.286216e+05  3.001328e+06
180         Kenya                             5.708454e+03  7.673150e+05
181         Madagascar                        1.401752e+04  5.733571e+05
184         Mozambique                        9.536587e+04  1.166079e+06
15          Myanmar                           7.507284e+03  6.744482e+05
164         Nepal                             0.000000e+00  2.881430e+05
213         Niger                             0.000000e+00  4.779655e+05
214         Nigeria                           1.617672e+04  3.533537e+06
165         Pakistan                          3.796668e+06  9.170916e+06
196         South Africa                      7.723540e+02  4.278136e+05
522         Sudan                             8.253458e+05  1.924893e+06
190         Uganda                            5.078473e+04  1.213345e+06
189         United Republic of Tanzania       2.882205e+04  1.346823e+06
20          Viet Nam                          1.988743e+03  7.950193e+05
1           Global                            1.531760e+07  9.343388e+07

measure                                      DALYs attributable to Zinc deficiency in age group 1 to 4  \
estimate                                                                                          mean
location_id location_name
168         Angola                                                                  5150.114104
161         Bangladesh                                                               957.394251
201         Burkina Faso                                                            1693.518523
202         Cameroon                                                                3795.571168
6           China                                                                    221.834640
205         Côte d'Ivoire                                                           1627.155879
171         Democratic Republic of the Congo                                       28539.815244
141         Egypt                                                                    719.287717
179         Ethiopia                                                                4194.901787
207         Ghana                                                                    674.080086
163         India                                                                  31741.385904
11          Indonesia                                                               2825.142448
180         Kenya                                                                   1708.764677
181         Madagascar                                                              3974.917946
184         Mozambique                                                              2552.568020
15          Myanmar                                                                  345.172096
164         Nepal                                                                    126.290884
213         Niger                                                                   6970.558379
214         Nigeria                                                                38748.277862
165         Pakistan                                                               41008.892461
196         South Africa                                                             357.746361
522         Sudan                                                                   7362.702051
190         Uganda                                                                  2313.981531
189         United Republic of Tanzania                                             1453.807908
20          Viet Nam                                                                 112.913147
1           Global                                                                258812.803459

measure                                                                    \
estimate                                             lower          upper
location_id location_name
168         Angola                              767.607541   13767.079061
161         Bangladesh                           90.193038    2849.796608
201         Burkina Faso                          0.000000    6199.902944
202         Cameroon                              0.000000   13324.296023
6           China                                 0.000000     743.348676
205         Côte d'Ivoire                        38.962458    6068.165571
171         Democratic Republic of the Congo   4984.407705   79052.150750
141         Egypt                                 0.000000    2487.810635
179         Ethiopia                              0.000000   15205.492988
207         Ghana                                 0.000000    2563.704469
163         India                              6409.329819   72354.221385
11          Indonesia                           292.283129    7659.904100
180         Kenya                                46.026307    5583.713135
181         Madagascar                          162.855415   11982.601609
184         Mozambique                          294.029274    7249.659193
15          Myanmar                              10.081763    1111.534989
164         Nepal                                 0.000000     443.164236
213         Niger                                 0.000000   24872.150524
214         Nigeria                             690.070141  123680.274003
165         Pakistan                          14735.533038   83036.668875
196         South Africa                          1.354661    1219.215998
522         Sudan                              2278.214988   17063.579974
190         Uganda                              179.247401    7362.503974
189         United Republic of Tanzania          78.520110    4598.308705
20          Viet Nam                              0.505919     350.644640
1           Global                            66896.529478  597019.176688

measure                                      DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4  \
estimate                                                                                                                   mean
location_id location_name
168         Angola                                                                   126.035134
161         Bangladesh                                                                 8.616112
201         Burkina Faso                                                              53.595416
202         Cameroon                                                                 113.536157
6           China                                                                      0.333973
205         Côte d'Ivoire                                                             51.395497
171         Democratic Republic of the Congo                                         263.741090
141         Egypt                                                                      8.239989
179         Ethiopia                                                                  31.828721
207         Ghana                                                                     21.403039
163         India                                                                     33.704943
11          Indonesia                                                                 17.749280
180         Kenya                                                                     33.386863
181         Madagascar                                                               127.481685
184         Mozambique                                                                63.225611
15          Myanmar                                                                    8.623006
164         Nepal                                                                      5.271523
213         Niger                                                                    184.894907
214         Nigeria                                                                  146.767823
165         Pakistan                                                                 169.515895
196         South Africa                                                               8.757253
522         Sudan                                                                    168.364205
190         Uganda                                                                    41.458762
189         United Republic of Tanzania                                               19.835545
20          Viet Nam                                                                   2.015084
1           Global                                                                    48.753750

measure
estimate                                          lower       upper
location_id location_name
168         Angola                            18.785121  336.912079
161         Bangladesh                         0.811696   25.646870
201         Burkina Faso                       0.000000  196.210653
202         Cameroon                           0.000000  398.566988
6           China                              0.000000    1.119116
205         Côte d'Ivoire                      1.230672  191.669642
171         Democratic Republic of the Congo  46.061725  730.533824
141         Egypt                              0.000000   28.499767
179         Ethiopia                           0.000000  115.371330
207         Ghana                              0.000000   81.401405
163         India                              6.805818   76.830134
11          Indonesia                          1.836302   48.124223
180         Kenya                              0.899289  109.097917
181         Madagascar                         5.223022  384.300321
184         Mozambique                         7.282932  179.569801
15          Myanmar                            0.251860   27.768100
164         Nepal                              0.000000   18.498171
213         Niger                              0.000000  659.736813
214         Nigeria                            2.613796  468.466874
165         Pakistan                          60.911352  343.243487
196         South Africa                       0.033161   29.845121
522         Sudan                             52.096344  390.195890
190         Uganda                             3.211510  131.911296
189         United Republic of Tanzania        1.071317   62.738660
20          Viet Nam                           0.009029    6.257716
1           Global                            12.601605  112.463230

# Try formatting "mean (lower, upper)"

In [117]:
zprev = zinc_summary.filter(regex=r'Prevalence')
zdalys = zinc_summary.filter(regex=r'DALYs')
zdalys

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

measure                                      DALYs attributable to Zinc deficiency in age group 1 to 4  \
estimate                                                                                          mean
location_id location_name
168         Angola                                                                  5150.114104
161         Bangladesh                                                               957.394251
201         Burkina Faso                                                            1693.518523
202         Cameroon                                                                3795.571168
6           China                                                                    221.834640
205         Côte d'Ivoire                                                           1627.155879
171         Democratic Republic of the Congo                                       28539.815244
141         Egypt                                                                    719.287717
179         Ethiopia                                                                4194.901787
207         Ghana                                                                    674.080086
163         India                                                                  31741.385904
11          Indonesia                                                               2825.142448
180         Kenya                                                                   1708.764677
181         Madagascar                                                              3974.917946
184         Mozambique                                                              2552.568020
15          Myanmar                                                                  345.172096
164         Nepal                                                                    126.290884
213         Niger                                                                   6970.558379
214         Nigeria                                                                38748.277862
165         Pakistan                                                               41008.892461
196         South Africa                                                             357.746361
522         Sudan                                                                   7362.702051
190         Uganda                                                                  2313.981531
189         United Republic of Tanzania                                             1453.807908
20          Viet Nam                                                                 112.913147
1           Global                                                                258812.803459

measure                                                                    \
estimate                                             lower          upper
location_id location_name
168         Angola                              767.607541   13767.079061
161         Bangladesh                           90.193038    2849.796608
201         Burkina Faso                          0.000000    6199.902944
202         Cameroon                              0.000000   13324.296023
6           China                                 0.000000     743.348676
205         Côte d'Ivoire                        38.962458    6068.165571
171         Democratic Republic of the Congo   4984.407705   79052.150750
141         Egypt                                 0.000000    2487.810635
179         Ethiopia                              0.000000   15205.492988
207         Ghana                                 0.000000    2563.704469
163         India                              6409.329819   72354.221385
11          Indonesia                           292.283129    7659.904100
180         Kenya                                46.026307    5583.713135
181         Madagascar                          162.855415   11982.601609
184         Mozambique                          294.029274    7249.659193
15          Myanmar                              10.081763    1111.534989
164         Nepal                                 0.000000     443.164236
213         Niger                                 0.000000   24872.150524
214         Nigeria                             690.070141  123680.274003
165         Pakistan                          14735.533038   83036.668875
196         South Africa                          1.354661    1219.215998
522         Sudan                              2278.214988   17063.579974
190         Uganda                              179.247401    7362.503974
189         United Republic of Tanzania          78.520110    4598.308705
20          Viet Nam                              0.505919     350.644640
1           Global                            66896.529478  597019.176688

measure                                      DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4  \
estimate                                                                                                                   mean
location_id location_name
168         Angola                                                                   126.035134
161         Bangladesh                                                                 8.616112
201         Burkina Faso                                                              53.595416
202         Cameroon                                                                 113.536157
6           China                                                                      0.333973
205         Côte d'Ivoire                                                             51.395497
171         Democratic Republic of the Congo                                         263.741090
141         Egypt                                                                      8.239989
179         Ethiopia                                                                  31.828721
207         Ghana                                                                     21.403039
163         India                                                                     33.704943
11          Indonesia                                                                 17.749280
180         Kenya                                                                     33.386863
181         Madagascar                                                               127.481685
184         Mozambique                                                                63.225611
15          Myanmar                                                                    8.623006
164         Nepal                                                                      5.271523
213         Niger                                                                    184.894907
214         Nigeria                                                                  146.767823
165         Pakistan                                                                 169.515895
196         South Africa                                                               8.757253
522         Sudan                                                                    168.364205
190         Uganda                                                                    41.458762
189         United Republic of Tanzania                                               19.835545
20          Viet Nam                                                                   2.015084
1           Global                                                                    48.753750

measure
estimate                                          lower       upper
location_id location_name
168         Angola                            18.785121  336.912079
161         Bangladesh                         0.811696   25.646870
201         Burkina Faso                       0.000000  196.210653
202         Cameroon                           0.000000  398.566988
6           China                              0.000000    1.119116
205         Côte d'Ivoire                      1.230672  191.669642
171         Democratic Republic of the Congo  46.061725  730.533824
141         Egypt                              0.000000   28.499767
179         Ethiopia                           0.000000  115.371330
207         Ghana                              0.000000   81.401405
163         India                              6.805818   76.830134
11          Indonesia                          1.836302   48.124223
180         Kenya                              0.899289  109.097917
181         Madagascar                         5.223022  384.300321
184         Mozambique                         7.282932  179.569801
15          Myanmar                            0.251860   27.768100
164         Nepal                              0.000000   18.498171
213         Niger                              0.000000  659.736813
214         Nigeria                            2.613796  468.466874
165         Pakistan                          60.911352  343.243487
196         South Africa                       0.033161   29.845121
522         Sudan                             52.096344  390.195890
190         Uganda                             3.211510  131.911296
189         United Republic of Tanzania        1.071317   62.738660
20          Viet Nam                           0.009029    6.257716
1           Global                            12.601605  112.463230

In [115]:
idx=pd.IndexSlice

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [119]:
zdalys.columns.get_level_values('measure')

Index(['DALYs attributable to Zinc deficiency in age group 1 to 4',
       'DALYs attributable to Zinc deficiency in age group 1 to 4',
       'DALYs attributable to Zinc deficiency in age group 1 to 4',
       'DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4',
       'DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4',
       'DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4'],
      dtype='object', name='measure')

In [126]:
def print_mean_lower_upper(row):
    return f"{row['mean']} ({row['lower']}, {row['upper']})"

cols = []
for measure in zdalys.columns.get_level_values('measure').unique():
    df = zdalys[measure]
    cols.append(df.apply(print_mean_lower_upper, axis=1).rename(measure))
pd.concat(cols, axis=1)

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,,DALYs attributable to Zinc deficiency in age group 1 to 4,"DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4"
location_id,location_name,,
168,Angola,"5150.114103536395 (767.607541280017, 13767.079...","126.0351337853214 (18.78512149729208, 336.9120..."
161,Bangladesh,"957.3942506410937 (90.19303790344559, 2849.796...","8.61611165191563 (0.8116962100839561, 25.64686..."
201,Burkina Faso,"1693.5185227413351 (0.0, 6199.902943540811)","53.59541573703625 (0.0, 196.2106533387456)"
202,Cameroon,"3795.571168301141 (0.0, 13324.296023147486)","113.53615731728148 (0.0, 398.5669882994741)"
6,China,"221.83464000681988 (0.0, 743.3486755289681)","0.33397330291078003 (0.0, 1.119115627627547)"
205,Côte d'Ivoire,"1627.1558787983124 (38.96245804334615, 6068.16...","51.3954969111335 (1.2306718232157603, 191.6696..."
171,Democratic Republic of the Congo,"28539.815243649093 (4984.407704894977, 79052.1...","263.7410896025733 (46.06172492321925, 730.5338..."
141,Egypt,"719.2877171528244 (0.0, 2487.8106354141146)","8.239989082689842 (0.0, 28.49976718183901)"
179,Ethiopia,"4194.901786515336 (0.0, 15205.492988162932)","31.828721316879506 (0.0, 115.37133011355508)"
207,Ghana,"674.0800858239611 (0.0, 2563.7044689023883)","21.403038676710597 (0.0, 81.40140475519631)"
163,India,"31741.38590433445 (6409.329819338123, 72354.22...","33.70494331856788 (6.805818086263814, 76.83013..."
11,Indonesia,"2825.142447516041 (292.28312894519956, 7659.90...","17.749280275364274 (1.8363021588416109, 48.124..."
180,Kenya,"1708.764677012932 (46.0263065979218, 5583.7131...","33.38686312836126 (0.8992894219788312, 109.097..."
181,Madagascar,"3974.917945942407 (162.85541515427735, 11982.6...","127.481684756481 (5.223021702064647, 384.30032..."
184,Mozambique,"2552.568020282916 (294.0292735378067, 7249.659...","63.225610771461426 (7.282932425854208, 179.569..."
15,Myanmar,"345.1720959817134 (10.081762611143727, 1111.53...","8.623006390723708 (0.2518601718901908, 27.7681..."
164,Nepal,"126.29088373692522 (0.0, 443.164235562262)","5.271522795400477 (0.0, 18.49817105357418)"
213,Niger,"6970.558379407489 (0.0, 24872.15052366691)","184.8949074248713 (0.0, 659.7368127805206)"
214,Nigeria,"38748.277862495845 (690.0701407450072, 123680....","146.7678234537153 (2.6137959717061885, 468.466..."
165,Pakistan,"41008.892460982046 (14735.533038374699, 83036....","169.5158949789595 (60.91135168716764, 343.2434..."
196,South Africa,"357.74636059501705 (1.3546611623353746, 1219.2...","8.757253360942101 (0.03316067561684769, 29.845..."
522,Sudan,"7362.702050588735 (2278.214988202936, 17063.57...","168.36420536460483 (52.0963436389293, 390.1958..."
190,Uganda,"2313.9815308854627 (179.24740095719554, 7362.5...","41.45876224880663 (3.211510239304807, 131.9112..."
189,United Republic of Tanzania,"1453.807907588926 (78.5201101971324, 4598.3087...","19.835545197968354 (1.0713170472072193, 62.738..."
20,Viet Nam,"112.91314739071346 (0.5059187849776564, 350.64...","2.0150840357119106 (0.009028787971409324, 6.25..."
1,Global,"258812.80345927645 (66896.5294782598, 597019.1...","48.75375026611137 (12.60160489844475, 112.4632..."

# Generate formatted summaries

In [144]:
pgd.format_data_summary(zinc_summary, save_filename='data/zinc_data_formatted.csv')

,,Prevalence of Zinc deficiency in age group 1 to 4 (per 100),Number in age group 1 to 4 with Zinc deficiency (1000s),DALYs attributable to Zinc deficiency in age group 1 to 4,"DALYs attributable to Zinc deficiency per 100,000 person-years in age group 1 to 4"
location_id,location_name,,,,
168,Angola,"14.1\n(2.5, 28.7)","577\n(103, 1,173)","5,150\n(768, 13,767)","126\n(19, 337)"
161,Bangladesh,"9.7\n(1.1, 23.1)","1,077\n(120, 2,568)","957\n(90, 2,850)","9\n(1, 26)"
201,Burkina Faso,"3.1\n(0.0, 9.8)","98\n(0, 310)","1,694\n(0, 6,200)","54\n(0, 196)"
202,Cameroon,"4.8\n(0.0, 13.8)","159\n(0, 460)","3,796\n(0, 13,324)","114\n(0, 399)"
6,China,"1.1\n(0.0, 3.4)","758\n(0, 2,247)","222\n(0, 743)","0\n(0, 1)"
205,Côte d'Ivoire,"5.9\n(0.3, 16.0)","187\n(8, 507)","1,627\n(39, 6,068)","51\n(1, 192)"
171,Democratic Republic of the Congo,"32.5\n(18.0, 43.8)","3,519\n(1,952, 4,743)","28,540\n(4,984, 79,052)","264\n(46, 731)"
141,Egypt,"2.9\n(0.0, 9.2)","250\n(0, 804)","719\n(0, 2,488)","8\n(0, 28)"
179,Ethiopia,"2.9\n(0.0, 9.0)","380\n(0, 1,187)","4,195\n(0, 15,205)","32\n(0, 115)"
207,Ghana,"4.2\n(0.0, 12.6)","133\n(0, 396)","674\n(0, 2,564)","21\n(0, 81)"
163,India,"11.5\n(2.1, 24.0)","10,816\n(1,951, 22,611)","31,741\n(6,409, 72,354)","34\n(7, 77)"
11,Indonesia,"7.9\n(0.8, 18.9)","1,259\n(129, 3,001)","2,825\n(292, 7,660)","18\n(2, 48)"
180,Kenya,"5.2\n(0.1, 15.0)","264\n(6, 767)","1,709\n(46, 5,584)","33\n(1, 109)"
181,Madagascar,"6.9\n(0.4, 18.4)","216\n(14, 573)","3,975\n(163, 11,983)","127\n(5, 384)"
184,Mozambique,"13.9\n(2.4, 28.9)","563\n(95, 1,166)","2,553\n(294, 7,250)","63\n(7, 180)"
15,Myanmar,"6.0\n(0.2, 16.8)","241\n(8, 674)","345\n(10, 1,112)","9\n(0, 28)"
164,Nepal,"3.9\n(0.0, 12.0)","93\n(0, 288)","126\n(0, 443)","5\n(0, 18)"
213,Niger,"4.2\n(0.0, 12.7)","160\n(0, 478)","6,971\n(0, 24,872)","185\n(0, 660)"
214,Nigeria,"4.5\n(0.1, 13.4)","1,199\n(16, 3,534)","38,748\n(690, 123,680)","147\n(3, 468)"
165,Pakistan,"26.7\n(15.7, 37.9)","6,469\n(3,797, 9,171)","41,009\n(14,736, 83,037)","170\n(61, 343)"
196,South Africa,"3.5\n(0.0, 10.5)","142\n(1, 428)","358\n(1, 1,219)","9\n(0, 30)"
522,Sudan,"33.8\n(18.9, 44.0)","1,477\n(825, 1,925)","7,363\n(2,278, 17,064)","168\n(52, 390)"
190,Uganda,"9.0\n(0.9, 21.7)","504\n(51, 1,213)","2,314\n(179, 7,363)","41\n(3, 132)"
189,United Republic of Tanzania,"6.9\n(0.4, 18.4)","503\n(29, 1,347)","1,454\n(79, 4,598)","20\n(1, 63)"
20,Viet Nam,"4.9\n(0.0, 14.2)","273\n(2, 795)","113\n(1, 351)","2\n(0, 6)"
1,Global,"8.8\n(2.9, 17.6)","46,631\n(15,318, 93,434)","258,813\n(66,897, 597,019)","49\n(13, 112)"

In [147]:
pgd.format_data_summary(vad_summary,
                        daly_count_units=1000,
                        daly_count_decimals=1,
                        save_filename='data/vitamin_a_data_formatted.csv')

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,,Prevalence of Vitamin A deficiency in age group Under 5 (per 100),Number in age group Under 5 with Vitamin A deficiency (1000s),DALYs attributable to Vitamin A deficiency in age group Under 5 (1000s),"DALYs attributable to Vitamin A deficiency per 100,000 person-years in age group Under 5"
location_id,location_name,,,,
168,Angola,"26.4\n(18.4, 36.9)","1,358\n(947, 1,899)","35.8\n(9.0, 68.7)","695\n(174, 1,335)"
161,Bangladesh,"8.4\n(5.3, 12.8)","1,156\n(727, 1,765)","8.2\n(4.5, 13.3)","59\n(32, 97)"
201,Burkina Faso,"35.4\n(26.0, 45.7)","1,433\n(1,053, 1,848)","67.6\n(17.2, 144.7)","1,671\n(424, 3,576)"
202,Cameroon,"27.9\n(19.0, 38.5)","1,174\n(798, 1,619)","63.6\n(11.7, 137.4)","1,511\n(279, 3,265)"
6,China,"3.9\n(2.4, 6.1)","3,141\n(1,924, 4,995)","12.5\n(7.5, 18.8)","15\n(9, 23)"
205,Côte d'Ivoire,"26.2\n(18.3, 36.8)","1,051\n(734, 1,475)","19.8\n(7.2, 42.7)","493\n(179, 1,063)"
171,Democratic Republic of the Congo,"51.4\n(40.6, 62.5)","7,010\n(5,528, 8,513)","176.1\n(50.2, 390.1)","1,292\n(369, 2,862)"
141,Egypt,"3.0\n(1.8, 4.6)","320\n(198, 494)","3.9\n(1.5, 7.4)","36\n(14, 69)"
179,Ethiopia,"35.7\n(25.8, 47.4)","5,954\n(4,307, 7,906)","152.0\n(44.8, 290.9)","911\n(269, 1,744)"
207,Ghana,"26.6\n(17.8, 36.4)","1,057\n(708, 1,446)","18.5\n(6.9, 36.7)","465\n(174, 925)"
163,India,"16.8\n(11.1, 25.2)","19,688\n(13,029, 29,510)","250.7\n(118.9, 422.8)","214\n(102, 361)"
11,Indonesia,"16.6\n(10.8, 23.8)","3,279\n(2,126, 4,694)","29.2\n(12.1, 51.8)","148\n(62, 263)"
180,Kenya,"46.8\n(35.2, 58.2)","3,004\n(2,256, 3,736)","53.5\n(16.5, 97.1)","833\n(257, 1,513)"
181,Madagascar,"36.6\n(26.2, 47.7)","1,441\n(1,034, 1,881)","66.5\n(11.4, 133.8)","1,689\n(291, 3,397)"
184,Mozambique,"41.3\n(30.5, 52.8)","2,109\n(1,558, 2,694)","36.2\n(13.3, 66.9)","710\n(260, 1,310)"
15,Myanmar,"14.6\n(9.0, 21.9)","735\n(451, 1,101)","9.5\n(4.1, 18.1)","189\n(81, 361)"
164,Nepal,"9.6\n(6.3, 14.0)","288\n(188, 418)","3.8\n(1.5, 7.6)","128\n(52, 252)"
213,Niger,"64.7\n(54.8, 74.0)","3,138\n(2,657, 3,593)","336.9\n(47.3, 729.1)","6,942\n(975, 15,024)"
214,Nigeria,"8.1\n(5.2, 12.1)","2,701\n(1,750, 4,067)","231.3\n(51.6, 464.0)","690\n(154, 1,384)"
165,Pakistan,"6.9\n(4.5, 10.3)","2,106\n(1,374, 3,155)","45.5\n(17.2, 86.4)","149\n(56, 283)"
196,South Africa,"10.8\n(7.0, 16.2)","552\n(355, 825)","7.9\n(2.0, 16.2)","154\n(39, 319)"
522,Sudan,"19.5\n(13.0, 28.0)","1,076\n(719, 1,544)","19.8\n(6.7, 44.5)","358\n(121, 808)"
190,Uganda,"21.6\n(15.8, 28.3)","1,530\n(1,123, 2,009)","40.7\n(8.2, 100.5)","575\n(115, 1,417)"
189,United Republic of Tanzania,"21.6\n(15.7, 28.6)","2,006\n(1,465, 2,658)","37.8\n(11.8, 82.2)","406\n(127, 883)"
20,Viet Nam,"8.6\n(5.5, 12.9)","594\n(379, 897)","2.1\n(1.1, 3.6)","30\n(15, 53)"
1,Global,"15.2\n(13.9, 16.7)","100,512\n(91,928, 110,964)","2,625.2\n(718.2, 4,899.4)","396\n(108, 739)"

In [149]:
pgd.format_data_summary(ntd_summary,
                        prevalence_multiplier=1000,
                        prevalence_decimals=2,
                        prevalent_cases_units=1,
                        daly_count_units=1000,
                        daly_count_decimals=1,
                        save_filename='data/neural_tube_defects_data_formatted.csv')

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,,Prevalence of Neural tube defects in age group Birth (per 1000),Number in age group Birth with Neural tube defects,DALYs attributable to Neural tube defects in age group Under 5 (1000s),"DALYs attributable to Neural tube defects per 100,000 person-years in age group Under 5"
location_id,location_name,,,,
168,Angola,"1.82\n(1.42, 2.29)","2,009\n(1,565, 2,531)","101.7\n(49.9, 180.7)","1,975\n(970, 3,511)"
161,Bangladesh,"0.82\n(0.64, 1.02)","2,169\n(1,710, 2,711)","105.0\n(40.2, 225.9)","764\n(293, 1,643)"
201,Burkina Faso,"2.47\n(1.91, 3.15)","2,315\n(1,794, 2,953)","215.0\n(81.9, 455.7)","5,316\n(2,024, 11,267)"
202,Cameroon,"1.83\n(1.43, 2.40)","1,657\n(1,294, 2,172)","100.9\n(46.5, 197.5)","2,397\n(1,106, 4,695)"
6,China,"0.26\n(0.21, 0.33)","3,936\n(3,179, 4,856)","225.9\n(176.5, 294.0)","277\n(217, 361)"
205,Côte d'Ivoire,"2.21\n(1.76, 2.84)","1,973\n(1,574, 2,536)","106.9\n(52.4, 196.1)","2,664\n(1,305, 4,887)"
171,Democratic Republic of the Congo,"2.62\n(2.02, 3.33)","7,692\n(5,937, 9,788)","285.1\n(142.4, 512.8)","2,092\n(1,045, 3,762)"
141,Egypt,"0.86\n(0.69, 1.07)","1,808\n(1,450, 2,251)","30.2\n(9.0, 80.6)","279\n(83, 744)"
179,Ethiopia,"1.12\n(0.87, 1.43)","4,120\n(3,189, 5,268)","257.8\n(147.6, 405.6)","1,545\n(885, 2,432)"
207,Ghana,"1.40\n(1.12, 1.75)","1,200\n(960, 1,495)","69.3\n(32.7, 137.4)","1,745\n(822, 3,461)"
163,India,"0.94\n(0.74, 1.20)","22,132\n(17,467, 28,078)","700.9\n(376.4, 1,232.3)","599\n(321, 1,053)"
11,Indonesia,"0.38\n(0.30, 0.48)","1,466\n(1,162, 1,843)","126.0\n(82.1, 174.8)","639\n(416, 887)"
180,Kenya,"0.95\n(0.75, 1.19)","1,278\n(1,013, 1,601)","47.6\n(30.3, 72.9)","741\n(472, 1,137)"
181,Madagascar,"1.46\n(1.14, 1.86)","1,256\n(983, 1,599)","55.8\n(27.8, 102.2)","1,416\n(705, 2,594)"
184,Mozambique,"1.72\n(1.34, 2.19)","1,938\n(1,506, 2,464)","103.5\n(50.8, 188.7)","2,028\n(996, 3,697)"
15,Myanmar,"1.01\n(0.79, 1.30)","1,068\n(830, 1,366)","71.1\n(28.7, 134.9)","1,417\n(572, 2,689)"
164,Nepal,"0.69\n(0.54, 0.87)","427\n(336, 539)","15.4\n(6.0, 33.4)","515\n(200, 1,116)"
213,Niger,"1.79\n(1.37, 2.30)","2,050\n(1,563, 2,623)","193.2\n(64.1, 424.1)","3,980\n(1,321, 8,739)"
214,Nigeria,"2.39\n(1.82, 3.08)","18,158\n(13,842, 23,348)","1,481.2\n(682.1, 2,888.3)","4,419\n(2,035, 8,616)"
165,Pakistan,"0.90\n(0.70, 1.14)","6,010\n(4,650, 7,619)","271.4\n(140.6, 487.8)","889\n(461, 1,598)"
196,South Africa,"0.54\n(0.43, 0.67)","563\n(448, 694)","20.8\n(14.7, 28.0)","409\n(289, 550)"
522,Sudan,"2.28\n(1.71, 2.94)","2,747\n(2,069, 3,547)","141.8\n(54.2, 281.9)","2,572\n(984, 5,114)"
190,Uganda,"2.05\n(1.59, 2.58)","3,264\n(2,534, 4,112)","99.5\n(44.3, 187.1)","1,403\n(624, 2,639)"
189,United Republic of Tanzania,"1.80\n(1.39, 2.28)","3,755\n(2,898, 4,766)","192.0\n(93.0, 361.1)","2,063\n(1,000, 3,880)"
20,Viet Nam,"0.37\n(0.31, 0.46)","498\n(412, 611)","19.2\n(7.4, 41.7)","276\n(106, 601)"
1,Global,"1.00\n(0.80, 1.26)","136,011\n(108,114, 169,880)","7,278.9\n(5,347.5, 10,469.1)","1,098\n(807, 1,579)"

In [140]:
pd.Series(['a\nb'])

/ihme/homes/ndbs/miniconda3/envs/my_gbd_2019/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

0    a\nb
dtype: object

In [142]:
print('a\nb')

a
b

In [ ]:
zinc_summary.to_csv()