In [1]:
import pandas as pd, numpy as np

In [2]:
path =  '/ihme/homes/beatrixh/vivarium_data_analysis/pre_processing/lsff_project/data_prep/outputs/lsff_data_stage0.csv'

In [3]:
stage0 = pd.read_csv(path)

In [4]:
output = pd.DataFrame()

In [5]:
final_cols = ['location_id','location_name','sub_population','vehicle','value_description','nutrient','value_mean','value_025_percentile','value_975_percentile']

In [6]:
india = stage0[(stage0.location_name=="India") & (stage0.vehicle.isin(['oil','wheat flour']))]

In [7]:
ethiopia = stage0[(stage0.location_name=="Ethiopia") & (stage0.vehicle.isin(['oil','wheat flour']))]

In [8]:
nigeria = stage0[(stage0.location_name=="Nigeria") & (stage0.vehicle.isin(['oil','wheat flour']))]

In [9]:
## ethiopia

In [10]:
view_cols = ['location_name','subnational_name','urbanicity',
             'vehicle','nutrient','value_description','value_mean',
             'value_025_percentile','value_975_percentile','sub_population',
             'source_citation','source_year','source_link','source_additional','notes']

In [11]:
ethiopia.loc[ethiopia.value_description=="percent of population eating fortified vehicle",view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
23,Ethiopia,na,mixed/both,oil,vitamin a,percent of population eating fortified vehicle,1.0,NaN,NaN,NaN,NaN,NaN,https://vivarium-research.readthedocs.io/en/la...,NaN,NaN
337,Ethiopia,na,mixed/both,wheat flour,folic acid,percent of population eating fortified vehicle,1.0,NaN,NaN,NaN,NaN,NaN,https://vivarium-research.readthedocs.io/en/la...,NaN,NaN

In [12]:
#guessing CIs
ethiopia.loc[ethiopia.value_description=="percent of population eating fortified vehicle",['value_025_percentile','value_975_percentile']] = [0,5]

/ihme/code/central_comp/miniconda_svc-ccomp/envs/v104/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [13]:
ethiopia.loc[ethiopia.value_description=="percent of population eating fortified vehicle",final_cols]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.0,0.0,5.0
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.0,0.0,5.0

In [14]:
output = output.append(ethiopia.loc[ethiopia.value_description=="percent of population eating fortified vehicle",final_cols])

In [15]:
#wheat: percent of pop eating ind prod vehicle; separate for folic acid (wra) and zinc (u5)
ethiopia.loc[(ethiopia.value_description=="percent of population eating industrially produced vehicle") &
             (ethiopia.vehicle=="wheat flour") & (ethiopia.sub_population.isin(['under-5','women of reproductive age'])),view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
245,Ethiopia,na,NaN,wheat flour,na,percent of population eating industrially prod...,27.0,NaN,NaN,under-5,"Hafebo AS, Ndao PBL, Wuehler S, et al. Overvie...",2015,http://www.journalejnfs.com/index.php/EJNFS/ar...,NaN,no uncertainty and no fortification status (ca...
246,Ethiopia,na,NaN,wheat flour,na,percent of population eating industrially prod...,20.0,NaN,NaN,women of reproductive age,"Hafebo AS, Ndao PBL, Wuehler S, et al. Overvie...",2015,http://www.journalejnfs.com/index.php/EJNFS/ar...,NaN,no uncertainty and no fortification status (ca...

In [16]:
output = output.append(ethiopia.loc[(ethiopia.value_description=="percent of population eating industrially produced vehicle") &
             (ethiopia.vehicle=="wheat flour") & (ethiopia.sub_population.isin(['under-5','women of reproductive age'])),final_cols])

In [17]:
#oiL: percent of pop eating ind prod vehicle; separate for folic acid (wra) and zinc (u5)
ethiopia.loc[(ethiopia.value_description=="percent of population eating industrially produced vehicle") &
             (ethiopia.vehicle=="oil") & (ethiopia.sub_population=="under-5"),view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
85,Ethiopia,na,NaN,oil,na,percent of population eating industrially prod...,70.0,NaN,NaN,under-5,"Hafebo AS, Ndao PBL, Wuehler S, et al. Overvie...",2015,http://www.journalejnfs.com/index.php/EJNFS/ar...,NaN,no uncertainty and no fortification status (ca...

In [18]:
output = output.append(ethiopia.loc[(ethiopia.value_description=="percent of population eating industrially produced vehicle") &
             (ethiopia.vehicle=="oil") & (ethiopia.sub_population=="under-5"),final_cols])

In [19]:
#wheat: percent of pop eating fortified vehicle
ethiopia.loc[(ethiopia.value_description=="percent of population eating fortified vehicle") &
             (ethiopia.vehicle=="wheat flour"),view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
337,Ethiopia,na,mixed/both,wheat flour,folic acid,percent of population eating fortified vehicle,1.0,0.0,5.0,NaN,NaN,NaN,https://vivarium-research.readthedocs.io/en/la...,NaN,NaN

In [20]:
output = output.append(ethiopia.loc[(ethiopia.value_description=="percent of population eating fortified vehicle") &
             (ethiopia.vehicle=="wheat flour"),final_cols])

In [21]:
#oil: percent of pop eating fortified vehicle
ethiopia.loc[(ethiopia.value_description=="percent of population eating fortified vehicle") &
             (ethiopia.vehicle=="oil"),view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
23,Ethiopia,na,mixed/both,oil,vitamin a,percent of population eating fortified vehicle,1.0,0.0,5.0,NaN,NaN,NaN,https://vivarium-research.readthedocs.io/en/la...,NaN,NaN

In [22]:
output = output.append(ethiopia.loc[(ethiopia.value_description=="percent of population eating fortified vehicle") &
             (ethiopia.vehicle=="oil"),final_cols])

In [23]:
output

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.0,0.0,5.0
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.0,0.0,5.0
245,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27.0,NaN,NaN
246,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20.0,NaN,NaN
85,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70.0,NaN,NaN
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.0,0.0,5.0
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.0,0.0,5.0

In [24]:
n = 2
assume_ethiopia = pd.DataFrame({'location_id': ['179']*n,
 'location_name': ['Ethiopia']*n,
 'sub_population': [np.nan]*n,
 'vehicle': ['wheat flour']*n,
 'value_description': ['percent of population eating fortified vehicle']*n,
 'nutrient': ['zinc','iron'],
 'value_mean': ['0']*n,
 'value_025_percentile': ['0']*n,
 'value_975_percentile': ['5']*n})
assume_ethiopia

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0,0,5
1,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,iron,0,0,5

In [25]:
output = output.append(assume_ethiopia)

In [26]:
## india

In [27]:
# pop eating ind prod vehicle
india.loc[(india.value_description=="percent of population eating industrially produced vehicle") & 
     (india.vehicle.isin(['wheat flour','oil'])),view_cols]

,location_name,subnational_name,urbanicity,vehicle,nutrient,value_description,value_mean,value_025_percentile,value_975_percentile,sub_population,source_citation,source_year,source_link,source_additional,notes
40,India,Rajasthan,NaN,oil,na,percent of population eating industrially prod...,89.4,87.0,91.8,NaN,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",2017,https://doi.org/10.3945/jn.116.245753,NaN,NaN
192,India,Rajasthan,NaN,wheat flour,na,percent of population eating industrially prod...,7.1,5.6,9.1,NaN,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",2017,https://doi.org/10.3945/jn.116.245753,NaN,NaN

In [28]:
output = output.append(india.loc[(india.value_description=="percent of population eating industrially produced vehicle") & 
     (india.vehicle.isin(['wheat flour','oil'])),final_cols])

In [29]:
#percent of pop eating fortified vehicle
india.loc[(india.value_description=="percent of population eating fortified vehicle") & 
     (india.vehicle.isin(['wheat flour','oil'])) & (india.nutrient.isin(['folic acid','vitamin a','zinc','iron'])),final_cols].drop_duplicates()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,163,India,NaN,oil,percent of population eating fortified vehicle,vitamin a,24.3,21.1,27.9
153,163,India,NaN,wheat flour,percent of population eating fortified vehicle,iron,6.3,4.8,7.9
328,163,India,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,6.3,4.8,7.9

In [30]:
#percent of pop eating fortified vehicle
output = output.append(india.loc[(india.value_description=="percent of population eating fortified vehicle") & 
     (india.vehicle.isin(['wheat flour','oil'])) & (india.nutrient.isin(['folic acid','vitamin a','zinc','iron'])),final_cols].drop_duplicates())

In [31]:
n = 2
assume_india = pd.DataFrame({'location_id': ['163']*n,
 'location_name': ['India']*n,
 'sub_population': [np.nan]*n,
 'vehicle': ['wheat flour']*n,
 'value_description': ['percent of population eating fortified vehicle']*n,
 'nutrient': ['zinc','vitamin a'],
 'value_mean': ['0']*n,
 'value_025_percentile': ['0']*n,
 'value_975_percentile': ['5']*n})
assume_india

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,163,India,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0,0,5
1,163,India,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,0,0,5

In [32]:
output = output.append(assume_india)

In [33]:
output

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1,0,5
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1,0,5
245,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27,NaN,NaN
246,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20,NaN,NaN
85,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70,NaN,NaN
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1,0,5
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1,0,5
0,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0,0,5
1,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,iron,0,0,5
40,163,India,NaN,oil,percent of population eating industrially prod...,na,89.4,87,91.8
192,163,India,NaN,wheat flour,percent of population eating industrially prod...,na,7.1,5.6,9.1
0,163,India,NaN,oil,percent of population eating fortified vehicle,vitamin a,24.3,21.1,27.9
153,163,India,NaN,wheat flour,percent of population eating fortified vehicle,iron,6.3,4.8,7.9
328,163,India,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,6.3,4.8,7.9
0,163,India,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0,0,5
1,163,India,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,0,0,5

In [34]:
## nigeria

In [35]:
# nigeria location_id = 214
# kano location_id = 25337
# lagos location_id = 25342

# from db_queries import get_population as go
# go(age_group_id = 22, location_id = [25337,25342], year_id = 2015, sex_id = 3, gbd_round_id = 7, decomp_step = 'iterative')

kano_pop_2015 = 1.389539e+07
lagos_pop_2015 = 7.192101e+06

kano_weight = kano_pop_2015/(kano_pop_2015+lagos_pop_2015)
lagos_weight = lagos_pop_2015/(kano_pop_2015+lagos_pop_2015)

In [36]:
# pop eating ind prod vehicle
nigeria_ind_prod = nigeria.loc[(nigeria.value_description=="percent of population eating industrially produced vehicle") & 
     (nigeria.vehicle.isin(['wheat flour','oil'])),final_cols + ['subnational_name']]

nigeria_ind_prod.loc[nigeria_ind_prod.subnational_name=='lagos',['value_mean','value_025_percentile','value_975_percentile']] = nigeria_ind_prod.loc[nigeria_ind_prod.subnational_name=='lagos',['value_mean','value_025_percentile','value_975_percentile']] * lagos_weight

nigeria_ind_prod.loc[nigeria_ind_prod.subnational_name=='kano',['value_mean','value_025_percentile','value_975_percentile']] = nigeria_ind_prod.loc[nigeria_ind_prod.subnational_name=='kano',['value_mean','value_025_percentile','value_975_percentile']] * kano_weight

nigeria_ind_prod.groupby(['location_id',
 'location_name',
 'sub_population',
 'vehicle',
 'value_description',
 'nutrient']).sum().reset_index()[final_cols]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,214,Nigeria,total population,oil,percent of population eating industrially prod...,na,31.398007,28.334431,34.461583
1,214,Nigeria,total population,wheat flour,percent of population eating industrially prod...,na,59.925796,57.559902,62.291690

In [37]:
output = output.append(nigeria_ind_prod.groupby(['location_id',
 'location_name',
 'sub_population',
 'vehicle',
 'value_description',
 'nutrient']).sum().reset_index()[final_cols])

In [38]:
nigeria_fort = nigeria.loc[(nigeria.value_description=="percent of population eating fortified vehicle") & 
     (nigeria.vehicle.isin(['wheat flour','oil'])),final_cols + ['subnational_name']]

In [39]:
nigeria_fort = nigeria.loc[(nigeria.value_description=="percent of population eating fortified vehicle") & 
     (nigeria.vehicle.isin(['wheat flour','oil']) & (nigeria.nutrient.isin(['folic acid','vitamin a','zinc','iron']))),final_cols + ['subnational_name']]
nigeria_fort

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,subnational_name
11,214,Nigeria,total population,oil,percent of population eating fortified vehicle,vitamin a,7.2,5.5,8.9,lagos
12,214,Nigeria,total population,oil,percent of population eating fortified vehicle,vitamin a,7.6,5.9,9.4,kano
159,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,iron,5.4,3.8,6.9,lagos
160,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,iron,22.7,20.0,25.5,kano
331,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,folic acid,5.4,3.8,6.9,lagos
332,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,folic acid,22.7,20.0,25.5,kano
386,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,vitamin a,5.4,3.8,6.9,lagos
387,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,vitamin a,22.7,20.0,25.5,kano
411,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,zinc,5.4,3.8,6.9,lagos
412,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,zinc,22.7,20.0,25.5,kano

In [40]:
nigeria_fort.loc[nigeria_fort.subnational_name=='lagos',['value_mean','value_025_percentile','value_975_percentile']] = nigeria_fort.loc[nigeria_fort.subnational_name=='lagos',['value_mean','value_025_percentile','value_975_percentile']] * lagos_weight

nigeria_fort.loc[nigeria_fort.subnational_name=='kano',['value_mean','value_025_percentile','value_975_percentile']] = nigeria_fort.loc[nigeria_fort.subnational_name=='kano',['value_mean','value_025_percentile','value_975_percentile']] * kano_weight

nigeria_fort.groupby(['location_id',
 'location_name',
 'sub_population',
 'vehicle',
 'value_description',
 'nutrient']).sum().reset_index()[final_cols]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,214,Nigeria,total population,oil,percent of population eating fortified vehicle,vitamin a,7.463576,5.763576,9.229470
1,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,folic acid,16.799661,14.474827,19.156283
2,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,iron,16.799661,14.474827,19.156283
3,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,vitamin a,16.799661,14.474827,19.156283
4,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,zinc,16.799661,14.474827,19.156283

In [41]:
output = output.append(nigeria_fort.groupby(['location_id',
 'location_name',
 'sub_population',
 'vehicle',
 'value_description',
 'nutrient']).sum().reset_index()[final_cols])

In [42]:
output.value_mean

23           1
337          1
245         27
246         20
85          70
337          1
23           1
0            0
1            0
40        89.4
192        7.1
0         24.3
153        6.3
328        6.3
0            0
1            0
0       31.398
1      59.9258
0      7.46358
1      16.7997
2      16.7997
3      16.7997
4      16.7997
Name: value_mean, dtype: object

In [43]:
output.value_mean = output.value_mean.astype(float)
output.value_025_percentile = output.value_025_percentile.astype(float)
output.value_975_percentile = output.value_975_percentile.astype(float)

In [44]:
# output.loc[output.value_025_percentile.isna(),'value_025_percentile'] = output.value_mean - 10

In [45]:
output[(output.value_025_percentile.isna()) | (output.value_975_percentile.isna())]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
245,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27.0,NaN,NaN
246,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20.0,NaN,NaN
85,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70.0,NaN,NaN

In [46]:
output.loc[output.value_025_percentile.isna(),'value_025_percentile'] = [i - 10 for i in output.loc[output.value_025_percentile.isna(),'value_mean']]
output.loc[output.value_975_percentile.isna(),'value_975_percentile'] = [i + 10 for i in output.loc[output.value_975_percentile.isna(),'value_mean']]

In [47]:
output

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.000000,0.000000,5.000000
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.000000,0.000000,5.000000
245,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27.000000,17.000000,37.000000
246,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20.000000,10.000000,30.000000
85,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70.000000,60.000000,80.000000
337,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.000000,0.000000,5.000000
23,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.000000,0.000000,5.000000
0,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0.000000,0.000000,5.000000
1,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,iron,0.000000,0.000000,5.000000
40,163,India,NaN,oil,percent of population eating industrially prod...,na,89.400000,87.000000,91.800000
192,163,India,NaN,wheat flour,percent of population eating industrially prod...,na,7.100000,5.600000,9.100000
0,163,India,NaN,oil,percent of population eating fortified vehicle,vitamin a,24.300000,21.100000,27.900000
153,163,India,NaN,wheat flour,percent of population eating fortified vehicle,iron,6.300000,4.800000,7.900000
328,163,India,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,6.300000,4.800000,7.900000
0,163,India,NaN,wheat flour,percent of population eating fortified vehicle,zinc,0.000000,0.000000,5.000000
1,163,India,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,0.000000,0.000000,5.000000
0,214,Nigeria,total population,oil,percent of population eating industrially prod...,na,31.398007,28.334431,34.461583
1,214,Nigeria,total population,wheat flour,percent of population eating industrially prod...,na,59.925796,57.559902,62.291690
0,214,Nigeria,total population,oil,percent of population eating fortified vehicle,vitamin a,7.463576,5.763576,9.229470
1,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,folic acid,16.799661,14.474827,19.156283
2,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,iron,16.799661,14.474827,19.156283
3,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,vitamin a,16.799661,14.474827,19.156283
4,214,Nigeria,total population,wheat flour,percent of population eating fortified vehicle,zinc,16.799661,14.474827,19.156283

In [48]:
output.shape, output.drop_duplicates().shape

((23, 9), (21, 9))

In [49]:
output = output.drop_duplicates()

In [50]:
assert(len(output[(output.value_mean > output.value_975_percentile) | (output.value_mean < output.value_025_percentile)])==0)

In [51]:
save_path = '/ihme/homes/beatrixh/vivarium_data_analysis/pre_processing/lsff_project/data_prep/outputs/nigeria_ethiopia_india_coverage_data.csv'
output.to_csv(save_path, index = False)