In [1]:
from vivarium_inputs.interface import get_measure
import gbd_mapping as gbd
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from db_queries import get_model_results
from get_draws.api import get_draws
!whoami
!date

yaqiw
Tue Mar  3 09:50:32 PST 2020

- measure_id for incidence is 6
- measure_id for remission is 7
- gbd_round_id is 5
- rei_id for Vitamin A deficiency is 96
- modelable_entity_id for Vitamin A deficiency is 2510
- age_group_id for early neonatal is 2, for late neonatal is 3, for post neonatal is 4, for year 1 to 4 is 5
- location_id for Nigeria is 214, for India is 163, for Ethiopia is 179
- year_id is 2017

In [2]:
def pullData(measure_id):
    vitA_def = get_draws("rei_id", 96, location_id=[214, 163, 179], age_group_id=[2,3,4,5],
                     year_id=2017, sex_id=[1,2], source="exposure", gbd_round_id=5)
    df = vitA_def.query(f'measure_id == {measure_id} and modelable_entity_id == 2510')
    df_final = df.melt(id_vars = ['rei_id', 'modelable_entity_id', 'location_id', 'year_id','age_group_id', 'sex_id', 'parameter', 'measure_id', 'metric_id'], 
                      var_name = 'draw_number', value_name = 'value')
    if measure_id == 7:
        measure = 'Remission'
    elif measure_id == 6:
        measure = 'Incidence'
    df_final['location_id'].replace({163:'India', 179:'Ethiopia', 214:'Nigeria'}, inplace = True)
    print(f'{measure} summary statistics (mean, upper, lower) for each of the under 5 age groups:')
    return df_final.groupby(['location_id'])['value'].describe(percentiles=[.025, .975])[['mean','2.5%','97.5%']]

In [3]:
pullData(7)

Remission summary statistics (mean, upper, lower) for each of the under 5 age groups:

                 mean      2.5%     97.5%
location_id
Ethiopia     1.089201  0.651359  1.543941
India        1.383856  0.905363  1.786397
Nigeria      1.249464  0.844696  1.719305

In [4]:
pullData(6)

Incidence summary statistics (mean, upper, lower) for each of the under 5 age groups:

                 mean      2.5%     97.5%
location_id
Ethiopia     0.325023  0.257798  0.375057
India        0.320217  0.264371  0.371203
Nigeria      0.318694  0.228310  0.378860

In [5]:
def pullDataDetail(measure_id):
    vitA_def = get_draws("rei_id", 96, location_id=[214, 163, 179], age_group_id=[2,3,4,5],
                     year_id=2017, sex_id=[1,2], source="exposure", gbd_round_id=5)
    df = vitA_def.query(f'measure_id == {measure_id} and modelable_entity_id == 2510')
    df_final = df.melt(id_vars = ['rei_id', 'modelable_entity_id', 'location_id', 'year_id','age_group_id', 'sex_id', 'parameter', 'measure_id', 'metric_id'], 
                      var_name = 'draw_number', value_name = 'value')
    if measure_id == 7:
        measure = 'Remission'
    elif measure_id == 6:
        measure = 'Incidence'
    df_final['location_id'].replace({163:'India', 179:'Ethiopia', 214:'Nigeria'}, inplace = True)
    print(f'{measure} summary statistics (mean, upper, lower) for each of the under 5 age groups:')
    return df_final.groupby(['location_id','age_group_id'])['value'].describe(percentiles=[.025, .975])[['mean','2.5%','97.5%']]

In [6]:
pullDataDetail(7)

Remission summary statistics (mean, upper, lower) for each of the under 5 age groups:

                              mean      2.5%     97.5%
location_id age_group_id
Ethiopia    2             1.199066  0.865323  1.588089
            3             1.198239  0.873745  1.575558
            4             1.149372  0.855940  1.520560
            5             0.810127  0.594523  1.077415
India       2             1.493415  1.155550  1.817792
            3             1.491040  1.165191  1.820655
            4             1.440631  1.148284  1.764298
            5             1.110338  0.835511  1.421899
Nigeria     2             1.310542  0.910151  1.764747
            3             1.312746  0.927732  1.762125
            4             1.291210  0.933682  1.689215
            5             1.083359  0.770175  1.443040

In [7]:
pullDataDetail(6)

Incidence summary statistics (mean, upper, lower) for each of the under 5 age groups:

                              mean      2.5%     97.5%
location_id age_group_id
Ethiopia    2             0.305092  0.249644  0.358661
            3             0.308618  0.252604  0.360240
            4             0.331426  0.278118  0.375385
            5             0.354956  0.318470  0.379514
India       2             0.299038  0.257216  0.343556
            3             0.302491  0.261218  0.345876
            4             0.325660  0.285787  0.364106
            5             0.353680  0.320637  0.377309
Nigeria     2             0.301927  0.216939  0.366199
            3             0.305510  0.221767  0.369764
            4             0.327663  0.241820  0.385616
            5             0.339673  0.282958  0.379262