In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt
# import gbd_mapping as gbd
# from db_queries import get_outputs, get_ids
# from get_draws.api import get_draws
# from vivarium import Artifact

In [36]:
!whoami
!date

ndbs
Tue Feb  4 14:52:37 PST 2020

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import bep_summarizer

In [3]:
artifact_dir = '/ihme/costeffectiveness/artifacts/vivarium_gates_bep'
results_dir = '/share/costeffectiveness/results/vivarium_gates_bep/base_model'

In [6]:
locations_rundates = {
    'Mali': '2020_02_03_21_34_18',
    'Tanzania': '2020_02_03_21_34_44'
}

In [7]:
all_output = bep_summarizer.load_by_location_and_rundate(results_dir, locations_rundates)
bep_summarizer.print_location_output_shapes(locations_rundates, all_output)

Mali (100, 1384)
Tanzania (100, 1384)

In [8]:
all_output.head()

,,total_population_untracked,total_population_tracked,total_population,diarrheal_diseases_prevalent_cases_at_sim_end,susceptible_to_diarrheal_diseases_event_count,diarrheal_diseases_event_count,measles_prevalent_cases_at_sim_end,susceptible_to_measles_event_count,measles_event_count,recovered_from_measles_event_count,...,gestational_age_mean_among_female,gestational_age_sd_among_female,gestational_age_proportion_below_37w_among_female,birth_weight_mean_among_male,birth_weight_sd_among_male,birth_weight_proportion_below_2500g_among_male,gestational_age_mean_among_male,gestational_age_sd_among_male,gestational_age_proportion_below_37w_among_male,location
input_draw_number,random_seed,,,,,,,,,,,,,,,,,,,,,
357.0,12.0,0.0,10000.0,10000.0,217.0,40972.0,41140.0,107.0,0.0,115.0,111.0,...,38.570552,2.560872,0.144033,2919.088728,658.474258,0.169455,38.632262,2.532454,0.138521,Mali
394.0,70.0,0.0,10000.0,10000.0,186.0,36064.0,36197.0,1017.0,0.0,1067.0,1036.0,...,38.592473,2.547003,0.143675,2906.743706,661.576948,0.177599,38.587616,2.424879,0.138829,Mali
946.0,97.0,0.0,10000.0,10000.0,222.0,38041.0,38177.0,231.0,0.0,239.0,233.0,...,38.572531,2.733318,0.136722,2902.339704,665.288987,0.187066,38.619674,2.538196,0.149614,Mali
602.0,97.0,0.0,10000.0,10000.0,232.0,36664.0,36823.0,516.0,0.0,548.0,522.0,...,38.540375,2.837465,0.149460,2923.239931,651.674749,0.163883,38.560210,2.593945,0.146394,Mali
629.0,36.0,0.0,10000.0,10000.0,181.0,31625.0,31718.0,556.0,0.0,577.0,563.0,...,38.494106,2.875527,0.146860,2910.314342,658.179451,0.179808,38.657477,2.460039,0.125611,Mali

In [10]:
output = bep_summarizer.BEPOutputSummarizer(all_output)
output.print_column_report()

Number of data columns in output: 1384
Total number of columns captured in categories: 1362

Number of columns in each category:
 {'input_draw': 1, 'random_seed': 1, 'location': 1, 'intervention': 0, 'run_time': 0, 'diseases_at_end': 5, 'disease_event_count': 311, 'population': 5, 'person_time': 420, 'treated_days': 0, 'mortality': 210, 'total_daly': 2, 'yld': 180, 'yll': 210, 'categorical_risk': 16, 'graded_sequela': 0}

Missing (22 data column(s) not captured in a category):
 {'gestational_age_mean_among_male', 'stunting_z_score_mean_at_six_months_among_female', 'birth_weight_proportion_below_2500g_among_female', 'gestational_age_sd_among_female', 'gestational_age_sd_among_male', 'wasting_z_score_mean_at_six_months_among_male', 'gestational_age_proportion_below_37w_among_male', 'stunting_z_score_sd_at_six_months_among_male', 'neonatal_disorders_prevalent_count_at_birth_among_female', 'birth_weight_mean_among_female', 'stunting_z_score_sd_at_six_months_among_female', 'birth_weight_sd_among_female', 'birth_weight_proportion_below_2500g_among_male', 'gestational_age_mean_among_female', 'wasting_z_score_sd_at_six_months_among_male', 'wasting_z_score_mean_at_six_months_among_female', 'stunting_z_score_mean_at_six_months_among_male', 'birth_weight_sd_among_male', 'wasting_z_score_sd_at_six_months_among_female', 'gestational_age_proportion_below_37w_among_female', 'neonatal_disorders_prevalent_count_at_birth_among_male', 'birth_weight_mean_among_male'}

Repeated (0 data column(s) appearing in more than one category):
 {}

Empty categories (4 categories with no matching data columns):
 ['intervention', 'run_time', 'treated_days', 'graded_sequela']

### Columns for wasting are exposure in each category at 6 months, WLZ mean and st. dev at 6 months

In [25]:
output.data.filter(regex='wasting').shape

(200, 12)

In [22]:
output.data.filter(regex='wasting').columns

Index(['wasting_cat4_exposed_at_six_months_among_female',
       'wasting_cat3_exposed_at_six_months_among_female',
       'wasting_cat2_exposed_at_six_months_among_female',
       'wasting_cat1_exposed_at_six_months_among_female',
       'wasting_cat4_exposed_at_six_months_among_male',
       'wasting_cat3_exposed_at_six_months_among_male',
       'wasting_cat2_exposed_at_six_months_among_male',
       'wasting_cat1_exposed_at_six_months_among_male',
       'wasting_z_score_mean_at_six_months_among_female',
       'wasting_z_score_sd_at_six_months_among_female',
       'wasting_z_score_mean_at_six_months_among_male',
       'wasting_z_score_sd_at_six_months_among_male'],
      dtype='object')

### 2 "prevalent count" columns: neonatal disorders at birth among male/female

In [16]:
output.data.filter(regex='prevalent_count').head()

,,neonatal_disorders_prevalent_count_at_birth_among_male,neonatal_disorders_prevalent_count_at_birth_among_female
input_draw_number,random_seed,,
357.0,12.0,880.0,741.0
394.0,70.0,926.0,824.0
946.0,97.0,969.0,834.0
602.0,97.0,919.0,869.0
629.0,36.0,775.0,789.0

## Check birth prevalence of NN disorders, as it looks like it might be wrong

In Mali, the artifact says birth prevalence of NN disorders should be ~0.21 for males and ~0.20 for females. In our sim it looks like it's ~0.087 for males and ~0.081 for females

In [52]:
output.data.query("location == 'Mali'").head()

,,total_population_untracked,total_population_tracked,total_population,diarrheal_diseases_prevalent_cases_at_sim_end,susceptible_to_diarrheal_diseases_event_count,diarrheal_diseases_event_count,measles_prevalent_cases_at_sim_end,susceptible_to_measles_event_count,measles_event_count,recovered_from_measles_event_count,...,gestational_age_mean_among_female,gestational_age_sd_among_female,gestational_age_proportion_below_37w_among_female,birth_weight_mean_among_male,birth_weight_sd_among_male,birth_weight_proportion_below_2500g_among_male,gestational_age_mean_among_male,gestational_age_sd_among_male,gestational_age_proportion_below_37w_among_male,location
input_draw_number,random_seed,,,,,,,,,,,,,,,,,,,,,
357.0,12.0,0.0,10000.0,10000.0,217.0,40972.0,41140.0,107.0,0.0,115.0,111.0,...,38.570552,2.560872,0.144033,2919.088728,658.474258,0.169455,38.632262,2.532454,0.138521,Mali
394.0,70.0,0.0,10000.0,10000.0,186.0,36064.0,36197.0,1017.0,0.0,1067.0,1036.0,...,38.592473,2.547003,0.143675,2906.743706,661.576948,0.177599,38.587616,2.424879,0.138829,Mali
946.0,97.0,0.0,10000.0,10000.0,222.0,38041.0,38177.0,231.0,0.0,239.0,233.0,...,38.572531,2.733318,0.136722,2902.339704,665.288987,0.187066,38.619674,2.538196,0.149614,Mali
602.0,97.0,0.0,10000.0,10000.0,232.0,36664.0,36823.0,516.0,0.0,548.0,522.0,...,38.540375,2.837465,0.149460,2923.239931,651.674749,0.163883,38.560210,2.593945,0.146394,Mali
629.0,36.0,0.0,10000.0,10000.0,181.0,31625.0,31718.0,556.0,0.0,577.0,563.0,...,38.494106,2.875527,0.146860,2910.314342,658.179451,0.179808,38.657477,2.460039,0.125611,Mali

In [53]:
nn_birth_prev_mali = output.data.query("location == 'Mali'").filter(regex='prevalent_count')
nn_birth_prev_mali = nn_birth_prev_mali.reset_index().groupby('input_draw_number').sum()
nn_birth_prev_mali.head()

,random_seed,neonatal_disorders_prevalent_count_at_birth_among_male,neonatal_disorders_prevalent_count_at_birth_among_female
input_draw_number,,,
29.0,373.0,8690.0,8743.0
232.0,373.0,8099.0,7642.0
357.0,373.0,8508.0,7676.0
394.0,373.0,9322.0,8092.0
602.0,373.0,8983.0,8694.0

In [54]:
# Total population for each draw is 100,000
nn_birth_prev_mali = nn_birth_prev_mali.drop(columns='random_seed') / 100_000
nn_birth_prev_mali

,neonatal_disorders_prevalent_count_at_birth_among_male,neonatal_disorders_prevalent_count_at_birth_among_female
input_draw_number,,
29.0,0.08690,0.08743
232.0,0.08099,0.07642
357.0,0.08508,0.07676
394.0,0.09322,0.08092
602.0,0.08983,0.08694
629.0,0.08053,0.07964
650.0,0.08827,0.07905
680.0,0.08570,0.07979
829.0,0.08559,0.08590
946.0,0.09726,0.08530

In [55]:
nn_birth_prev_mali.describe()

,neonatal_disorders_prevalent_count_at_birth_among_male,neonatal_disorders_prevalent_count_at_birth_among_female
count,10.000000,10.000000
mean,0.087337,0.081815
std,0.005140,0.004197
min,0.080530,0.076420
25%,0.085208,0.079197
50%,0.086300,0.080355
75%,0.089440,0.085750
max,0.097260,0.087430

### 4 "proportion" columns: proportions of LBW and preterm babies by sex

In [24]:
output.data.filter(regex='proportion').columns

Index(['birth_weight_proportion_below_2500g_among_female',
       'gestational_age_proportion_below_37w_among_female',
       'birth_weight_proportion_below_2500g_among_male',
       'gestational_age_proportion_below_37w_among_male'],
      dtype='object')

### Means and standard deviations exist for LAZ/WLZ at 6 months, birth weight, and gestational age

In [26]:
output.data.filter(regex='_mean_').shape

(200, 8)

In [23]:
output.data.filter(regex='_mean_').columns

Index(['wasting_z_score_mean_at_six_months_among_female',
       'stunting_z_score_mean_at_six_months_among_female',
       'wasting_z_score_mean_at_six_months_among_male',
       'stunting_z_score_mean_at_six_months_among_male',
       'birth_weight_mean_among_female', 'gestational_age_mean_among_female',
       'birth_weight_mean_among_male', 'gestational_age_mean_among_male'],
      dtype='object')

In [37]:
output.data.filter(regex='_mean_').head()

,,wasting_z_score_mean_at_six_months_among_female,stunting_z_score_mean_at_six_months_among_female,wasting_z_score_mean_at_six_months_among_male,stunting_z_score_mean_at_six_months_among_male,birth_weight_mean_among_female,gestational_age_mean_among_female,birth_weight_mean_among_male,gestational_age_mean_among_male
input_draw_number,random_seed,,,,,,,,
357.0,12.0,9.732495,9.732495,9.411515,9.411515,2939.146626,38.570552,2919.088728,38.632262
394.0,70.0,9.805281,9.805281,9.153314,9.153314,2930.277316,38.592473,2906.743706,38.587616
946.0,97.0,9.848484,9.848484,9.666802,9.666802,3037.113527,38.572531,2902.339704,38.619674
602.0,97.0,9.898247,9.898247,9.431890,9.431890,2936.828557,38.540375,2923.239931,38.560210
629.0,36.0,9.806888,9.806888,9.604427,9.604427,2924.980547,38.494106,2910.314342,38.657477

In [27]:
output.data.filter(regex='_sd_').shape

(200, 8)

In [21]:
output.data.filter(regex='_sd_').columns

Index(['wasting_z_score_sd_at_six_months_among_female',
       'stunting_z_score_sd_at_six_months_among_female',
       'wasting_z_score_sd_at_six_months_among_male',
       'stunting_z_score_sd_at_six_months_among_male',
       'birth_weight_sd_among_female', 'gestational_age_sd_among_female',
       'birth_weight_sd_among_male', 'gestational_age_sd_among_male'],
      dtype='object')

In [38]:
output.data.filter(regex='_sd_').head()

,,wasting_z_score_sd_at_six_months_among_female,stunting_z_score_sd_at_six_months_among_female,wasting_z_score_sd_at_six_months_among_male,stunting_z_score_sd_at_six_months_among_male,birth_weight_sd_among_female,gestational_age_sd_among_female,birth_weight_sd_among_male,gestational_age_sd_among_male
input_draw_number,random_seed,,,,,,,,
357.0,12.0,1.228998,1.228998,1.457413,1.457413,651.953123,2.560872,658.474258,2.532454
394.0,70.0,1.166262,1.166262,1.118113,1.118113,666.627425,2.547003,661.576948,2.424879
946.0,97.0,1.244168,1.244168,1.686597,1.686597,669.185782,2.733318,665.288987,2.538196
602.0,97.0,1.258865,1.258865,1.433573,1.433573,645.532342,2.837465,651.674749,2.593945
629.0,36.0,1.458078,1.458078,1.562327,1.562327,668.141321,2.875527,658.179451,2.460039

### Measures at 6 months are stunting/wasting exposure by category, and LAZ/WLZ means and std. devs

In [18]:
output.data.filter(regex='at_six_months').head()

,,wasting_cat4_exposed_at_six_months_among_female,wasting_cat3_exposed_at_six_months_among_female,wasting_cat2_exposed_at_six_months_among_female,wasting_cat1_exposed_at_six_months_among_female,stunting_cat4_exposed_at_six_months_among_female,stunting_cat3_exposed_at_six_months_among_female,stunting_cat2_exposed_at_six_months_among_female,stunting_cat1_exposed_at_six_months_among_female,wasting_cat4_exposed_at_six_months_among_male,wasting_cat3_exposed_at_six_months_among_male,...,stunting_cat2_exposed_at_six_months_among_male,stunting_cat1_exposed_at_six_months_among_male,wasting_z_score_mean_at_six_months_among_female,wasting_z_score_sd_at_six_months_among_female,stunting_z_score_mean_at_six_months_among_female,stunting_z_score_sd_at_six_months_among_female,wasting_z_score_mean_at_six_months_among_male,wasting_z_score_sd_at_six_months_among_male,stunting_z_score_mean_at_six_months_among_male,stunting_z_score_sd_at_six_months_among_male
input_draw_number,random_seed,,,,,,,,,,,,,,,,,,,,,
357.0,12.0,6569.0,1916.0,848.0,315.0,5602.0,2909.0,902.0,235.0,6569.0,1916.0,...,902.0,235.0,9.732495,1.228998,9.732495,1.228998,9.411515,1.457413,9.411515,1.457413
394.0,70.0,6394.0,2198.0,768.0,209.0,3345.0,2504.0,3139.0,581.0,6394.0,2198.0,...,3139.0,581.0,9.805281,1.166262,9.805281,1.166262,9.153314,1.118113,9.153314,1.118113
946.0,97.0,6854.0,1722.0,694.0,346.0,3116.0,3070.0,2190.0,1240.0,6854.0,1722.0,...,2190.0,1240.0,9.848484,1.244168,9.848484,1.244168,9.666802,1.686597,9.666802,1.686597
602.0,97.0,6707.0,1854.0,755.0,278.0,4740.0,3625.0,1077.0,152.0,6707.0,1854.0,...,1077.0,152.0,9.898247,1.258865,9.898247,1.258865,9.431890,1.433573,9.431890,1.433573
629.0,36.0,6609.0,1812.0,848.0,353.0,5846.0,2465.0,982.0,329.0,6609.0,1812.0,...,982.0,329.0,9.806888,1.458078,9.806888,1.458078,9.604427,1.562327,9.604427,1.562327

In [19]:
output.data.filter(regex='at_six_months').columns

Index(['wasting_cat4_exposed_at_six_months_among_female',
       'wasting_cat3_exposed_at_six_months_among_female',
       'wasting_cat2_exposed_at_six_months_among_female',
       'wasting_cat1_exposed_at_six_months_among_female',
       'stunting_cat4_exposed_at_six_months_among_female',
       'stunting_cat3_exposed_at_six_months_among_female',
       'stunting_cat2_exposed_at_six_months_among_female',
       'stunting_cat1_exposed_at_six_months_among_female',
       'wasting_cat4_exposed_at_six_months_among_male',
       'wasting_cat3_exposed_at_six_months_among_male',
       'wasting_cat2_exposed_at_six_months_among_male',
       'wasting_cat1_exposed_at_six_months_among_male',
       'stunting_cat4_exposed_at_six_months_among_male',
       'stunting_cat3_exposed_at_six_months_among_male',
       'stunting_cat2_exposed_at_six_months_among_male',
       'stunting_cat1_exposed_at_six_months_among_male',
       'wasting_z_score_mean_at_six_months_among_female',
       'wasting_z_score_sd_at_six_months_among_female',
       'stunting_z_score_mean_at_six_months_among_female',
       'stunting_z_score_sd_at_six_months_among_female',
       'wasting_z_score_mean_at_six_months_among_male',
       'wasting_z_score_sd_at_six_months_among_male',
       'stunting_z_score_mean_at_six_months_among_male',
       'stunting_z_score_sd_at_six_months_among_male'],
      dtype='object')

### 16 risk exposure columns: stunting/wasting categories at 6 months

In [28]:
len(output.columns('categorical_risk'))

16

In [20]:
output.columns('categorical_risk')

['wasting_cat4_exposed_at_six_months_among_female',
 'wasting_cat3_exposed_at_six_months_among_female',
 'wasting_cat2_exposed_at_six_months_among_female',
 'wasting_cat1_exposed_at_six_months_among_female',
 'stunting_cat4_exposed_at_six_months_among_female',
 'stunting_cat3_exposed_at_six_months_among_female',
 'stunting_cat2_exposed_at_six_months_among_female',
 'stunting_cat1_exposed_at_six_months_among_female',
 'wasting_cat4_exposed_at_six_months_among_male',
 'wasting_cat3_exposed_at_six_months_among_male',
 'wasting_cat2_exposed_at_six_months_among_male',
 'wasting_cat1_exposed_at_six_months_among_male',
 'stunting_cat4_exposed_at_six_months_among_male',
 'stunting_cat3_exposed_at_six_months_among_male',
 'stunting_cat2_exposed_at_six_months_among_male',
 'stunting_cat1_exposed_at_six_months_among_male']

### Check "prevalent cases at sim end" columns

Note that there is no recovery from neonatal conditions, so simulants will still have them at the end.

In [29]:
output.columns('diseases_at_end')

['diarrheal_diseases_prevalent_cases_at_sim_end',
 'measles_prevalent_cases_at_sim_end',
 'lower_respiratory_infections_prevalent_cases_at_sim_end',
 'meningitis_prevalent_cases_at_sim_end',
 'neonatal_disorders_prevalent_cases_at_sim_end']

In [31]:
output.data['neonatal_disorders_prevalent_cases_at_sim_end'].head(10)

input_draw_number  random_seed
357.0              12.0           1398.0
394.0              70.0           1490.0
946.0              97.0           1570.0
602.0              97.0           1541.0
629.0              36.0           1349.0
680.0              7.0            1400.0
232.0              49.0           1381.0
394.0              49.0           1453.0
29.0               44.0           1514.0
232.0              36.0           1418.0
Name: neonatal_disorders_prevalent_cases_at_sim_end, dtype: float64

### What are the 5 population columns?

In [32]:
output.columns('population')

['total_population_untracked',
 'total_population_tracked',
 'total_population',
 'total_population_living',
 'total_population_dead']

In [39]:
output.subdata['population'].head()

,,total_population_untracked,total_population_tracked,total_population,total_population_living,total_population_dead
input_draw_number,random_seed,,,,,
357.0,12.0,0.0,10000.0,10000.0,9336.0,664.0
394.0,70.0,0.0,10000.0,10000.0,9247.0,753.0
946.0,97.0,0.0,10000.0,10000.0,9355.0,645.0
602.0,97.0,0.0,10000.0,10000.0,9319.0,681.0
629.0,36.0,0.0,10000.0,10000.0,9326.0,674.0

### Investigate what the person-time columns look like

In [33]:
output.columns('person_time')[:20]

['person_time_in_2020_among_male_in_age_group_early_neonatal',
 'person_time_in_2020_among_female_in_age_group_early_neonatal',
 'person_time_in_2020_among_male_in_age_group_late_neonatal',
 'person_time_in_2020_among_female_in_age_group_late_neonatal',
 'person_time_in_2020_among_male_in_age_group_1mo_to_6mo',
 'person_time_in_2020_among_female_in_age_group_1mo_to_6mo',
 'person_time_in_2020_among_male_in_age_group_6mo_to_1',
 'person_time_in_2020_among_female_in_age_group_6mo_to_1',
 'person_time_in_2020_among_male_in_age_group_1_to_4',
 'person_time_in_2020_among_female_in_age_group_1_to_4',
 'person_time_in_2021_among_male_in_age_group_early_neonatal',
 'person_time_in_2021_among_female_in_age_group_early_neonatal',
 'person_time_in_2021_among_male_in_age_group_late_neonatal',
 'person_time_in_2021_among_female_in_age_group_late_neonatal',
 'person_time_in_2021_among_male_in_age_group_1mo_to_6mo',
 'person_time_in_2021_among_female_in_age_group_1mo_to_6mo',
 'person_time_in_2021_among_male_in_age_group_6mo_to_1',
 'person_time_in_2021_among_female_in_age_group_6mo_to_1',
 'person_time_in_2021_among_male_in_age_group_1_to_4',
 'person_time_in_2021_among_female_in_age_group_1_to_4']

In [34]:
output.columns('person_time')[-20:]

['susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_early_neonatal',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_early_neonatal',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_late_neonatal',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_late_neonatal',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_1mo_to_6mo',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_1mo_to_6mo',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_6mo_to_1',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_6mo_to_1',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_1_to_4',
 'susceptible_to_protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_1_to_4',
 'protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_early_neonatal',
 'protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_early_neonatal',
 'protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_late_neonatal',
 'protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_late_neonatal',
 'protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_1mo_to_6mo',
 'protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_1mo_to_6mo',
 'protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_6mo_to_1',
 'protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_6mo_to_1',
 'protein_energy_malnutrition_person_time_in_2022_among_male_in_age_group_1_to_4',
 'protein_energy_malnutrition_person_time_in_2022_among_female_in_age_group_1_to_4']

In [35]:
output.columns('person_time')[150:170]

['susceptible_to_measles_person_time_in_2022_among_male_in_age_group_early_neonatal',
 'susceptible_to_measles_person_time_in_2022_among_female_in_age_group_early_neonatal',
 'susceptible_to_measles_person_time_in_2022_among_male_in_age_group_late_neonatal',
 'susceptible_to_measles_person_time_in_2022_among_female_in_age_group_late_neonatal',
 'susceptible_to_measles_person_time_in_2022_among_male_in_age_group_1mo_to_6mo',
 'susceptible_to_measles_person_time_in_2022_among_female_in_age_group_1mo_to_6mo',
 'susceptible_to_measles_person_time_in_2022_among_male_in_age_group_6mo_to_1',
 'susceptible_to_measles_person_time_in_2022_among_female_in_age_group_6mo_to_1',
 'susceptible_to_measles_person_time_in_2022_among_male_in_age_group_1_to_4',
 'susceptible_to_measles_person_time_in_2022_among_female_in_age_group_1_to_4',
 'measles_person_time_in_2022_among_male_in_age_group_early_neonatal',
 'measles_person_time_in_2022_among_female_in_age_group_early_neonatal',
 'measles_person_time_in_2022_among_male_in_age_group_late_neonatal',
 'measles_person_time_in_2022_among_female_in_age_group_late_neonatal',
 'measles_person_time_in_2022_among_male_in_age_group_1mo_to_6mo',
 'measles_person_time_in_2022_among_female_in_age_group_1mo_to_6mo',
 'measles_person_time_in_2022_among_male_in_age_group_6mo_to_1',
 'measles_person_time_in_2022_among_female_in_age_group_6mo_to_1',
 'measles_person_time_in_2022_among_male_in_age_group_1_to_4',
 'measles_person_time_in_2022_among_female_in_age_group_1_to_4']

In [49]:
output.subdata['person_time'].filter(regex=r'^neonatal_disorders\w*2020').head()

,,neonatal_disorders_person_time_in_2020_among_male_in_age_group_early_neonatal,neonatal_disorders_person_time_in_2020_among_female_in_age_group_early_neonatal,neonatal_disorders_person_time_in_2020_among_male_in_age_group_late_neonatal,neonatal_disorders_person_time_in_2020_among_female_in_age_group_late_neonatal,neonatal_disorders_person_time_in_2020_among_male_in_age_group_1mo_to_6mo,neonatal_disorders_person_time_in_2020_among_female_in_age_group_1mo_to_6mo,neonatal_disorders_person_time_in_2020_among_male_in_age_group_6mo_to_1,neonatal_disorders_person_time_in_2020_among_female_in_age_group_6mo_to_1,neonatal_disorders_person_time_in_2020_among_male_in_age_group_1_to_4,neonatal_disorders_person_time_in_2020_among_female_in_age_group_1_to_4
input_draw_number,random_seed,,,,,,,,,,
357.0,12.0,18.642026,15.611225,46.724162,38.910335,335.449692,281.404517,0.0,0.0,0.0,0.0
394.0,70.0,19.312799,17.456537,47.457906,43.980835,341.905544,317.716632,0.0,0.0,0.0,0.0
946.0,97.0,20.279261,17.541410,50.151951,44.191650,363.301848,320.030116,0.0,0.0,0.0,0.0
602.0,97.0,19.189596,18.360027,47.515400,46.058864,342.442163,331.767283,0.0,0.0,0.0,0.0
629.0,36.0,16.172485,16.752909,40.394251,42.277892,288.616016,306.354552,0.0,0.0,0.0,0.0